{{#> blank.html}}

{{#*inline "viewport"}}{{/inline}}

{{#*inline "title"}}貓咪圖鑑{{/inline}}

{{#*inline "scripts"}}
	{{~> @partial-block}}
	<script src="cat_dict.js" type="module"></script>
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	body {
		padding: 0;
		margin: 0;
		width: 100%;
		font-size: max(14px, 1.2vw);
		font-family: "Lato", "Noto Sans TC", "MS Gothic", sans-serif;
		user-select: none;
	}
	@keyframes tooltip {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.tooltip {
		display: block;
		position: absolute;
		white-space: nowrap;
		left: 0px;
		top: 0px;
		z-index: 1;
		background-color: black;
		color: white;
		text-align: center;
		border-radius: 6px;
		padding: 0.3em 0.5em;
		animation: 0.4s linear tooltip;
	}
	.grayscale {
	}
	[data-t="1"] .grayscale {
		filter: brightness(0.6);
	}
	#cats a {
		margin: 7px;
		display: inline-block;
	}
	#cats img {
		max-width: 13vw;
		height: auto;
	}
	@media screen and (max-width: 600px) {
		#cats a {
			max-width: 15vw;
		}
	}
	@media screen and (max-width: 500px) {
		#cats a {
			max-width: 17vw;
		}
	}
	.btn,
	.M button {
		user-select: none;
		font-size: larger;
		cursor: pointer;
		font-weight: bold;
		color: #fff;
		text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		border: solid #000 2px;
		background-image: linear-gradient(#ffd10a, #eb8900);
		padding: 2px 0.5em;
		text-align: center;
		border-radius: 0.35em;
		margin: 0.2em;
	}
	.btn:active, .M button:active {
		background-color: #3e8e41 !important;
		box-shadow: 2px 3px #666;
		transform: translateY(2px);
	}
	fieldset button {
		display: flex;
		align-items: center;
	}
	.or {
		cursor: pointer;
		transition: 0.4s;
	}
	.or:active {
		transform: translate(2px, 2px);
	}
	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		width: 120px;
		height: 120px;
		margin: -76px 0 0 -76px;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.M {
		max-width: 90vw;
		margin: auto;
		margin-top: 10vh;
		background-color: #595959;
		position: relative;
		padding: 1em;
		border-radius: 0.5em;
		outline: 0;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
			0 4px 20px 0 rgba(0, 0, 0, 0.19);
		color: #efefef;
	}
	.modal {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		background-color: #0000008a;
		width: 100%;
		height: 100%;
		overflow: auto;
		z-index: 2;
	}
	input[type="radio"] {
		width: 24px;
		height: 24px;
		position: relative;
		top: 6px;
	}
	.selected {
		background-image: linear-gradient(
			rgb(66, 156, 78),
			rgb(47, 110, 55)
		) !important;
	}
	#trait-f .selected:nth-child(2) {
		background-image: linear-gradient(
			rgb(255, 75, 3),
			rgb(172, 51, 0)
		) !important;
	}
	#trait-f .selected:nth-child(3) {
		background-image: linear-gradient(
			rgb(119, 177, 66),
			rgb(86, 129, 48)
		) !important;
	}
	#trait-f .selected:nth-child(4) {
		background-image: linear-gradient(
			rgb(56, 56, 56),
			rgb(32, 32, 32)
		) !important;
	}
	#trait-f .selected:nth-child(5) {
		background-image: linear-gradient(
			140deg,
			rgb(227, 227, 227) 0%,
			rgb(175, 175, 175) 25%,
			rgb(227, 227, 227) 75%,
			rgb(175, 175, 175) 100%
		) !important;
	}
	#trait-f .selected:nth-child(6) {
		background-image: linear-gradient(
			rgb(205, 191, 54),
			rgb(141, 131, 35)
		) !important;
	}
	#trait-f .selected:nth-child(7) {
		background-image: linear-gradient(
			rgb(33, 213, 191),
			rgb(24, 149, 134)
		) !important;
	}
	#trait-f .selected:nth-child(8) {
		background-image: linear-gradient(
			rgb(172, 38, 227),
			rgb(121, 27, 159)
		) !important;
	}
	#trait-f .selected:nth-child(9) {
		background-image: linear-gradient(
			rgb(179, 191, 207),
			rgb(161, 176, 195)
		) !important;
	}
	#trait-f .selected:nth-child(10) {
		background-image: linear-gradient(
			rgb(129, 145, 48),
			rgb(103, 112, 11)
		) !important;
	}
	#trait-f .selected:nth-child(11) {
		background-image: linear-gradient(
			rgb(82, 144, 187),
			rgb(55, 80, 146)
		) !important;
	}
	.ok {
		display: flex;
		justify-content: center;
	}
	.ok button {
		width: 8em;
		padding: 0.3em 0;
		gap: 1em;
	}
	.ok button:first-child {
		background-image: linear-gradient(#2196f3, #3f51b5);
	}
	.ok button:nth-child(2) {
		background-image: linear-gradient(#ff5722, #e72213);
	}
	.fav {
		background-image: linear-gradient(
			rgb(255, 75, 3),
			rgb(172, 51, 0)
		);
	}
	</style>
{{/inline}}

{{#*inline "content"}}
	<div id="loader"></div>
	<h1 style="background-image: linear-gradient(#955100, #633600);text-shadow: -1px 0 2px #e9ac64, 0 1px 2px #e9ac64, 1px 0 2px white, 0 -1px 2px #e9ac64;font-size: larger;margin: 0;padding: 0.1em 3em;"> 貓咪圖鑑 <a href="https://ponosgames.com/information/appli/battlecats/zukan/tw/index.html" rel="noreferrer" style="text-shadow: none;color: black;color: white;font-size: smaller;text-decoration: none;font-weight: lighter;float: right;"> 什麼是貓咪圖鑑？ </a>
		</h1>
	<div style="display: none;background-image: linear-gradient(#4093b5, #4794b3, #4093b5);padding: 1vh 4vw;min-height: 100vh;">
		<button class="btn C">稀有度</button>
		<div class="modal">
			<div class="M">
				<fieldset id="rarity" style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>選擇稀有度</legend>
					<button value="0">基本</button>
					<button value="1">EX</button>
					<button value="2">稀有</button>
					<button value="3">激稀有</button>
					<button value="4">超激稀有</button>
					<button value="5">傳說稀有</button>
				</fieldset>
				<div class="ok">
					<button class="filter">篩選</button>
					<button class="clear">清除</button>
				</div>
			</div>
		</div>
		<button class="btn C">攻擊對象</button>
		<div class="modal">
			<div class="M">
				<img class="or" src="and.png">
				<fieldset id="trait-f" style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>選擇攻擊對象</legend>
					<button value="1">紅色敵人</button>
					<button value="2">漂浮敵人</button>
					<button value="4">黑色敵人</button>
					<button value="8">鋼鐵敵人</button>
					<button value="16">天使</button>
					<button value="32">異星戰士</button>
					<button value="64">不死生物</button>
					<button value="256">無屬性</button>
					<button value="128">古代種</button>
					<button value="2048">惡魔</button>
				</fieldset>
				<div class="ok">
					<button class="filter">篩選</button>
					<button class="clear">清除</button>
				</div>
			</div>
		</div>
		<button class="btn C">效果能力</button>
		<div class="modal">
			<div class="M" id="ab">
				<img class="or" src="or.png">
				<fieldset style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>效果</legend>
					<button value="21">
						<img src="https://i.imgur.com/yRkhAHL.png" width="40" height="40">攻擊力下降 </button>
					<button value="22">
						<img src="https://i.imgur.com/i1pP3Mi.png" width="40" height="40">使動作停止 </button>
					<button value="23">
						<img src="https://i.imgur.com/MyoCUMu.png" width="40" height="40">使動作變慢 </button>
					<button value="24">
						<img src="https://i.imgur.com/fe5k3Hw.png" width="40" height="40">只能攻擊 </button>
					<button value="25">
						<img src="https://i.imgur.com/dlZ8xNU.png" width="40" height="40">善於攻擊 </button>
					<button value="26">
						<img src="https://i.imgur.com/4em8Hzg.png" width="40" height="40">很耐打 </button>
					<button value="27">
						<img src="https://i.imgur.com/ck2nA1D.png" width="40" height="40">超級耐打 </button>
					<button value="28">
						<img src="https://i.imgur.com/RbqsryO.png" width="40" height="40">超大傷害 </button>
					<button value="29">
						<img src="https://i.imgur.com/whTrzG1.png" width="40" height="40">極度傷害 </button>
					<button value="30">
						<img src="https://i.imgur.com/cLZsanQ.png" width="40" height="40">打飛敵人 </button>
					<button value="31">
						<img src="https://i.imgur.com/KkYm2Og.png" width="40" height="40">傳送 </button>
					<button value="33">
						<img src="https://i.imgur.com/0Rraywl.png" width="40" height="40">詛咒 </button>
					<button value="32">
						<img src="https://i.imgur.com/8Eq6vPV.png" width="40" height="40">攻擊無效 </button>
				</fieldset>
				<fieldset style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>能力</legend>
					<button value="1">
						<img src="https://i.imgur.com/IE6ihRp.png" width="40" height="40">攻擊力上升 </button>
					<button value="2">
						<img src="https://i.imgur.com/WcMDxXS.png" width="40" height="40">死前存活 </button>
					<button value="3">
						<img src="https://i.imgur.com/xIcbDzl.png" width="40" height="40">善於攻城 </button>
					<button value="4">
						<img src="https://i.imgur.com/FV6We1L.png" width="40" height="40">會心一擊 </button>
					<button value="5">
						<img src="https://i.imgur.com/ssOFAtR.png" width="40" height="40">終結不死 </button>
					<button value="6">
						<img src="https://i.imgur.com/z3SPEqA.png" width="40" height="40">靈魂攻擊 </button>
					<button value="7">
						<img src="https://i.imgur.com/LfRDAkg.png" width="40" height="40">破壞護盾 </button>
					<button value="8">
						<img src="https://i.imgur.com/6wjIaUE.png" width="40" height="40">破壞惡魔盾 </button>
					<button value="9">
						<img src="https://i.imgur.com/KDpH72p.png" width="40" height="40">渾身一擊 </button>
					<button value="10">
						<img src="https://i.imgur.com/aeG7OM3.png" width="40" height="40">得到很多金錢 </button>
					<button value="11">
						<img src="https://i.imgur.com/MzHKigD.png" width="40" height="40">鋼鐵 </button>
					<button value="12">
						<img src="https://i.imgur.com/W18c1hw.png" width="40" height="40">小波動 </button>
					<button value="13">
						<img src="https://i.imgur.com/ZbPqGoj.png" width="40" height="40">波動 </button>
					<button value="14">
						<img src="https://i.imgur.com/AEITK8t.png" width="40" height="40">小烈波 </button>
					<button value="15">
						<img src="https://i.imgur.com/at4bW0n.png" width="40" height="40">烈波攻擊 </button>
					<button value="16">
						<img src="https://i.imgur.com/BH3LOrK.png" width="40" height="40">波動滅止 </button>
					<button value="1001">
						<img src="https://i.imgur.com/CZwFP3H.png" width="40" height="40">單體攻擊 </button>
					<button value="1002">
						<img src="https://i.imgur.com/BeuHYlZ.png" width="40" height="40">範圍攻擊 </button>
					<button value="1004">
						<img src="https://i.imgur.com/fYILfa8.png" width="40" height="40">遠距攻擊 </button>
					<button value="1008">
						<img src="https://i.imgur.com/rvGrwIL.png" width="40" height="40">全方位攻擊 </button>
					<button value="19">
						<img src="https://i.imgur.com/ktlyJ15.png" width="40" height="40">終結魔女 </button>
					<button value="20">
						<img src="https://i.imgur.com/y5JJJnJ.png" width="40" height="40">終結使徒 </button>
					<button value="17">
						<img src="https://i.imgur.com/nGZanly.png" width="40" height="40">超生命體特效 </button>
					<button value="18">
						<img src="https://i.imgur.com/yCMsSbc.png" width="40" height="40">超獸特效 </button>
					<button value="42">
						<img src="https://i.imgur.com/Qq8vQTs.png" width="40" height="40">超賢者特效 </button>
					<button value="43">
						<img src="https://i.imgur.com/AJYPM6p.png" width="40" height="40">召喚 </button>
					<button value="44">
						<img src="https://i.imgur.com/9vLOiAm.png" width="40" height="40">鋼鐵殺手 </button>
					<button value="37">
						<img src="https://i.imgur.com/VY93npj.png">一次攻擊 </button>
					<button value="40">
						<img src="https://i.imgur.com/tchDtAr.png">烈波反擊 </button>
				</fieldset>
				<fieldset style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>抗性</legend>
					<button value="32">
						<img src="https://i.imgur.com/aN6I67V.png" width="40" height="40">攻擊力下降無效 </button>
					<button value="2">
						<img src="https://i.imgur.com/OSjMN62.png" width="40" height="40">動作停止無效 </button>
					<button value="4">
						<img src="https://i.imgur.com/rPx4aA2.png" width="40" height="40">動作變慢無效 </button>
					<button value="8">
						<img src="https://i.imgur.com/5CYatS4.png" width="40" height="40">打飛敵人無效 </button>
					<button value="1">
						<img src="https://i.imgur.com/MacWKW6.png" width="40" height="40">波動傷害無效 </button>
					<button value="16">
						<img src="https://i.imgur.com/Uadt9Fa.png" width="40" height="40">烈波傷害無效 </button>
					<button value="64">
						<img src="https://i.imgur.com/T7BXYAw.png" width="40" height="40">傳送無效 </button>
					<button value="128">
						<img src="https://i.imgur.com/27mAxhl.png" width="40" height="40">古代的詛咒無效 </button>
					<button value="256">
						<img src="https://i.imgur.com/5zleNqO.png" width="40" height="40">毒擊傷害無效 </button>
					<button value="512">
						<img src="https://i.imgur.com/4uYsoCg.png">魔王震波無效 </button>
				</fieldset>
				<fieldset style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>耐性</legend>
					<button value="0">
						<img src="https://i.imgur.com/BGbyVaK.png" width="40" height="40">抗擊耐性 </button>
					<button value="1">
						<img src="https://i.imgur.com/Sd55VTg.png" width="40" height="40">動止耐性 </button>
					<button value="2">
						<img src="https://i.imgur.com/1PHovzw.png" width="40" height="40">動慢耐性 </button>
					<button value="3">
						<img src="https://i.imgur.com/kwmOdX3.png" width="40" height="40">抗飛耐性 </button>
					<button value="4">
						<img src="https://i.imgur.com/WTIjQQE.png" width="40" height="40">抗波耐性 </button>
					<button value="5">
						<img src="https://i.imgur.com/kLJHD5E.png" width="40" height="40">抗烈波耐性 </button>
					<button value="8">
						<img src="https://i.imgur.com/1TkV1IQ.png" width="40" height="40">抗傳耐性 </button>
					<button value="6">
						<img src="https://i.imgur.com/1s7WKyX.png" width="40" height="40">抗古代詛咒耐性 </button>
					<button value="7">
						<img src="https://i.imgur.com/sROk995.png" width="40" height="40">抗毒耐性 </button>
				</fieldset>
				<div class="ok">
					<button class="filter">篩選</button>
					<button class="clear">清除</button>
				</div>
			</div>
		</div>
		<button class="btn C">本能</button>
		<div class="modal">
			<div class="M">
				<form>
					<fieldset id="to">
						<legend>選擇本能開放</legend>
						<p>
							<input name="t" type="radio" id="t0" checked>
							<label for="t0">不限制</label>
						</p>
						<p>
							<input name="t" type="radio" id="t1">
							<label for="t1">無本能</label>
						</p>
						<p>
							<input name="t" type="radio" id="t2">
							<label for="t2">開放本能</label>
						</p>
						<p>
							<input name="t" type="radio" id="t3">
							<label for="t3">開放超本能</label>
						</p>
						<p>
							<input name="t" type="radio" id="t4">
							<label for="t4">開放第四進化</label>
						</p>
					</fieldset>
				</form>
				<div class="ok">
					<button onclick="ok()">篩選</button>
				</div>
			</div>
		</div>
		<button class="btn C">名稱</button>
		<div class="modal" id="name">
			<div class="M">
				<form role="search" style="width: 100%;">
					<fieldset>
						<legend>搜尋名稱或Id</legend>
						<input aria-label="搜尋名稱或Id" id="name-search" name="q" placeholder="搜尋名稱或Id" style="padding: .5em 1em;width: 100%;font-size: larger;border-radius: 4px;border: 2px solid #9E9E9E;" type="search">
					</fieldset>
					<input style="display: block;width: 10em;margin: .5em auto;" class="btn" type="submit" name="s" value="搜尋" id="search-name">
				</form>
			</div>
		</div>
		<button class="btn C">分類</button>
		<div class="modal">
			<div class="M">
				{{#each categories as |cat|}}
				<fieldset id="G{{@index}}" style="display: flex;flex-wrap: wrap;flex-direction: row;">
					<legend>{{cat.name}}</legend>
					{{#each cat.pools as |pool|}}
					<button value="{{#each pool.units as |id|}}
						{{~id}}
						{{~#unless @last}},{{/unless}}
					{{~/each}}">{{pool.name}}</button>
					{{/each}}
				</fieldset>
				{{/each}}
				<div class="ok">
					<button class="filter">篩選</button>
					<button class="clear">清除</button>
				</div>
			</div>
		</div>
		<button class="btn" onclick="this.classList.toggle('selected');ok();" id="fav-only">我的最愛</button>
		<button class="btn selected" onclick="this.classList.toggle('selected');ok();" id="ex-only">限定角色</button>
		<button class="btn" id="clear-all">清除全部</button>
		<div class="modal" id="not-f">
			<div class="M" style="text-align: center;font-weight: bold;max-width: 25em;font-size: larger;">進行篩選的結果，找不到
				<br>符合條件的角色 </div>
		</div>
		<div style="z-index: 3;display: none;position: absolute;margin: 0;top: 0;left: 50%;transform: translate(-50%, 0%);">
			<div id="text" class="M" style="text-align: center;width: 35em;font-size: larger;box-shadow: none;background-color: #ffffffb0;color: black;font-weight: bold;"></div>
		</div>
		<div id="cats" style="margin-top:7px;"></div>
	</div>
	<button class="btn" style="position: fixed;right: 1vw;bottom: 1vh;" id="favorite" data-s="0">★設定我的最愛</button>
{{/inline}}

{{/blank.html}}
