{{#> common.html}}

{{#*inline "title"}}合作一覽{{/inline}}

{{#*inline "description"}}貓咪大戰爭合作活動一覽{{/inline}}

{{#*inline "styles"}}
	{{~> @partial-block}}
	<link rel="stylesheet" href="menu.css">
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	body {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: max(12px, 1.2vw);
	}
	.B {
		text-align: center;
		text-decoration: none;
		display: block;
		width: 100%;
	}
	.A {
		display: block;
		margin: 0 auto;
		width: min(100%, 512px);
		height: auto;
	}
	.E {
		font-weight: bold;
		font-size: larger;
	}
	h1 {
		text-align: center;
		padding-top: 0.5em;
	}
	</style>
{{/inline}}

{{#*inline "content"}}
	<h1>合作一覽</h1>
	<div id="menu">
		<ol id="menu_list">
			{{#each nav_menu as |menu|}}
			<li>
				<a href="{{menu.path}}">{{menu.name}}</a>
			</li>
			{{/each}}
		</ol>
	</div>
	<div style="margin: 0 auto;text-align: center;width: 100%;padding: 2vw 2vw;font-size: min(2.5vw, 18px);">
		<h2>合作活動史</h2>
		<p>資料取自 <a href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=20642">【情報】日版歷年合作活動史</a>及 <a href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=19806">【情報】台版歷年合作活動史</a>
		</p>
		<h3>台版歷年合作活動史</h3>
		<table class="w3-table-all w3-centered">
			<thead>
				<tr>
					<th>年份</th>
					<th>日期</th>
					<th>合作</th>
					<th>次數</th>
				</tr>
			</thead>
			<tbody>
				{{#each taiwan_collab_history as |hx|}}
				<tr><td colspan="4" class="E">{{hx.[0]}}年</td></tr>
				{{#each hx.[1] as |dur|}}
				<tr><td>{{hx.[0]}}</td><td>{{dur.[0]}}</td><td>{{dur.[1]}}</td><td>{{dur.[2]}}</td></tr>
				{{/each}}
				{{/each}}
			</tbody>
		</table>
		<h3>日版歷年合作活動史</h3>
		<table class="w3-table-all w3-centered">
			<thead>
				<tr>
					<th>年份</th>
					<th>日期</th>
					<th>合象</th>
					<th>次數</th>
				</tr>
			</thead>
			<tbody>
				{{#each japan_collab_history as |hx|}}
				<tr><td colspan="4" class="E">{{hx.[0]}}年</td></tr>
				{{#each hx.[1] as |dur|}}
				<tr><td>{{hx.[0]}}</td><td>{{dur.[0]}}</td><td>{{dur.[1]}}</td><td>{{dur.[2]}}</td></tr>
				{{/each}}
				{{/each}}
			</tbody>
		</table>
	</div>
{{/inline}}

{{/common.html}}
