<html>

<head>
	<title>貓咪聯組效果</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="color-scheme" content="light dark">
	<link rel="stylesheet" href="gh.css">
</head>

<body>

<script type="text/javascript">
var _th = localStorage.getItem('theme');
if (_th == 'dark' || ((!_th) && window.matchMedia('(prefers-color-scheme: dark)').matches))
	document.documentElement.setAttribute("data-theme", "dark");
function toggleTheme() {
	const x = localStorage.getItem('theme');
	if (x == 'dark') {
		document.documentElement.setAttribute("data-theme", "light");
		localStorage.setItem('theme', 'light');
	} else {
		document.documentElement.setAttribute("data-theme", "dark");
		localStorage.setItem('theme', 'dark');
	}
}
</script>

<h1>貓咪聯組</h1>
<h2>介紹</h2>

<p>　　<strong>貓咪聯組</strong>（<strong>Cat Combo</strong>、<strong>にゃんコンボ図鑑</strong>）是指在隊伍的第一排（最上排，5 隻貓）中使用特定的貓咪組合，可以在戰鬥中發揮特殊效果的系統。一排中可以同時發動多個貓咪聯組，且貓咪的順序並不影響聯組的發動。如果角色的型態高於貓咪聯組所需的型態數，聯組仍可發動，但若低於需求則不會發動。通過世界篇第一章後開放貓咪聯組，並隨著遊戲章節的進展，逐漸解鎖更多的聯組。另外，有些聯組是透過等級排行獎勵解鎖的。</p>
<p>　　聯組的效果通常是疊加的，例如使用兩個角色攻擊力【小】聯組，效果會是角色攻擊力上升 10% + 10% = 20%，而不是上升 21%。自 Ver 4.8 版本後，所有的貓咪聯組僅包含一個稀有轉蛋單位，含有兩個以上稀有轉蛋單位的聯組都被移除，包括多數超激稀有單位的貓咪聯組。</p>

<p><a href="https://ponosgames.com/information/appli/battlecats/combo/tw/index.html">官方說明</a></p>
<h2>聯組效果</h2>
<h2>角色性能</h2>
<p>以下聯組都影響隊伍中<strong>所有</strong>角色</p>
<table>
	<thead>
		<tr>
			<th></th>
			<th>攻擊力</th>
			<th>體力</th>
			<th>移動速度</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>小</td>
			<td>+10% 攻擊力（1.1）</td>
			<td>+10% 體力（1.1）</td>
			<td>+10% 移動速度（1.1）</td>
		</tr>
		<tr>
			<td>中</td>
			<td>+15% 攻擊力（1.15）</td>
			<td>+20% 體力（1.2）</td>
			<td>+15% 移動速度（1.15）</td>
		</tr>
		<tr>
			<td>大</td>
			<td>+20% 攻擊力（1.2）</td>
			<td>+30% 體力（1.3）</td>
			<td>+20% 移動速度（1.2）</td>
		</tr>
	</tbody>
</table>
<h3>角色特殊能力</h3>
<table>
	<tbody>
		<tr>
			<td></td>
			<td>善於攻擊</td>
			<td>超大傷害</td>
			<td>很耐打</td>
		</tr>
		<tr>
			<td rowspan="2">小</td>
			<td>受到傷害 -10%（0.9）</td>
			<td rowspan="2">攻擊力 +10%（1.1）</td>
			<td rowspan="2">-10% 很耐打減輕倍率（0.9）</td>
		</tr>
		<tr>
			<td>攻擊力 +10%（1.1）</td>
		</tr>
		<tr>
			<td rowspan="2">中</td>
			<td>受到傷害 -20%（0.8）</td>
			<td rowspan="2">攻擊力 +20%（1.2）</td>
			<td rowspan="2">-20% 很耐打減輕倍率（0.8）</td>
		</tr>
		<tr>
			<td>攻擊力 +20%（1.2）</td>
		</tr>
		<tr>
			<td rowspan="2">大</td>
			<td>受到傷害 -30%（0.7）</td>
			<td rowspan="2">攻擊力 +30%（1.3）</td>
			<td rowspan="2">-30% 很耐打減輕倍率（0.7）</td>
		</tr>
		<tr>
			<td>攻擊力 +30%（1.3）</td>
		</tr>
	</tbody>
</table>
<ul>
	<li>善於攻擊：假設暗黑姐原本善於攻擊的倍率是對紅色／黑色敵人傷害 1.8 倍，受到傷害減輕至 40%，加上善於攻擊【小】後攻擊倍率變為 1.8 × 1.1 = 1.98，受到傷害減輕至 40% × 0.9 = 36%。</li>
	<li>超大傷害：假設真田幸村原本對黑色敵人傷害 4 倍，加上超大傷害【小】後，對黑色敵人傷害 4.4 倍。此聯組只對超大傷害有效，不會極度傷害的效果，如強化超大傷害本能玉一樣。</li>
	<li>很耐打：假設章魚壺貓原本受到飄浮敵人的傷害至 20%（5 倍體力），搭配很耐打【小】後，受到飄浮敵人的傷害至 18%（5.55... 倍體力）。</li>
</ul>
<table>
	<thead>
		<tr>
			<th></th>
			<th>打飛</th>
			<th>使動作變慢</th>
			<th>使動作停止</th>
			<th>使攻擊力下降</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>小</td>
			<td>+10% 打飛距離（1.1）</td>
			<td colspan="3">+10% 效果時間（1.1）</td>
		</tr>
		<tr>
			<td>中</td>
			<td>+20% 打飛距離（1.2）</td>
			<td colspan="3">+20% 效果時間（1.2）</td>
		</tr>
		<tr>
			<td>大</td>
			<td>+30% 打飛距離（1.3）</td>
			<td colspan="3">+30% 效果時間（1.3）</td>
		</tr>
	</tbody>
</table>
<ul>
	<li>假設法師貓原本能使飄浮敵人動作變慢 180F，搭配使動作變慢【小】後，可以使飄浮敵人動作變慢 198F。</li>
	<li>假設癒術士原本能使鋼鐵以外的敵人動作停止 108F，搭配使動作停止【中】後，可以使鋼鐵以外的敵人動作停止 129F，搭配使動作停止【中】+使動作停止【小】後，可以使鋼鐵以外的敵人動作停止 140F，超過攻擊頻率 139F，形成永久暫停。</li>
</ul>
<table>
	<thead>
		<tr>
			<th></th>
			<th>「攻擊力上升」的效果</th>
			<th>會心一擊</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>小</td>
			<td>+20% 攻擊力上升倍率（固定）</td>
			<td>+1% 會心一擊機率（固定）</td>
		</tr>
		<tr>
			<td>中</td>
			<td>+30% 攻擊力上升倍率（固定）</td>
			<td>+2% 會心一擊機率（固定）</td>
		</tr>
		<tr>
			<td>大</td>
			<td>+50% 攻擊力上升倍率（固定）</td>
			<td>+3% 會心一擊機率（固定）</td>
		</tr>
	</tbody>
</table>
<ul>
	<li>假設獄炎鬼喵魔在體力 33% 以下時攻擊力上升至 300%，搭配「攻擊力上升」的效果【中】後，體力 33% 以下時攻擊力上升至 330%，未增攻時攻擊力相同。但如果使用角色攻擊力上升【中】，喵魔在未增攻時攻擊力為原本 115%，攻擊力上升後為原本 345%，所以通常會使用角色攻擊力上升聯組，還可以提升隊伍中其他角色的攻擊力。</li>
	<li>會心一擊聯組只會影響有會心一擊能力的貓咪，並且提升的會心一擊機率是固定的，所以通常用於攻擊頻率高的量產單位，如攝影師貓。假設原本會心一擊機率是 2%，搭配會心一擊【中】+會心一擊【小】後，會心一擊機率提升至 5%。</li>
</ul>
<h3>貓咪城</h3>
<table>
	<thead>
		<tr>
			<th></th>
			<th>初期貓咪砲能量值</th>
			<th>貓咪砲充電速度</th>
			<th>貓咪砲攻擊力</th>
			<th>城堡耐久力</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>小</td>
			<td>初期充能至 20%</td>
			<th>充能時間減少 20%</th>
			<td>+20% 攻擊力（1.2）</td>
			<td>+20% 城體力（1.2）</td>
		</tr>
		<tr>
			<td>中</td>
			<td>初期充能至 40%</td>
			<th>充能時間減少 30%</th>
			<td>+50% 攻擊力（1.5）</td>
			<td>+50% 城體力（1.5）</td>
		</tr>
		<tr>
			<td>大</td>
			<td>初期充能至 60%</td>
			<th>充能時間減少 40%</th>
			<td>+100% 攻擊力（2）</td>
			<td>+100% 城體力（2）</td>
		</tr>
	</tbody>
</table>
<ul>
	<li>假設原本貓咪砲充電時間為 1500F（50秒），搭配初期貓咪砲能量值【小】後，只需要 50 × 80% = 40 秒來充能，並且使用一次以又回歸到 50 秒的充能時間。</li>
	<li>假設原本貓咪砲充電時間為 1500F（50秒），搭配貓咪砲充電速度【小】後，充電時間變為 1200F（40秒），搭配貓咪砲充電速度【中】後，充電時間變為 1050F（35秒）。貓咪砲充電時間最低是 950F（31.67秒），所有金寶、科技與聯組都受到此限制。</li>
	<li>假設原貓咪砲攻擊力為 4,550，搭配貓咪砲攻擊力【小】聯組後，貓咪砲攻擊力變為 5,460。此聯組不像升級畫面的貓咪砲攻擊力會影響貓咪砲充電速度，只會影響攻擊力。</li>
	<li>假設原城堡體力為 236,000，搭配城堡耐久力【中】後，城體力變為 354,000。</li>
</ul>
<h3>持有金錢、工作狂貓</h3>
<table>
	<thead>
		<tr>
			<th></th>
			<th>初期所持金額</th>
			<th>初期工作狂貓等級</th>
			<th>工作狂貓錢包</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>小</td>
			<td>初期持有 300 元</td>
			<td>初期工作狂貓等級 +1</td>
			<td>+10% 錢包容量（1.1）</td>
		</tr>
		<tr>
			<td>中</td>
			<td>初期持有 500 元</td>
			<td>初期工作狂貓等級 +2</td>
			<td>+20% 錢包容量（1.2）</td>
		</tr>
		<tr>
			<td>大</td>
			<td>初期持有 1000 元</td>
			<td>初期工作狂貓等級 +3</td>
			<td>+30% 錢包容量（1.3）</td>
		</tr>
	</tbody>
</table>
<h3>戰鬥效果</h3>
<table>
	<thead>
		<tr>
			<th></th>
			<th>研究力</th>
			<th>會計能力</th>
			<th>學習力</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>小</td>
			<td>-10% 生產時間（通常為 26F）</td>
			<td>+10% 掉落金錢（1.1）</td>
			<td>+10% 掉落XP（1.1）</td>
		</tr>
		<tr>
			<td>中</td>
			<td>-20% 生產時間（通常為 52F）</td>
			<td>+20% 掉落金錢（1.2）</td>
			<td>+15% 掉落XP（1.15）</td>
		</tr>
		<tr>
			<td>大</td>
			<td>-30% 生產時間（通常為 79F）</td>
			<td>+30% 掉落金錢（1.3）</td>
			<td>+20% 掉落XP（1.2）</td>
		</tr>
	</tbody>
</table>
<ul>
	<li>滿金寶與科技時，研究力可以縮短角色生產時間共 264F，搭配研究力【中】，拉麵王貓原再生產是 116F，264 × 10% = 52.8，無條件捨去，效果為生產時間減少 52F，所以拉麵王貓的再生產變為 64F。假設拉麵王搭配三個研究力【小】，則再生產時間減少 264 × 30% = 79.2，無條件捨去，效果為生產時間減少 79F，因為 116 - 79 小於最低再生產 60F，所以拉麵王貓最終的再生產時間是 60F。</li>
	<li>所有角色最低再生產時間為 60F（2秒），所有金寶、科技與研究力聯組都受到此限制</li>
	<li>會計能力聯組可以和「得到很多金錢」能力疊加。</li>
	<li>學習力聯組可以和「洞悉先機」道具疊加。</li>
</ul>
<h3>合作限定</h3>
<table>
	<thead>
		<tr>
			<th></th>
			<th>「終結魔女」的效果</th>
			<th>「終結使徒」的效果</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>究極</td>
			<td>終結魔女體力與攻擊力倍數 × 5</td>
			<td>終結使徒體力與攻擊力倍數 × 5</td>
		</tr>
	</tbody>
</table>
<ul>
	<li>「終結魔女」的效果與「終結使徒」的效果聯組分別只能用在有「終結魔女」與「終結使徒」能力的貓咪上。原終結魔女的效果是體力 10 倍，攻擊力 5 倍，加上聯組後，體力 50 倍，攻擊力 25 倍。原終結使徒的效果是體力與攻擊力 5 倍，加上聯組後，體力與攻擊力皆 25 倍。</li>
</ul>

</body>

</html>
