{{#> base.html}}

{{#*inline "title"}}貓咪聯組一覽{{/inline}}

{{#*inline "description"}}
	<meta name="description" content="貓咪聯組一覽 | 貓咪大戰爭中文資訊網站">
{{/inline}}

{{#*inline "og"}}
	<meta property="og:title" content="貓咪搜尋">
	<meta property="og:description" content="貓咪大戰爭全部貓咪聯組一覽">
	<meta property="og:image" content="https://i.imgur.com/F2yiAC3.png">
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	body {
		padding: 0;
		margin: 0;
		width: 100%;
		font-size: max(10px, 1.2vw);
	}
	.combo {
		margin: 0 auto;
		border-collapse: collapse;
	}
	img.icon {
		max-width: 11vw;
		height: auto;
		padding: 5px;
	}
	td {
		padding: 0;
		margin: 0;
	}
	#nav a {
		text-decoration: none;
		display: block;
		text-align: left;
		padding: 0.2em 0.6em;
		font-size: larger;
	}
	h2 {
		margin-top: 2em;
	}
	.H {
		text-decoration: none;
	}
	.H:hover {
		text-decoration: underline;
	}
	.NC {
		text-decoration: none;
	}
	p a {
		text-decoration: none;
	}
	:target {
		border: 2px solid #b5651d;
		border-style: dotted;
	}
	</style>
{{/inline}}

{{#*inline "body-attrs"}} style="text-align: center !important;"{{/inline}}

{{#*inline "content"}}
	<div>
		<a class="w3-button w3-teal" style="display: block;color: white !important;" href="https://ponosgames.com/information/appli/battlecats/combo/tw/index.html">官方說明</a>
		<a class="w3-button w3-deep-purple" style="display: block;color: white !important;" href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=20133">【情報】貓咪大戰爭全聯組統整圖鑑</a>
	</div>
	<h1 style="text-align: center;">聯組一覽<br><div style="font-size:0.6em;">Ver {{{japan}}}</div></h1>
	<div id="nav" style="margin: 1vh auto;background-color: #9b9b9b59 !important;width: max(40vw,200px);border-radius: 0.4em;padding: 0.7em;list-style-type:none;">
		{{#each combos as |combo type|}}
		<a href="#{{@index}}">{{sum @index 1}}. {{type}}</a>
		{{/each}}
	</div>
	{{#each combos as |combo type|}}
	<h2><a class="H" href="#{{@index}}" id="{{@index}}">{{type}}</a></h2>
	<table class="combo">
		{{#each combo as |combo|}}
		<tr id="{{combo.name}}">
			<td>
				<p><a href="#{{combo.name}}">{{combo.name}}</a></p>
				<p>{{combo.desc}}</p>
				{{#if combo.requirement}}
				<p style="font-size:smaller;">{{combo.requirement}}</p>
				{{/if}}
			</td>
			{{#each combo.units as |unit|}}
			<td><a{{#if unit}} href="/unit.html?id={{unit.[0]}}"{{/if}}><img class="icon" width="104" height="79" loading="lazy" src="{{#if unit}}/img/u/{{unit.[0]}}/{{unit.[1]}}.png{{else}}uni.png{{/if}}"></a></td>
			{{/each}}
		</tr>
		{{/each}}
	</table>
	{{/each}}
	</div>
{{/inline}}

{{/base.html}}
