{{#> base.html}}

{{#*inline "viewport"}}{{/inline}}

{{#*inline "title"}}貓咪比較{{/inline}}

{{#*inline "pre-content"}}
	<style>
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: max(20px, 1vw);
}
:root {
	--hd: table-cell;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.HD {
	display: var(--hd);
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.A > * {
	padding-left: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
td img {
	vertical-align: bottom !important;
	margin-right: 5px;
}
.w3-table td {
	vertical-align: middle;
	border: #cfcfcf 1px solid;
}
.tooltip svg {
	margin-right: 0.6em;
	fill: var(--color);
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
}
{{{nav-style}}}
	</style>
{{/inline}}

{{#*inline "scripts"}}
	<script src="levelcurve.js"></script>
{{/inline}}

{{#*inline "content"}}
	<div id="loader"></div>
	<script src="cat.js"></script>
	<div style="margin: 0 auto;width: 100%;margin-top: 0.8em;text-align: center;">
		<datalist id="CL"></datalist>
		<input type="text" id="cat-name" list="CL" name="add-cat">
		<select class="w3-round" id="CF" style="width:6.2em;padding:2px;margin:0px 10px;">
			<option>第一型態</option>
			<option>第二型態</option>
			<option>第三型態</option>
			<option>第四型態</option>
			<option selected>最高型態</option>
		</select>
		<button onclick="tab()" class="w3-button w3-teal w3-round" style="margin-left: 0.5em;">新增</button>
		<button onclick="cls()" class="w3-button w3-red w3-round" style="margin-left: 0.5em;">清除全部</button>
	</div>

	<table class="w3-table w3-centered" id="tbl" style="margin: 0 auto;width: initial;min-width: 80vw;">

		<tbody>
			<tr>
				<td style="border:none;width:7em;"></td>
			</tr>
			<tr>
				<td>名稱</td>
			</tr>
			<tr>
				<td>體力</td>
			</tr>
			<tr>
				<td>攻擊力</td>
			</tr>
			<tr>
				<td>DPS</td>
			</tr>
			<tr>
				<td>KB / 跑速</td>
			</tr>
			<tr>
				<td>攻頻 / 出招</td>
			</tr>
			<tr>
				<td>CD / 價格</td>
			</tr>
			<tr>
				<td>射程</td>
			</tr>
			<tr>
				<td>能力 / 效果</td>
			</tr>
			<tr>
				<td>本能</td>
			</tr>
			<tr>
				<td style="border:none;"></td>
			</tr>
		</tbody>
	</table>

	<div class="tooltip" id="tooltip" style="position:fixed;right: 1vw;bottom: 0.2vh;">
		<svg onclick="camera()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
				<path d="M208 0L332.1 0c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9L448 336c0 26.5-21.5 48-48 48l-192 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48zM48 128l80 0 0 64-64 0 0 256 192 0 0-32 64 0 0 48c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 176c0-26.5 21.5-48 48-48z"/>
			</svg>
		<svg onclick="download()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
			<path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"
			/>
		</svg>
	</div>

	<script src="compare.js"></script>
{{/inline}}

{{/base.html}}
