{{#> base.html}}

{{#*inline "title"}}DPS曲線{{/inline}}

{{#*inline "styles"}}
	<link rel="stylesheet" href="/w3.css">
{{/inline}}

{{#*inline "scripts"}}
	<script src="/levelcurve.js"></script>
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	:root {
		--a: #fff;
		--b: #000;
		--c: #f1f1f1;
	}
	[data-Q="dark1"] {
		--a: #2a2a2a;
		--b: #fff;
		--c: #2a2a2a;
	}
	[data-Q="dark2"] {
		--a: #32373a;
		--b: #fff;
		--c: #32373a;
	}
	body {
		color: var(--b);
		background-color: var(--a) !important;
	}
	.w3-light-grey {
		background-color: var(--c) !important;
		color: var(--b) !important;
	}
	.w3-modal-content {
		color: var(--b);
		background-color: var(--a) !important;
	}
	</style>
{{/inline}}

{{#*inline "nav-bar-styles-search"}}{{/inline}}

{{#*inline "nav-bar-content-search"}}{{/inline}}

{{#*inline "nav-bar-content-theme"}}{{/inline}}

{{#*inline "nav-bar-scripts"}}{{/inline}}

{{#*inline "content"}}
	<div id="loader"></div>
	<div style="margin: 0 auto;width: 100%;margin-top: 0.8em;text-align: center;">
		<datalist id="CL"></datalist>
		<input type="text" id="cat-name" list="CL" name="add-cat">
		<select id="CF" style="width:6.2em;padding:2px;margin:0px 10px;">
			<option>第一型態</option>
			<option>第二型態</option>
			<option>第三型態</option>
			<option>第四型態</option>
			<option selected>最高型態</option>
		</select>
		<button id="ok" class="w3-button w3-round w3-black" style="margin-left: 0.5em;">OK</button>
	</div>
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content">
			<div class="w3-container">
				<span onclick="id01.style.display='none'" class="w3-button w3-hover-red w3-display-topright">&times;</span>
				<p>選取要新增的貓咪</p>
				<input type="text" id="cat-name2" list="CL" name="add-cat2">
				<select id="CF2" style="width:6.2em;padding:2px;margin:0px 10px;">
					<option>第一型態</option>
					<option>第二型態</option>
					<option>第三型態</option>
					<option>第四型態</option>
					<option selected>最高型態</option>
				</select>
				<p>
					<button class="w3-button w3-round w3-purple" id="add">新增至圖表</button>
				</p>
			</div>
		</div>
	</div>
	<a style="position: fixed;bottom: 1vh;right: 1vw;color: #0027ff !important;" href="dpsgraph_png.html">切換至點陣圖模式</a>
	<script src="/cat.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	<script src="svg.js"></script>
	<script src="dpsgraph.js"></script>
{{/inline}}

{{/base.html}}
