{{#> common.html nav_bar_active="enemy"}}

{{#*inline "viewport"}}{{/inline}}

{{#*inline "title"}}敵人資訊{{/inline}}

{{#*inline "styles"}}
	{{~> @partial-block}}
	<link rel="stylesheet" href="unit.css">
{{/inline}}

{{#*inline "scripts"}}
	{{~> @partial-block}}
	<script src="enemy.js" type="module"></script>
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	body {
		padding: 0;
		margin: 0;
		font-size: 18px;
		overflow: scroll;
	}
	{{{loadCSS "enemy_table.css"}}}
	.w3-bar-item {
		cursor: pointer;
		white-space: nowrap !important;
		background-color: inherit !important;
		text-align: center !important;
		text-decoration: none;
		padding: 1vh 3vw;
		border-radius: 0.8vw;
	}
	#abar {
		padding: 8px 0;
		border-radius: 1vw;
		border: 1vw solid #ededed !important;
		background-color: #ededed !important;
	}
	:root.dark #abar {
		border: 1vw solid #2f2f2f !important;
		background-color: #2f2f2f !important;
	}
	#abar .w3-bar-item:hover {
		color: var(--ahover) !important;
	}
	.v-ctl {
		float: right;
		width: max(min(3vw, 3vh), 15px);
		height: auto;
	}
	.v-ctl path {
		stroke: white;
		fill: transparent;
	}
	.enemy-table {
		margin: 100px auto 60px;
	}
	</style>
{{/inline}}

{{#*inline "content"}}
	<div id="loader"></div>
	<div id="modal" class="w3-modal">
		<div class="w3-modal-content" style="padding: 1em;">
			<span onclick="document.getElementById('modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
			<div id="modal-c"></div>
		</div>
	</div>
	<div id="main" class="w3-container An">
		{{{loadHTML "enemy_table.html"}}}
		<div style="position: fixed;bottom: 30px;left: 30px;">
			<button class="w3-button" style="border: none;margin: 0;padding: 0;text-indent: 0;"><img src="/img/i/o/dog1.png" onmouseenter="this.src='/img/i/o/dog2.png'" onmouseleave="this.src='/img/i/o/dog1.png'"></button>
			<div id="abar" class="w3-dropdown-content w3-bar-block" style="bottom: 50px;right: -120px;font-size: larger;"></div>
		</div>
	</div>
{{/inline}}

{{/common.html}}
