<table class="w3-table w3-centered enemy-table">
	<thead>
		<tr>
			<th colspan="6" id="enemy-id"></th>
			<th id="enemy-st-mag" class="mag-lv" contenteditable inputmode="numeric">
			<th id="enemy-mult-atk" class="mag-lv" contenteditable inputmode="numeric"></th>
			<th id="enemy-mult" class="mag-lv" contenteditable inputmode="numeric"></th>
		</tr>
	</thead>
	<tbody id="enemy-stats">
		<tr>
			<td class="F" rowspan="3"><img width="64" height="64" style="max-width: 4em;height: auto;"></td>
			<td class="F">HP</td>
			<td></td>
			<td class="F">攻擊力</td>
			<td></td>
			<td class="F">速度</td>
			<td></td>
			<td class="F">屬性</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td class="F">KB</td>
			<td></td>
			<td class="F">DPS</td>
			<td></td>
			<td class="F">射程</td>
			<td></td>
			<td class="F">獎金</td>
			<td></td>
		</tr>
		<tr>
			<td class="F">出招時間</td>
			<td></td>
			<td class="F">收招時間</td>
			<td></td>
			<td class="F">攻擊間隔</td>
			<td></td>
			<td class="F">攻擊週期</td>
			<td></td>
		</tr>
		<tr>
			<td class="F">其他</td>
			<td colspan="8" class="left"></td>
		</tr>
		<tr>
			<td class="F">描述</td>
			<td class="left" colspan="8"></td>
		</tr>
	</tbody>
</table>
