{{#> common.html nav_bar_active="gacha"}}

{{#*inline "title"}}轉蛋一覽{{/inline}}

{{#*inline "description"}}貓咪大戰爭的各種合作和非合作轉蛋{{/inline}}

{{#*inline "styles"}}
	{{~> @partial-block}}
	<link rel="stylesheet" href="menu.css">
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	body {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: max(12px, 1.2vw);
	}
	.B {
		text-align: center;
		text-decoration: none;
		display: block;
		width: 100%;
	}
	.A {
		display: block;
		margin: 0 auto;
		max-width: min(100%, 860px);
		height: auto;
	}

	.E {
		font-weight: bold;
		font-size: larger;
	}
	tr:hover {
		background-color: #ccc !important;
	}
	</style>
{{/inline}}

{{#*inline "content"}}
	<h1 style="text-align:center;padding-top:0.5em;">轉蛋一覽</h1>

	<div id="menu">
		<ol id="menu_list">
			{{#each gachas as |gacha|}}
			<li>
				<a href="#{{sum @index 1}}">{{gacha.name}}</a>
			</li>
			{{/each}}
		</ol>
	</div>

	{{#each gachas as |gacha|}}
	<h2 id="{{sum @index 1}}">
		<a class="B" href="{{gacha.path}}" target="_blank">{{gacha.name}}</a>
	</h2>
	<a class="B" href="{{gacha.path}}">
		<img class="A" src="{{gacha.img}}" loading="lazy" width="{{gacha.width}}" height="{{gacha.height}}">
	</a>
	<br>
	{{/each}}
{{/inline}}

{{/common.html}}
