{{#> base.html}}

{{#*inline "title"}}加碼多多隊員一覽{{/inline}}

{{#*inline "styles"}}
	<link rel="stylesheet" href="gh.css">
{{/inline}}

{{#*inline "nav-bar"}}{{/inline}}

{{#*inline "content"}}
	<h1>加碼多多隊員一覽</h1>
	<p>圖片來源： <a href="https://battle-cats.fandom.com/wiki/Gamatoto_Expedition">Battle Cats Wiki - Fandom</a>
	</p>
	<table>
		<thead>
			<tr>
				<th>名稱</th>
				<th>圖片</th>
				<th>等級</th>
				<th>描述</th>
				<th>效果</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>伊奈利(いなり)</td>
				<td>
					<img src="/img/g/jinja.png">
				</td>
				<td>特殊</td>
				<td>來自神的使者臨時加入加碼多多探險隊的狐狸</td>
				<td>獲得獎勵限一次數量增加※貓罐頭除外</td>
			</tr>
			<tr>
				<td>雪音兔(ラビット・ユキネ)</td>
				<td>
					<img src="/img/g/gc3.png">
				</td>
				<td>特殊</td>
				<td>加碼多多探險隊中臨時加入的雪未來的寵物兔子</td>
				<td>將在合作期間中帶來更多量的獎勵。
					<br>※貓罐頭除外 </td>
			</tr>
			<tr>
				<td>剛達(ガンダー)</td>
				<td>
					<img src="/img/g/gc0.png">
				</td>
				<td>特殊</td>
				<td>來自實況野球的加碼多多探險隊臨時隊員</td>
				<td>合作活動期間中，會讓獲得獎勵的數量增加
					<br>※貓罐頭除外 </td>
			</tr>
			<tr>
				<td>祖克柏(ギーク)</td>
				<td>
					<img src="/img/g/gc1.png">
				</td>
				<td>特殊</td>
				<td>來自消滅都市的加碼多多探險隊臨時隊員技術者</td>
				<td>合作活動期間中，獲得獎勵數量增加
					<br>※貓罐頭除外 </td>
			</tr>
			<tr>
				<td>圖圖(トト)</td>
				<td>
					<img src="/img/g/gc2.png">
				</td>
				<td>特殊</td>
				<td>來自梅露可物語的加碼多多探險隊臨時魔寵隊員</td>
				<td>活動期間中，獲得獎勵數量增加
					<br>※貓罐頭除外 </td>
			</tr>

			{{{members}}}

		</tbody>
	</table>
{{/inline}}

{{/base.html}}
