{{#> common.html}}

{{#*inline "title"}}喵咪獎章{{/inline}}

{{#*inline "description"}}喵咪獎章一覽{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	body {
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	.M:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.M {
		cursor: pointer;
		margin: 0.4vw;
		padding: 0.4vw;
		float: left;
		max-width: 30%;
		min-width: 10%;
	}
	.I {
		border-radius: 0.7vw;
		font-size: larger;
		color: white !important;
		background-color: #282a36 !important;
		padding: 1vw;
		width: max(30%, 300px);
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.M img {
		display: block;
		margin: 0 auto;
	}
	.M p {
		display: none;
	}
	.O {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4) !important;
	}
	</style>
{{/inline}}

{{#*inline "content"}}
	<div class="w3-row-padding w3-margin-top">
		{{#each (loadTSV "medal.tsv") as |medal|}}
		<div class="M">
			<img width="112" height="112" src="{{medal.image}}" onclick="F(event)">
			<div class="O">
				<div class="I">
					{{medal.title}}<br>
					{{{medal.description}}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<script src="medal.js"></script>
{{/inline}}

{{/common.html}}
