<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8">
	<title>其他功能</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark">
	<link rel="stylesheet" href="gh.css">
</head>

<body>
<script type="text/javascript">
var _th = localStorage.getItem('theme');
if (_th == 'dark' || ((!_th) && window.matchMedia('(prefers-color-scheme: dark)').matches))
	document.documentElement.setAttribute("data-theme", "dark");
function toggleTheme() {
	const x = localStorage.getItem('theme');
	if (x == 'dark') {
		document.documentElement.setAttribute("data-theme", "light");
		localStorage.setItem('theme', 'light');
	} else {
		document.documentElement.setAttribute("data-theme", "dark");
		localStorage.setItem('theme', 'dark');
	}
}
</script>
	<h2>其他功能</h2>

	<ul>
		<li><a href="ototo.html">城堡寶開發隊</a></li>
		<li><a href="materials.html">城堡素材掉落率</a></li>
		<li><a href="combo_effect.html">貓咪聯組效果</a></li>
		<li><a href="metal_killer.html">鋼鐵殺手</a></li>
		<li><a href="dpsgraph_png.html">DPS曲線（點陣圖）</a></li>
		<li><a href="dpsgraph_svg.html">DPS曲線（向量圖）</a></li>
		<li><a href="treasure_list.html">金寶一覽</a></li>
		<li><a href="crown.html">關卡倍率一覽</a></li>
		<li><a href="rewards.html">關卡獎勵一覽</a></li>
		<li><a href="gamatoto.html">加碼多多隊員</a></li>
		<li><a href="blockly.html">Blockly程式編輯器</a></li>
	</ul>

	<h2>貓咪大戰爭</h2>
	<ul>
		<li><a target="_blank" href="https://battlecats.club/tw/">貓咪大入口</a></li>
		<li><a target="_blank" href="https://play.google.com/store/apps/details?id=jp.co.ponos.battlecatstw">Google Play</a></li>
		<li><a target="_blank" href="https://itunes.apple.com/tw/app/mao-mi-da-zhan-zheng/id971601423?l=zh&ls=1&mt=8">App Store</a></li>
		<li><a target="_blank" href="https://www.youtube.com/channel/UC6UBir4I6o_0dJQa8eoGoDQ">Youtube</a></li>
		<li><a target="_blank" href="https://www.instagram.com/insta_nyanko_zh/">Instagram</a></li>
		<li><a target="_blank" href="https://www.facebook.com/NyankoTW">Facebook</a></li>
	</ul>

	<h2>にゃんこ大戦争</h2>
	<ul>
		<li><a target="_blank" href="https://battlecats.club/">貓咪大入口</a></li>
		<li><a target="_blank" href="https://play.google.com/store/apps/details?id=jp.co.ponos.battlecats">Google Play</a></li>
		<li><a target="_blank" href="https://itunes.apple.com/jp/app/battle-cats/id547145938?l=ja&ls=1&mt=8">App Store</a></li>
		<li><a target="_blank" href="https://twitter.com/PONOS_GAME">Twitter</a></li>
		<li><a target="_blank" href="https://www.youtube.com/channel/UCORhp_TycEGGw-PEo6igDMg">Youtube</a></li>
		<li><a target="_blank" href="https://www.facebook.com/ponosgame/">Facebook</a></li>
		<li><a target="_blank" href="https://www.instagram.com/insta_nyanko/?hl=ja">Instagram</a></li>
		<li><a target="_blank" href="https://line.me/ti/p/%40ggz7977g">LINE</a></li>
	</ul>

	<h2>其他攻略網站</h2>
	<ul>
		<li><a target="_blank" href="https://battle-cats.fandom.com/wiki/Battle_Cats_Wiki">Battle Cats Wiki - Fandom</a></li>
		<li><a target="_blank" href="https://www.reddit.com/r/battlecats/">r/battlecats - Reddit</a></li>
		<li><a target="_blank" href="https://thanksfeanor.pythonanywhere.com/UDP">Unit Description Project</a></li>
		<li><a target="_blank" href="https://mygamatoto.com">MyGamatoto</a></li>
		<li><a target="_blank" href="https://clamchowder.pythonanywhere.com/missions.html">Monthly Missions</a></li>
		<li><a target="_blank" href="https://battlecats.nyoto.co/appeareance.html">Battle Cats - Monthly Missions Finder</a></li>

	</ul>
	<ul>

		<li><a target="_blank" href="https://forum.gamer.com.tw/B.php?bsn=23772">巴哈姆特</a></li>
		<li><a target="_blank" href="https://battlecats.2of3.net/">貓咪大戰爭 DB 數據資料</a></li>
		<li><a target="_blank" href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=15334">月間任務 - 敵人所在關卡查詢網站</a></li>
		<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.jkpb.nyangkolegend&hl=zh_TW">貓咪大戰爭月間任務搜索</a></li>
		<li><a target="_blank" href="https://battlecats.fandom.com/zh/wiki/%E8%B2%93%E5%92%AA%E5%A4%A7%E6%88%B0%E7%88%AD_%E7%B6%AD%E5%9F%BA?variant=zh-tw">貓咪大戰爭維基</a></li>
		<li><a target="_blank" href="https://mewmewwar.herokuapp.com/">貓咪大戰中文資料站（已不能使用）</li>

	</ul>
	<ul>

	 <li><a target="_blank" href="https://game8.jp/battlecats">Game8</a></li>
		<li><a target="_blank" href="https://battlecats-db.com">超絕（DB）</a></li>
		<li><a target="_blank" href="https://seesaawiki.jp/battlecatswiki/d/">Seesaa Wiki</a></li>
		<li><a target="_blank" href="https://wikiwiki.jp/bccharadata/">WIKIWIKI</a></li>
		<li><a target="_blank" href="https://gamegift.jp/game/1002">GameGift</a></li>
		<li><a target="_blank" href="https://gamerch.com/nyankokouryakuwiki/">Gamerch</li>
	<li><a target="_blank" href="https://b-cats.info/">貓咪之手</a></li>
		<li><a target="_blank" href="https://gameline.jp/battlecats/">Gameline</li>

	</ul>
	<ul>

	<li><a target="_blank" href="https://en.namu.wiki/w/%EB%83%A5%EC%BD%94%20%EB%8C%80%EC%A0%84%EC%9F%81">NamuWiki</a></li>
		<li><a target="_blank" href="https://arca.live/b/nyanko">Arcalive</a></li>
		<li><a target="_blank" href="https://gall.dcinside.com/mgallery/board/lists/?id=yavetwarch">DCinside</a></li>
	</ul>


</body>

</html>
