{{#> static.html}}

{{#*inline "title"}}其他功能{{/inline}}

{{#*inline "version"}}{{/inline}}

{{#*inline "content"}}
	<div class="E">
	<h2>網站內資源</h2>
	<ul>
		<li><a href="ototo.html">城堡寶開發隊</a></li>
		<li><a href="materials.html">城堡素材掉落率</a></li>
		<li><a href="combo_effect.html">貓咪聯組效果</a></li>
		<li><a href="metal_killer.html">鋼鐵殺手敵方體力計算</a></li>
		<li><a href="dpsgraph_png.html">DPS-距離圖表（PNG點陣圖）</a></li>
		<li><a href="dpsgraph_svg.html">DPS-距離圖表（SVG向量圖）</a></li>
		<li><a href="treasure_list.html">寶物關卡對照</a></li>
		<li><a href="crown.html">關卡倍率一覽</a></li>
		<li><a href="rewards.html">關卡獎勵一覽</a></li>
		<li><a href="gamatoto.html">加碼多多隊員一覽</a></li>
		<li><a href="stage_difficulty.html">關卡難易度列表</a></li>
	</ul>

	<h2>貓咪大戰爭 官方</h2>
	<ul>
		<li><a target="_blank" href="https://battlecats.club/tw/">貓咪大入口</a></li>
		<li><a target="_blank" href="https://play.google.com/store/apps/details?id=jp.co.ponos.battlecatstw">Google Play</a></li>
		<li><a target="_blank" href="https://apps.apple.com/tw/app/%E8%B2%93%E5%92%AA%E5%A4%A7%E6%88%B0%E7%88%AD/id971601423">App Store</a></li>
		<li><a target="_blank" href="https://www.youtube.com/channel/UC6UBir4I6o_0dJQa8eoGoDQ">Youtube</a></li>
		<li><a target="_blank" href="https://www.instagram.com/insta_nyanko_zh/">Instagram</a></li>
		<li><a target="_blank" href="https://www.facebook.com/NyankoTW">Facebook</a></li>
	</ul>

	<h2>にゃんこ大戦争 公式</h2>
	<ul>
		<li><a target="_blank" href="https://battlecats.club/">貓咪大入口</a></li>
		<li><a target="_blank" href="https://www.nyanko-daishoten.jp/">貓咪大商店</a></li>
		<li><a target="_blank" href="https://play.google.com/store/apps/details?id=jp.co.ponos.battlecats">Google Play</a></li>
		<li><a target="_blank" href="https://itunes.apple.com/jp/app/battle-cats/id547145938?l=ja&ls=1&mt=8">App Store</a></li>
		<li><a target="_blank" href="https://twitter.com/PONOS_GAME">Twitter</a></li>
		<li><a target="_blank" href="https://www.youtube.com/channel/UCORhp_TycEGGw-PEo6igDMg">Youtube</a></li>
		<li><a target="_blank" href="https://www.facebook.com/ponosgame/">Facebook</a></li>
		<li><a target="_blank" href="https://www.instagram.com/insta_nyanko/?hl=ja">Instagram</a></li>
		<li><a target="_blank" href="https://line.me/ti/p/%40ggz7977g">LINE</a></li>
	</ul>

	<h2>其他攻略網站</h2>
	<ul>
		<li><a target="_blank" href="https://battlecats.miraheze.org/wiki/Battle_Cats_Wiki">Miraheze Wiki</a></li>
		<li><a target="_blank" href="https://battlecats.anypupil.com/">貓咪大戰爭 攻略網</a></li>
		<li><a target="_blank" href="https://www.reddit.com/r/battlecats/">Reddit</a></li>
		<li><a target="_blank" href="https://thanksfeanor.pythonanywhere.com/UDP">UDP</a></li>
		<li><a target="_blank" href="https://mygamatoto.com">MyGamatoto</a></li>
		<li><a target="_blank" href="https://clamchowder.pythonanywhere.com/missions.html">Monthly Missions</a></li>
		<li><a target="_blank" href="https://github.com/battlecatsultimate">BCU</a></li>
	</ul>
	<ul>
		<li><a target="_blank" href="https://forum.gamer.com.tw/B.php?bsn=23772">巴哈姆特</a></li>
		<li><a target="_blank" href="https://www.facebook.com/groups/125513772713808">貓咪大戰爭 攻略社</a></li>
		<li><a target="_blank" href="https://battlecats.2of3.net/">貓咪大戰爭 DB 數據資料</a></li>
		<li><a target="_blank" href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=15334">月間任務 - 敵人所在關卡查詢網站</a></li>
		<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.jkpb.nyangkolegend&hl=zh_TW">貓咪大戰爭月間任務搜索</a></li>
		<li><a target="_blank" href="https://purin359.github.io/Talents/">本能一覽/個人本能開放管理</a></li>
		<li><a target="_blank" href="https://internet-coffee.github.io/GrandAbyss_Calculator/">地底迷宮計算機</a></li>
		<li><a target="_blank" href="https://colab.research.google.com/drive/1HndJHZh8YZqs-QyXmFwUNg8tTGC6HCJZ">地底迷宮計算機（程式）</a>
		<li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1A_VmK-cx2Tsqcsc2yQ99Ifmom6KdCuu5KsyXQJuPsV8/edit?usp=sharing">BCI</a>
		<li><a target="_blank" href="https://docs.google.com/document/d/1ZDjgukxcQeteHg6ezwMFXs_wkHiqVWNodOELXL_ts6g/edit?usp=sharing">加碼多多詳細</a></li>
	</ul>
	<ul>
		<li><a target="_blank" href="https://game8.jp/battlecats">Game8</a></li>
		<li><a target="_blank" href="https://battlecats-db.com">超絕（DB）</a></li>
		<li><a target="_blank" href="https://seesaawiki.jp/battlecatswiki/d/">Seesaa Wiki</a></li>
		<li><a target="_blank" href="https://wikiwiki.jp/bccharadata/">WIKIWIKI</a></li>
	<li><a target="_blank" href="https://gamerch.com/nyankokouryakuwiki/">Gamerch</a></li>
	</ul>
	<ul>
		<li><a target="_blank" href="https://en.namu.wiki/w/%EB%83%A5%EC%BD%94%20%EB%8C%80%EC%A0%84%EC%9F%81">NamuWiki</a></li>
	</ul>
	</div>
{{/inline}}

{{/static.html}}
