<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8">
	<title>等級排行獎勵</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="等級排行獎勵 | 貓咪大戰爭中文資訊網站">
	<meta property="og:site_name" content="battlecatsinfo.github.io">
	<meta property="og:title" content="等級排行獎勵">
	<meta property="og:description" content="貓咪大戰爭的等級排行獎勵"> {{{favicon}}}
	<link rel="stylesheet" type="text/css" href="w3.css">
</head>

<body>
	<style>
body {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: max(10px, 1.2vw);
}
.fs76 {
	font-size: smaller;
}
td img {
	max-width: 2.5em;
	height: auto;
}
.w3-table td,
.w3-table th {
	vertical-align: middle;
	white-space: nowrap;
}
{{{nav-style}}}
	</style>
	{{{nav-bar}}}
	<h1 style="text-align: center;">等級排行獎勵<br><div style="font-size:0.6em;">Ver {{{japan}}}</div></h1>
	<p>※解放「？？稀有角色」是指「傳說稀有」※</p>
	<table class="w3-table w3-striped w3-table-all w3-centered" style="width: 80%;margin: 0 auto;margin-top: 2vw;">
		<thead>
			<tr>
				<th>等排</th>
				<th>說明</th>
				<th>報酬</th>
				<th>圖示</th>
			</tr>
		</thead>
		<tbody id="rank">{{{rank}}}</tbody>
	</table>
</body>

</html>
