{{#> base.html}}

{{#*inline "title"}}等級排行獎勵{{/inline}}

{{#*inline "color-theme"}}
	<meta name="color-scheme" content="light dark">
{{/inline}}

{{#*inline "styles"}}
	<link rel="stylesheet" href="gh.css">
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
	td img {
		width: 3em;
		height: auto;
	}
	td:nth-child(4) {
		padding: 0 !important;
	}
	</style>
{{/inline}}

{{#*inline "scripts"}}
	<script>
	var _th = localStorage.getItem('theme');
	if (_th == 'dark' || ((!_th) && window.matchMedia('(prefers-color-scheme: dark)').matches))
		document.documentElement.setAttribute("data-theme", "dark");
	function toggleTheme() {
		const x = localStorage.getItem('theme');
		if (x == 'dark') {
			document.documentElement.setAttribute("data-theme", "light");
			localStorage.setItem('theme', 'light');
		} else {
			document.documentElement.setAttribute("data-theme", "dark");
			localStorage.setItem('theme', 'dark');
		}
	}
	</script>
{{/inline}}

{{#*inline "nav-bar"}}{{/inline}}

{{#*inline "content"}}
	<h1 style="text-align:center;">等級排行獎勵<br><div style="font-size:0.6em;">Ver {{{japan}}}</div></h1>

	<p style="text-align:center;">※解放「？？稀有角色」是指「傳說稀有」※</p>
	<div style="display:flex;justify-content:center;">
		<table>
			<thead>
				<tr>
					<th>等排</th>
					<th>說明</th>
					<th>報酬</th>
					<th>圖示</th>
				</tr>
			</thead>
			<tbody id="rank">{{{rank}}}</tbody>
		</table>
	</div>
{{/inline}}

{{/base.html}}
