{{#> static.html}}

{{#*inline "title"}}等級排行獎勵{{/inline}}

{{#*inline "styles-inline"}}
	{{~> @partial-block}}
	<style>
	td img {
		width: 3em;
		height: auto;
	}
	td:nth-child(4) {
		padding: 0 !important;
	}
	</style>
{{/inline}}

{{#*inline "content"}}
	<p style="text-align:center;">※解放「？？稀有角色」是指「傳說稀有」※</p>
	<div style="width: min(92vw, 1000px);margin: 0 auto;">
		<table>
			<thead>
				<tr>
					<th>等排</th>
					<th>說明</th>
					<th>報酬</th>
					<th>圖示</th>
				</tr>
			</thead>
			<tbody id="rank">
			{{#with (loadTSV "reward.tsv") as |reward_names|}}
			{{#each (loadTSV "rank.tsv") as |rank|}}
			<tr>
				<td>{{rank.rank}}</td>
				<td>{{{rank.message}}}</td>
				<td>{{{lookupRankReward reward_names rank}}}{{#if rank.reward_count}} × {{rank.reward_count}}{{/if}}</td>
				<td>{{#if rank.reward_count}}<img width="128" height="128" loading="lazy" src="/img/r/{{rank.reward_id}}.png">{{/if}}</td>
			</tr>
			{{/each}}
			{{/with}}
			</tbody>
		</table>
	</div>
{{/inline}}

{{/static.html}}
