<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8">
	<title>關卡獎勵一覽</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark">
	<link rel="stylesheet" href="gh.css">
</head>

<body>

<script type="text/javascript">
var _th = localStorage.getItem('theme');
if (_th == 'dark' || ((!_th) && window.matchMedia('(prefers-color-scheme: dark)').matches))
	document.documentElement.setAttribute("data-theme", "dark");
function toggleTheme() {
	const x = localStorage.getItem('theme');
	if (x == 'dark') {
		document.documentElement.setAttribute("data-theme", "light");
		localStorage.setItem('theme', 'light');
	} else {
		document.documentElement.setAttribute("data-theme", "dark");
		localStorage.setItem('theme', 'dark');
	}
}
</script>

	<h1 style="text-align:center;">關卡獎勵一覽</h1>
	<h3>超生命體強襲</h3>
	<p>Lv. 1 ~ Lv. MAX 獎勵</p>
	<table>
		<tbody>
			<tr>
				<td>Lv. 1</td>
				<td>Lv. 2</td>
				<td>Lv. 3</td>
				<td>Lv. 4</td>
				<td>Lv. 5</td>
				<td>Lv. 6</td>
				<td>Lv. 7</td>
				<td>Lv. 8</td>
				<td>Lv. 9</td>
				<td>Lv. 10</td>
			</tr>
			<tr>
				<td>喵力達A ×3</td>
				<td>城堡素材</td>
				<td>XP 50萬</td>
				<td>城堡素材</td>
				<td>貓咪轉蛋券 ×1</td>
				<td>喵力達B ×3</td>
				<td>城堡素材</td>
				<td>XP 100萬</td>
				<td>城堡素材</td>
				<td>貓咪轉蛋券 ×2</td>
			</tr>
			<tr>
				<td>Lv. 11</td>
				<td>Lv. 12</td>
				<td>Lv. 13</td>
				<td>Lv. 14</td>
				<td>Lv. 15</td>
				<td>Lv. 16</td>
				<td>Lv. 17</td>
				<td>Lv. 18</td>
				<td>Lv. 19</td>
				<td>Lv. MAX</td>
			</tr>
			<tr>
				<td>喵力達C ×3</td>
				<td>城堡素材</td>
				<td>XP 150萬</td>
				<td>城堡素材</td>
				<td style="color:#ff8f00;">稀有券 ×1</td>
				<td>城堡素材</td>
				<td>城堡素材</td>
				<td>彩虹貓薄荷種子 ×1</td>
				<td style="color:#ff8f00;">稀有券 ×1</td>
				<td style="color:#e53935;">貓眼石【闇】 ×1</td>
			</tr>
		</tbody>
	</table>
	<p>EX 關卡進入機率</p>
	<table>
		<tbody>
			<tr>
				<td></td>
				<td>起源的樹海</td>
				<td>頂點的樹海</td>
				<td>秘境的樹海</td>
			</tr>
			<tr>
				<td>Lv. 1</td>
				<td>1%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 2</td>
				<td>3%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 3</td>
				<td>7%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 4</td>
				<td>11%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 5</td>
				<td>15%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 6</td>
				<td>18%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 7</td>
				<td>21%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 8</td>
				<td>24%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 9</td>
				<td>27%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 10</td>
				<td>30%</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 11</td>
				<td>33.66%</td>
				<td>1%</td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 12</td>
				<td>36.26%</td>
				<td>2%</td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 13</td>
				<td>38.77%</td>
				<td>3%</td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 14</td>
				<td>45.6%</td>
				<td>5%</td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 15</td>
				<td>50.4%</td>
				<td>10%</td>
				<td></td>
			</tr>
			<tr>
				<td>Lv. 16</td>
				<td>78.21%</td>
				<td>20.79%</td>
				<td>1%</td>
			</tr>
			<tr>
				<td>Lv. 17</td>
				<td>74.42%</td>
				<td>20.58%</td>
				<td>2%</td>
			</tr>
			<tr>
				<td>Lv. 18</td>
				<td>71.78%</td>
				<td>25.22%</td>
				<td>3%</td>
			</tr>
			<tr>
				<td>Lv. 19</td>
				<td>69.35%</td>
				<td>25.65%</td>
				<td>5%</td>
			</tr>
			<tr>
				<td>Lv. MAX</td>
				<td>59.4%</td>
				<td>30.6%</td>
				<td>10%</td>
			</tr>
		</tbody>
	</table>
	<p>EX 關卡掉落機率</p>
	<table style="text-align:left;">
		<tbody>
			<tr style="text-align:center;">
				<td rowspan="2"></td>
				<td colspan="3">D 級</td>
				<td colspan="3">C 級</td>
				<td colspan="3">B 級</td>
				<td colspan="3">A 級</td>
			</tr>
			<tr>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
			</tr>
			<tr>
				<td>起源的樹海</td>
				<td>20%</td>
				<td>60%</td>
				<td>80%</td>
				<td>5%</td>
				<td>15%</td>
				<td>20%</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>頂點的樹海</td>
				<td></td>
				<td></td>
				<td></td>
				<td>20%</td>
				<td>60%</td>
				<td>80%</td>
				<td>5%</td>
				<td>15%</td>
				<td>20%</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>秘境的樹海</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>20%</td>
				<td>60%</td>
				<td>80%</td>
				<td>5%</td>
				<td>15%</td>
				<td>20%</td>
			</tr>
		</tbody>
	</table>
	<p>※普通玉：提升傷害（增傷玉）、減輕傷害（減傷玉）</p>
	<p>※特殊玉：善於攻擊（善攻玉）、超大傷害（超傷玉）、很耐打（耐打玉）</p>
	<h3>本能玉地圖、秘寶沉眠之孤島</h3>
	<table style="text-align:left;">
		<tbody>
			<tr style="text-align:center;">
				<td rowspan="2"></td>
				<td colspan="3">D 級</td>
				<td colspan="3">C 級</td>
				<td colspan="3">B 級</td>
				<td colspan="3">A 級</td>
			</tr>
			<tr>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
				<td>普通玉</td>
				<td>特殊玉</td>
				<td>總和</td>
			</tr>
			<tr>
				<td colspan="13" style="text-align:center;">紅色（紅）、飄浮（浮）、黑色（黑）、神聖（天）、蒼藍（異）、腐朽（死）</td>
			</tr>
			<tr>
				<td>起源的樹海</td>
				<td>82%</td>
				<td>3%</td>
				<td>85%</td>
				<td>15%</td>
				<td>0%</td>
				<td>15%</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>頂點的樹海</td>
				<td>75.5%</td>
				<td>4.5%</td>
				<td>80%</td>
				<td>17%</td>
				<td>0%</td>
				<td>17%</td>
				<td>3%</td>
				<td>0%</td>
				<td>3%</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>秘境的樹海</td>
				<td>65%</td>
				<td>6%</td>
				<td>71%</td>
				<td>22%</td>
				<td>0%</td>
				<td>22%</td>
				<td>7%</td>
				<td>0%</td>
				<td>7%</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="13" style="text-align:center;">惡意（惡）、古代（古）</td>
			</tr>
			<tr>
				<td>起源的樹海</td>
				<td>20%</td>
				<td>60%</td>
				<td>80%</td>
				<td>5%</td>
				<td>15%</td>
				<td>20%</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>頂點的樹海</td>
				<td></td>
				<td></td>
				<td></td>
				<td>20%</td>
				<td>60%</td>
				<td>80%</td>
				<td>5%</td>
				<td>15%</td>
				<td>20%</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>秘境的樹海</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>20%</td>
				<td>60%</td>
				<td>80%</td>
				<td>5%</td>
				<td>15%</td>
				<td>20%</td>
			</tr>
			<tr>
				<td colspan="13" style="text-align:center;">強硬（鋼）</td>
			</tr>
			<tr>
				<td>起源的樹海</td>
				<td>85%</td>
				<td>0%</td>
				<td>85%</td>
				<td>15%</td>
				<td>0%</td>
				<td>15%</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>頂點的樹海</td>
				<td>80%</td>
				<td>0%</td>
				<td>80%</td>
				<td>17%</td>
				<td>0%</td>
				<td>17%</td>
				<td>3%</td>
				<td>0%</td>
				<td>3%</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>秘境的樹海</td>
				<td>73%</td>
				<td>0%</td>
				<td>73%</td>
				<td>20%</td>
				<td>0%</td>
				<td>20%</td>
				<td>6%</td>
				<td>0%</td>
				<td>6%</td>
				<td>1%</td>
				<td>0%</td>
				<td>1%</td>
			</tr>
		</tbody>
	</table>
	<h3>月間強襲</h3>
	<table>
		<tbody>
			<tr>
				<td colspan="10">月間強襲（每月1~15日）</td>
			</tr>
			<tr>
				<td>Lv. 1</td>
				<td>Lv. 2</td>
				<td>Lv. 3</td>
				<td>Lv. 4</td>
				<td>Lv. 5</td>
				<td>Lv. 6</td>
				<td>Lv. 7</td>
				<td>Lv. 8</td>
				<td>Lv. 9</td>
				<td>Lv. 10</td>
			</tr>
			<tr>
				<td>加速 ×1</td>
				<td>喵力達A ×1</td>
				<td>貓型電腦 ×1</td>
				<td>土豪貓 ×1</td>
				<td style="color:#00838f;">白金券碎片 ×1</td>
				<td>喵力達B ×1</td>
				<td>狙擊手 ×1</td>
				<td>喵力達C ×1</td>
				<td>洞悉先機 ×1</td>
				<td style="color:#ff8f00;">稀有券 ×1</td>
			</tr>
			<tr>
				<td colspan="10">續・月間強襲（每月16日~月底）</td>
			</tr>
			<tr>
				<td>Lv. 11</td>
				<td>Lv. 12</td>
				<td>Lv. 13</td>
				<td>Lv. 14</td>
				<td>Lv. 15</td>
				<td>Lv. 16</td>
				<td>Lv. 17</td>
				<td>Lv. 18</td>
				<td>Lv. 19</td>
				<td>Lv. MAX</td>
			</tr>
			<tr>
				<td>加速 ×2</td>
				<td>喵力達A ×2</td>
				<td>貓型電腦 ×2</td>
				<td>土豪貓 ×2</td>
				<td style="color:#00838f;">白金券碎片 ×1</td>
				<td>喵力達B ×2</td>
				<td>狙擊手 ×2</td>
				<td>喵力達C ×2</td>
				<td>惡貓薄荷種子 ×1</td>
				<td style="color:#ff8f00;">稀有券 ×1</td>
			</tr>
		</tbody>
	</table>
	<h3>月間活動全明星 眾星雲集大感謝祭！</h3>
	<table>
		<tbody>
			<tr>
				<td>Lv. 1</td>
				<td>Lv. 2</td>
				<td>Lv. 3</td>
				<td>Lv. 4</td>
				<td>Lv. 5</td>
				<td>Lv. 6</td>
				<td>Lv. 7</td>
				<td>Lv. 8</td>
				<td>Lv. 9</td>
				<td>Lv. MAX</td>
				<td>總和</td>
			</tr>
			<tr>
				<td>XP 50萬</td>
				<td>XP 75萬</td>
				<td>XP 100萬</td>
				<td>XP 150萬</td>
				<td>XP 200萬</td>
				<td>XP 250萬</td>
				<td>XP 300萬</td>
				<td>XP 375萬</td>
				<td>XP 500萬</td>
				<td>XP 1000萬</td>
				<td>XP 3000萬</td>
			</tr>
		</tbody>
	</table>

	<h3>每月G券</h3>
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td>關卡</td>
				<td>統率力</td>
				<td>期望值</td>
				<td>每 300 統率力</td>
			</tr>
			<tr>
				<td>第一關</td>
				<td>150</td>
				<td>0.3</td>
				<td>0.6</td>
			</tr>
			<tr>
				<td>第二關</td>
				<td>180</td>
				<td>0.45</td>
				<td>0.75</td>
			</tr>
			<tr>
				<td>第三關</td>
				<td>210</td>
				<td>0.67</td>
				<td>0.96</td>
			</tr>
			<tr>
				<td>第四關</td>
				<td>250</td>
				<td>0.875</td>
				<td>1.05</td>
			</tr>
			<tr>
				<td>第五關</td>
				<td>300</td>
				<td>1.3</td>
				<td>1.3</td>
			</tr>
		</tbody>
	</table>
	<h3>招福轉蛋券</h3>
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td>關卡</td>
				<td>統率力</td>
				<td>期望值</td>
			</tr>
			<tr>
				<td>第一關</td>
				<td>100</td>
				<td>0.3</td>
			</tr>
			<tr>
				<td>第二關</td>
				<td>100</td>
				<td>0.45</td>
			</tr>
			<tr>
				<td>第三關</td>
				<td>100</td>
				<td>0.67</td>
			</tr>
			<tr>
				<td>第四關</td>
				<td>100</td>
				<td>0.875</td>
			</tr>
			<tr>
				<td>第五關</td>
				<td>100</td>
				<td>1.11</td>
			</tr>
		</tbody>
	</table>
	<h3>道具關卡</h3>
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td></td>
				<td colspan="2"></td>
				<td>關卡</td>
				<td>統率力</td>
				<td>期望值</td>
				<td>每 360 統率力</td>
			</tr>
			<tr>
				<td rowspan="4">土豪貓</td>
				<td rowspan="3"><a href="/stage.html?s=1-0">星期一關卡</a></td>
				<td rowspan="3">月曜ステージ</td>
				<td>富二代的豪宅 初級</td>
				<td>60</td>
				<td>0.1</td>
				<td>0.6</td>
			</tr>
			<tr>
				<td>富二代的豪宅 中級</td>
				<td>120</td>
				<td>0.25</td>
				<td>0.75</td>
			</tr>
			<tr>
				<td>富二代的豪宅 高級</td>
				<td>180</td>
				<td>0.5</td>
				<td>1</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=1-73">游擊星期一關卡</a></td>
				<td>ゲリラ月曜ステージ</td>
				<td>富二代的豪宅 超高級</td>
				<td>200</td>
				<td>1</td>
				<td>1.8</td>
			</tr>
			<tr>
				<td rowspan="4">加速</td>
				<td rowspan="3"><a href="/stage.html?s=1-1">星期二關卡</a></td>
				<td rowspan="3">火曜ステージ</td>
				<td>極速戰鬥者 初級</td>
				<td>40</td>
				<td>0.2</td>
				<td>1.8</td>
			</tr>
			<tr>
				<td>極速戰鬥者 中級</td>
				<td>80</td>
				<td>0.5</td>
				<td>2.25</td>
			</tr>
			<tr>
				<td>極速戰鬥者 高級</td>
				<td>120</td>
				<td>1</td>
				<td>3</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=1-74">游擊星期二關卡</a></td>
				<td>ゲリラ火曜ステージ</td>
				<td>極速戰鬥者 超高級</td>
				<td>200</td>
				<td>2</td>
				<td>3.6</td>
			</tr>
			<tr>
				<td rowspan="4">洞悉先機</td>
				<td rowspan="3"><a href="/stage.html?s=1-2">星期三關卡</a></td>
				<td rowspan="3">水曜ステージ</td>
				<td>謀略道場 初級</td>
				<td>40</td>
				<td>0.1</td>
				<td>0.9</td>
			</tr>
			<tr>
				<td>謀略道場 中級</td>
				<td>60</td>
				<td>0.25</td>
				<td>1.5</td>
			</tr>
			<tr>
				<td>謀略道場 高級</td>
				<td>80</td>
				<td>0.5</td>
				<td>2.25</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=1-75">游擊星期三關卡</a></td>
				<td>ゲリラ水曜ステージ</td>
				<td>謀略道場 超高級</td>
				<td>150</td>
				<td>1</td>
				<td>2.4</td>
			</tr>
			<tr>
				<td rowspan="4">狙擊手</td>
				<td rowspan="3"><a href="/stage.html?s=1-3">星期四關卡</a></td>
				<td rowspan="3">木曜ステージ</td>
				<td>狙擊神人 初級</td>
				<td>60</td>
				<td>0.1</td>
				<td>0.6</td>
			</tr>
			<tr>
				<td>狙擊神人 中級</td>
				<td>80</td>
				<td>0.25</td>
				<td>1.125</td>
			</tr>
			<tr>
				<td>狙擊神人 高級</td>
				<td>120</td>
				<td>50</td>
				<td>1.5</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=1-76">游擊星期四關卡</a></td>
				<td>ゲリラ木曜ステー</td>
				<td>狙擊神人 超高級</td>
				<td>200</td>
				<td>1</td>
				<td>1.8</td>
			</tr>
			<tr>
				<td rowspan="4">貓型電腦</td>
				<td rowspan="3"><a href="/stage.html?s=1-4">星期五關卡</a></td>
				<td rowspan="3">金曜ステージ</td>
				<td>貓咪也能做的事 初級</td>
				<td>60</td>
				<td>0.3</td>
				<td>1.8</td>
			</tr>
			<tr>
				<td>貓咪也能做的事 中級</td>
				<td>80</td>
				<td>0.6</td>
				<td>2.7</td>
			</tr>
			<tr>
				<td>貓咪也能做的事 高級</td>
				<td>100</td>
				<td>1</td>
				<td>3.6</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=1-77">游擊星期五關卡</a></td>
				<td>ゲリラ金曜ステージ</td>
				<td>貓咪也能做的事 超高級</td>
				<td>170</td>
				<td>2</td>
				<td>4.24</td>
			</tr>
			<tr>
				<td>加速</td>
				<td rowspan="6"><a href="/stage.html?s=1-182">活動全明星 超級豪華大禮</a></td>
				<td rowspan="6">略…</td>
				<td rowspan="6">發禮物了！ 超級難</td>
				<td rowspan="6">300</td>
				<td colspan="2">0.666…</td>
			</tr>
			<tr>
				<td>寶物雷達</td>
				<td colspan="2">0.333…</td>
			</tr>
			<tr>
				<td>土豪貓</td>
				<td colspan="2">0.333…</td>
			</tr>
			<tr>
				<td>貓型電腦</td>
				<td colspan="2">0.666…</td>
			</tr>
			<tr>
				<td>洞悉先機</td>
				<td colspan="2">0.333…</td>
			</tr>
			<tr>
				<td>狙擊手</td>
				<td colspan="2">0.333…</td>
			</tr>
			<tr>
				<td>加速</td>
				<td rowspan="6" colspan="3">招福轉蛋券關卡</td>
				<td rowspan="6">100</td>
				<td>0.12</td>
				<td>0.37</td>
			</tr>
			<tr>
				<td>寶物雷達</td>
				<td>0.06</td>
				<td>0.17</td>
			</tr>
			<tr>
				<td>土豪貓</td>
				<td>0.08</td>
				<td>0.23</td>
			</tr>
			<tr>
				<td>貓型電腦</td>
				<td>0.08</td>
				<td>0.25</td>
			</tr>
			<tr>
				<td>洞悉先機</td>
				<td>0.08</td>
				<td>0.23</td>
			</tr>
			<tr>
				<td>狙擊手</td>
				<td>0.08</td>
				<td>0.23</td>
			</tr>
			<tr>
				<td rowspan="2">加速</td>
				<td rowspan="4"><a href="/stage.html?s=1-182">傳說的開始</a></td>
				<td rowspan="4">伝説のはじまり</td>
				<td><a href="/stage.html?s=1-182-0">天搖地動</a></td>
				<td rowspan="2">50 + 寶物雷達 × 1</td>
				<td rowspan="2">1</td>
				<td rowspan="2">7.2</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=0-0-1">恐怖再現</a></td>
			</tr>
			<tr>
				<td>土豪貓</td>
				<td><a href="/stage.html?s=0-0-6">牧場的守護者</a></td>
				<td>70 + 寶物雷達 × 1</td>
				<td>1</td>
				<td>5.14</td>
			</tr>
			<tr>
				<td>洞悉先機</td>
				<td><a href="/stage.html?s=0-0-2">疲累日落</a></td>
				<td>55 + 寶物雷達 × 1</td>
				<td>1</td>
				<td>6.55</td>
			</tr>
		</tbody>
	</table>

	<h3>經驗值關卡</h3>
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td colspan="2">關卡</td>
				<td colspan="2">日文</td>
				<td>統率力</td>
				<td>關卡本身 XP（+洞悉先機）</td>
				<td>最大掉落 XP</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/stage.html?s=1-27">週末關卡</a></td>
				<td colspan="2">土日ステージ</td>
				<td rowspan="6">500</td>
				<td rowspan="2">約 62 萬</td>
				<td rowspan="2">10 萬</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/stage.html?s=1-28">游擊戰經驗值喵！</a></td>
				<td colspan="2">ゲリラ経験値にゃ！</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/stage.html?s=1-59">超級游擊經驗值喵！</a></td>
				<td colspan="2">超ゲリラ経験値にゃ！</td>
				<td>約 73 萬</td>
				<td>53 萬</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/stage.html?s=1-124">終極游擊經驗值喵！</a></td>
				<td colspan="2">極ゲリラ経験値にゃ！</td>
				<td>約 87 萬</td>
				<td>123 萬</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/stage.html?s=1-155">超終極游擊經驗值喵！</a></td>
				<td colspan="2">超極ゲリラ経験値にゃ！</td>
				<td>約 104 萬</td>
				<td>203 萬</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/stage.html?s=1-319">超終極惡游擊經驗值喵！</a></td>
				<td colspan="2">超極悪ゲリラ経験値にゃ！</td>
				<td>約 138 萬</td>
				<td>323 萬</td>
			</tr>
			<tr>
				<td rowspan="2"><a href="/stage.html?s=1-250">終末連戰場</a></td>
				<td><a href="/stage.html?s=1-250-0">一之修練 初級</a></td>
				<td rowspan="2">終末ノ連戦場</td>
				<td>一の修練 初級</td>
				<td>100</td>
				<td>約 4.6 萬</td>
				<td>75 萬</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=1-250-1">一之修練 困難</a></td>
				<td>一の修練 激ムズ</td>
				<td>300</td>
				<td>約 10 萬</td>
				<td>270 萬</td>
			</tr>
		</tbody>
	</table>※游擊經驗值喵系列皆已最後一關計算 ※開放時只能通關一次
	<h3>貓薄荷</h3>
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td>開放時間</td>
				<td>地圖</td>
				<td>日文</td>
				<td>統率力</td>
				<td colspan="2">關卡</td>
				<td>獎勵</td>
			</tr>
			<tr>
				<td rowspan="3">星期一</td>
				<td rowspan="3"><a href="/stage.html?s=1-97">進化的綠色貓薄荷</a></td>
				<td rowspan="3">進化の緑マタタビ</td>
				<td rowspan="3">200</td>
				<td colspan="2">翡翠誘惑 高級</td>
				<td rowspan="15">#1</td>
			</tr>
			<tr>
				<td colspan="2">翡翠誘惑 困難</td>
			</tr>
			<tr>
				<td colspan="2">翡翠誘惑 超級難</td>
			</tr>
			<tr>
				<td rowspan="3">星期二</td>
				<td rowspan="3"><a href="/stage.html?s=1-98">進化的紫色貓薄荷</a></td>
				<td rowspan="3">進化の紫マタタビ</td>
				<td rowspan="3">200</td>
				<td colspan="2">紫電一閃 高級</td>
			</tr>
			<tr>
				<td colspan="2">紫電一閃 困難</td>
			</tr>
			<tr>
				<td colspan="2">紫電一閃 超級難</td>
			</tr>
			<tr>
				<td rowspan="3">星期三</td>
				<td rowspan="3"><a href="/stage.html?s=1-99">進化的紅色貓薄荷</a></td>
				<td rowspan="3">進化の赤マタタビ</td>
				<td rowspan="3">200</td>
				<td colspan="2">紅色熱情 高級</td>
			</tr>
			<tr>
				<td colspan="2">紅色熱情 困難</td>
			</tr>
			<tr>
				<td colspan="2">紅の情熱 激ムズ</td>
			</tr>
			<tr>
				<td rowspan="3">星期四</td>
				<td rowspan="3"><a href="/stage.html?s=1-100">進化的藍色貓薄荷</a></td>
				<td rowspan="3">進化の青マタタビ</td>
				<td rowspan="3">200</td>
				<td colspan="2">蒼天幻惑 高級</td>
			</tr>
			<tr>
				<td colspan="2">蒼天幻惑 困難</td>
			</tr>
			<tr>
				<td colspan="2">蒼天幻惑 超級難</td>
			</tr>
			<tr>
				<td rowspan="3">星期五</td>
				<td rowspan="3"><a href="/stage.html?s=1-101">進化的黃色貓薄荷</a></td>
				<td rowspan="3">進化の黄マタタビ</td>
				<td rowspan="3">200</td>
				<td colspan="2">神秘光芒 高級</td>
			</tr>
			<tr>
				<td colspan="2">神秘光芒 困難</td>
			</tr>
			<tr>
				<td colspan="2">神秘光芒 超級難</td>
			</tr>
			<tr>
				<td rowspan="7">每天固定時段</td>
				<td rowspan="7"><a href="/stage.html?s=1-162">進化的古代貓薄荷</a></td>
				<td rowspan="7">進化の古代マタタビ</td>
				<td rowspan="7">300</td>
				<td rowspan="7">古代神秘　極難</td>
				<td><a href="/stage.html?s=4-22">太古的鮮血 極難</a></td>
				<td rowspan="7">表關無獎勵
					<br>100%進入EX關
					<br>EX關平分機率
					<br>1%果實
					<br>99%種子</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=4-22-1">太古的振翅 極難</a></td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=4-22-2">太古的黑星 極難</a></td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=4-22-3">太古的天界 極難</a></td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=4-22-4">太古的異夢 極難</a></td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=4-22-5">太古的鐵坑 極難</a></td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=4-22-6">太古的死海 極難</a></td>
			</tr>
			<tr>
				<td>週末固定時段</td>
				<td><a href="/stage.html?s=1-222">進化的彩虹貓薄荷</a></td>
				<td>進化の虹マタタビ</td>
				<td>350</td>
				<td>極彩色的真實　極難</td>
				<td>奇蹟的虹彩種　極難</td>
				<td>表關100%果實
					<br>40%進入裏關
					<br>裏關100%種子</td>
			</tr>
			<tr>
				<td rowspan="4">每天固定時段</td>
				<td rowspan="4"><a href="/stage.html?s=1-274">進化的惡貓薄荷</a></td>
				<td rowspan="4">進化の悪マタタビ</td>
				<td rowspan="4">300</td>
				<td colspan="2">惡魔的自言自語 超級難（無惡魔城）</td>
				<td>5% 種子 × 1</td>
			</tr>
			<tr>
				<td colspan="2">惡魔的自言自語 極難（無惡魔城）</td>
				<td>10% 種子 × 1</td>
			</tr>
			<tr>
				<td colspan="2">惡魔的喃喃細語 極難（有惡魔城）</td>
				<td>100% 種子 × 1</td>
			</tr>
			<tr>
				<td colspan="2">惡魔的喃喃細語 超極難（有惡魔城）</td>
				<td>25% 種子 × 2
					<br>75% 種子 × 1</td>
			</tr>
			<tr>
				<td>每天固定時段</td>
				<td><a href="/stage.html?s=1-326">進化的彩虹獸石</a></td>
				<td>進化の虹獣石</td>
				<td>1,000</td>
				<td colspan="2">天災七道光 超極難</td>
				<td>100% 種子</td>
			</tr>
			<tr>
				<td>週末固定時段 不定期開放</td>
				<td><a href="/stage.html?s=1-118">貓薄荷挑戰</a></td>
				<td>マタタビチャレンジ</td>
				<td>500</td>
				<td colspan="2">分三種難易度
					<br>周一到周五的薄荷關卡+奇蹟的彩虹貓薄荷</td>
				<td>前五關 #1
					<br>尾關 #3</td>
			</tr>
		</tbody>
	</table>#1 各色貓薄荷關卡獎勵
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td>關卡</td>
				<td>種子</td>
				<td>果實</td>
				<td>彩虹果實</td>
				<td>無掉落</td>
				<td>EX裏關機率</td>
				<td>EX 關卡掉落</td>
			</tr>
			<tr>
				<td>高級</td>
				<td>59.5%</td>
				<td>30%</td>
				<td>0.94%</td>
				<td>9.56%</td>
				<td>5%</td>
				<td>#2</td>
			</tr>
			<tr>
				<td>困難</td>
				<td>43.45%</td>
				<td>45%</td>
				<td>1.5%</td>
				<td>10.05%</td>
				<td>10%</td>
				<td>#2</td>
			</tr>
			<tr>
				<td>超級難</td>
				<td>27.2%</td>
				<td>60%</td>
				<td>2.82%</td>
				<td>9.98%</td>
				<td>15%</td>
				<td>#2</td>
			</tr>
		</tbody>
	</table>#2 貓薄荷 EX 關卡獎勵
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td>EX裏關</td>
				<td>種子</td>
				<td>果實</td>
				<td>彩虹果實</td>
				<td>備註</td>
			</tr>
			<tr>
				<td>白天背景</td>
				<td>14.95%</td>
				<td>50.05%</td>
				<td>35%</td>
				<td rowspan="3">各 EX 關卡平分機率</td>
			</tr>
			<tr>
				<td>傍晚背景</td>
				<td>9.5%</td>
				<td>40.5%</td>
				<td>50%</td>
			</tr>
			<tr>
				<td>晚上背景</td>
				<td>4.5%</td>
				<td>25.5%</td>
				<td>70%</td>
			</tr>
		</tbody>
	</table>#3 貓薄荷挑戰 EX 關卡獎勵
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td>EX尾關</td>
				<td>果實</td>
				<td>彩虹果實</td>
				<td>備註</td>
			</tr>
			<tr>
				<td>白天背景</td>
				<td>65%</td>
				<td>35%</td>
				<td rowspan="3">各 EX 關卡平分機率</td>
			</tr>
			<tr>
				<td>傍晚背景</td>
				<td>50%</td>
				<td>50%</td>
			</tr>
			<tr>
				<td>晚上背景</td>
				<td>30%</td>
				<td>70%</td>
			</tr>
		</tbody>
	</table>
	<h3>發掘地圖</h3>
	<table style="text-align:left;">
		<tbody>
			<tr style="text-align:center;">
				<td colspan="3">發掘地圖資訊</td>
				<td colspan="4">常規地圖</td>
				<td colspan="4">本能珠珠地圖</td>
				<td colspan="4">獸石地圖</td>
			</tr>
			<tr>
				<td>發掘Lv</td>
				<td>開始角色</td>
				<td>對應章節</td>
				<td>粗劣</td>
				<td>普通</td>
				<td>最棒</td>
				<td>總和</td>
				<td>起源</td>
				<td>頂點</td>
				<td>秘境</td>
				<td>總和</td>
				<td>粗劣</td>
				<td>普通</td>
				<td>最棒</td>
				<td>獵人的地圖</td>
			</tr>
			<tr>
				<td>1</td>
				<td><a href="/unit.html?id=130">狼與少女</a></td>
				<td>Sol 18-6</td>
				<td>12.5%</td>
				<td>6.5%</td>
				<td></td>
				<td>19%</td>
				<td>22.5%</td>
				<td>8.5%</td>
				<td></td>
				<td>31%</td>
				<td>50%</td>
				<td></td>
				<td></td>
				<td>Ⅰ</td>
			</tr>
			<tr>
				<td>2</td>
				<td><a href="/unit.html?id=172">小戰士貓彈</a></td>
				<td>Sol 23-6</td>
				<td>7.5%</td>
				<td>6.5%</td>
				<td></td>
				<td>14%</td>
				<td>18.5%</td>
				<td>16.5%</td>
				<td></td>
				<td>35%</td>
				<td>50%</td>
				<td></td>
				<td></td>
				<td>Ⅰ</td>
			</tr>
			<tr>
				<td>3</td>
				<td><a href="/unit.html?id=268">貓紅帽咪娜</a></td>
				<td>Sol 28-6</td>
				<td>3.5%</td>
				<td>9.5%</td>
				<td>2%</td>
				<td>15%</td>
				<td>13.5%</td>
				<td>18.5%</td>
				<td>3%</td>
				<td>35%</td>
				<td></td>
				<td>50%</td>
				<td></td>
				<td>Ⅰ</td>
			</tr>
			<tr>
				<td>4</td>
				<td><a href="/unit.html?id=323">宮木武藏</a></td>
				<td>Sol 37-6</td>
				<td>2.6%</td>
				<td>7.2%</td>
				<td>5.2%</td>
				<td>15%</td>
				<td>13.2%</td>
				<td>12.6%</td>
				<td>9.2%</td>
				<td>35%</td>
				<td></td>
				<td>50%</td>
				<td></td>
				<td>Ⅱ</td>
			</tr>
			<tr>
				<td>5</td>
				<td><a href="/unit.html?id=426">噴噴貓騎士</a></td>
				<td>Sol 49-1</td>
				<td>2.5%</td>
				<td>4.5%</td>
				<td>7.5%</td>
				<td>14.5%</td>
				<td>6.5%</td>
				<td>11.5%</td>
				<td>17.5%</td>
				<td>35.5%</td>
				<td></td>
				<td>50%</td>
				<td></td>
				<td>Ⅱ</td>
			</tr>
			<tr>
				<td>6</td>
				<td><a href="/unit.html?id=464">土偶喵丸</a></td>
				<td>UL 12-6</td>
				<td></td>
				<td>4.7%</td>
				<td>10.7%</td>
				<td>15.4%</td>
				<td></td>
				<td>11.8%</td>
				<td>22.8%</td>
				<td>34.6%</td>
				<td></td>
				<td></td>
				<td>50%</td>
				<td>Ⅲ</td>
			</tr>
			<tr>
				<td>7</td>
				<td><a href="/unit.html?id=532">巨狼與烏爾斯</a></td>
				<td>UL 21-6</td>
				<td></td>
				<td>9%</td>
				<td></td>
				<td>9%</td>
				<td></td>
				<td>6%</td>
				<td>30%</td>
				<td>36%</td>
				<td></td>
				<td></td>
				<td>55%</td>
				<td>Ⅲ</td>
			</tr>
			<tr>
				<td>8</td>
				<td><a href="/unit.html?id=613">古神面多龍</a></td>
				<td>UL 36-6</td>
				<td></td>
				<td>5%</td>
				<td></td>
				<td>5%</td>
				<td></td>
				<td></td>
				<td>35%</td>
				<td>35%</td>
				<td></td>
				<td></td>
				<td>60%</td>
				<td>Ⅲ</td>
			</tr>
			<tr>
				<td>9</td>
				<td><a href="/unit.html?id=653">古獸納拉</a></td>
				<td>UL 43-6</td>
				<td></td>
				<td>2%</td>
				<td></td>
				<td>2%</td>
				<td></td>
				<td></td>
				<td>33%</td>
				<td>33%</td>
				<td></td>
				<td></td>
				<td>65%</td>
				<td>Ⅲ</td>
			</tr>
			<tr>
				<td>10</td>
				<td><a href="/unit.html?id=691">遠古的蛋：N000</a></td>
				<td>UL 49-1</td>
				<td></td>
				<td>2%</td>
				<td></td>
				<td>2%</td>
				<td></td>
				<td></td>
				<td>33%</td>
				<td>33%</td>
				<td></td>
				<td></td>
				<td>65%</td>
				<td>Ⅳ</td>
			</tr>
		</tbody>
	</table>
	<h3>常規地圖</h3>
	<table style="text-align: left;">
		<tbody>
			<tr>
				<td>品質</td>
				<td>關卡</td>
				<td>統率力</td>
				<td>獎勵</td>
			</tr>
			<tr>
				<td rowspan="3">粗劣</td>
				<td><a href="/stage.html?s=12-0">道具古戰場</a></td>
				<td rowspan="9">100</td>
				<td>任意一種戰鬥道具 × 2</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=12-1">維他命溪谷</a></td>
				<td>任意一種喵力達 × 1</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=12-3">精神與時間的小屋</a></td>
				<td>XP 50 萬</td>
			</tr>
			<tr>
				<td rowspan="3">普通</td>
				<td><a href="/stage.html?s=12-7">維他命火山</a></td>
				<td>任意一種喵力達 × 2</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=12-4">精神與時間的洞窟</a></td>
				<td>XP 100 萬</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=12-2">貓咪券★獵人</a></td>
				<td>63% 貓咪券 x 1
					<br>27% 貓咪券 x 2
					<br>10% 貓咪券 x 3</td>
			</tr>
			<tr>
				<td rowspan="3">最棒</td>
				<td><a href="/stage.html?s=12-6">貓眼洞窟</a></td>
				<td>任意一種貓眼石 × 1</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=12-5">精神與時間的迷宮</a></td>
				<td>XP 200 萬</td>
			</tr>
			<tr>
				<td><a href="/stage.html?s=12-8">貓咪券★獵人G</a></td>
				<td>63% 貓咪券 x 2
					<br>27% 貓咪券 x 3
					<br>10% 貓咪券 x 4</td>
			</tr>
		</tbody>
	</table>
	<h3>獵人的地圖</h3>
	<table style="text-align:left;">
		<tbody>
			<tr>
				<td></td>
				<td><a href="/stage.html?s=12-60">獵人的地圖Ⅰ</a></td>
				<td><a href="/stage.html?s=12-61">獵人的地圖Ⅱ</a></td>
				<td><a href="/stage.html?s=12-62">獵人的地圖Ⅲ</a></td>
				<td colspan="3"><a href="/stage.html?s=12-66">獵人的地圖Ⅳ</a></td>
			</tr>
			<tr>
				<td>發掘Lv</td>
				<td>1~3</td>
				<td>4~5</td>
				<td>6~9</td>
				<td colspan="3">10~11</td>
			</tr>
			<tr>
				<td>開始角色</td>
				<td><a href="/unit.html?id=130">狼與少女</a></td>
				<td><a href="/unit.html?id=323">宮木武藏</a></td>
				<td><a href="/unit.html?id=464">土偶喵丸</a></td>
				<td colspan="3"><a href="/unit.html?id=691">遠古的蛋：N000</a></td>
			</tr>
			<tr>
				<td>對應章節</td>
				<td>Sol 18-6
					<br><a href="/stage.html?s=0-17-5">越獄隧道 - 大逃亡</a></td>
				<td>Sol 37-6
					<br><a href="/stage.html?s=0-36-5">豪來塢帝國 - 大膽換囚影城</a></td>
				<td>UL 12-6
					<br><a href="/stage.html?s=9-11-5">打從魂魄的歸化 - 原始旅居魂</a></td>
				<td colspan="3">UL 49-1
					<br><a href="/stage.html?s=9-48">古代神木 - 起源的覺醒</a></td>
			</tr>
			<tr>
				<td>統率力</td>
				<td>200</td>
				<td>250</td>
				<td>300</td>
				<td colspan="3">300</td>
			</tr>
			<tr>
				<td>紫獸石</td>
				<td rowspan="2">100% 2顆</td>
				<td rowspan="2">30% 2顆
					<br>40% 3顆
					<br>30% 4顆</td>
				<td rowspan="2">30% 3顆
					<br>40% 4顆
					<br>30% 5顆</td>
				<td rowspan="2">10% 4顆
					<br>60% 5顆
					<br>30% 6顆</td>
				<td rowspan="5">40%進入
					<br>EX裏關</td>
				<td rowspan="2">40% 5顆獸石
					<br>40% 3顆結晶
					<br>20% 4顆結晶</td>
			</tr>
			<tr>
				<td>紅獸石</td>
			</tr>
			<tr>
				<td>蒼獸石</td>
				<td rowspan="3"></td>
				<td rowspan="2">50% 1顆
					<br>50% 2顆</td>
				<td rowspan="2">30% 1顆
					<br>40% 2顆
					<br>30% 3顆</td>
				<td rowspan="2">58% 2顆
					<br>32% 3顆
					<br>10% 4顆</td>
				<td rowspan="2">40% 3顆獸石
					<br>20% 1顆結晶
					<br>40% 2顆結晶</td>
			</tr>
			<tr>
				<td>翠獸石</td>
			</tr>
			<tr>
				<td>黃獸石</td>
				<td></td>
				<td>100% 1顆</td>
				<td>70% 1顆
					<br>30% 2顆</td>
				<td>50% 1顆獸石
					<br>50% 1顆結晶</td>
			</tr>
		</tbody>
	</table>

	<h3>超獸討伐關卡</h3>
	<figure class="table">
		<table style="text-align:center;">
			<tbody>
				<tr>
					<td>關卡</td>
					<td>獎勵</td>
					<td>1區</td>
					<td>2區</td>
					<td>3區</td>
					<td>4區</td>
					<td>5區</td>
					<td>6區</td>
					<td>7區</td>
					<td>8區</td>
					<td>9區</td>
					<td>10區</td>
					<td>11區</td>
					<td>12區</td>
					<td>13區</td>
					<td>14區</td>
					<td>15區</td>
					<td>16區</td>
					<td>17區</td>
					<td>18區</td>
					<td>19區</td>
				</tr>
				<tr>
					<td rowspan="4">甲普拉密林</td>
					<td>統率力</td>
					<td colspan="4">100</td>
					<td colspan="6">150</td>
					<td colspan="6">200</td>
					<td colspan="3">250</td>
				</tr>
				<tr>
					<td>紅磚 / 羽毛</td>
					<td>35%</td>
					<td>30%</td>
					<td colspan="2">20%</td>
					<td colspan="15"></td>
				</tr>
				<tr>
					<td>紅獸石 / 紫獸石</td>
					<td>15%</td>
					<td>20%</td>
					<td colspan="2">30%</td>
					<td colspan="6">70%</td>
					<td colspan="6">72%</td>
					<td colspan="3">130%</td>
				</tr>
				<tr>
					<td>蒼獸石 / 翠獸石</td>
					<td colspan="10"></td>
					<td colspan="9">5%</td>
				</tr>
				<tr>
					<td rowspan="5">亞蜥比沙漠</td>
					<td>統率力</td>
					<td colspan="4">150</td>
					<td colspan="6">200</td>
					<td colspan="9">250</td>
				</tr>
				<tr>
					<td>黃金 / 神祕骨頭</td>
					<td>40%</td>
					<td>35%</td>
					<td>30%</td>
					<td>21%</td>
					<td colspan="15"></td>
				</tr>
				<tr>
					<td>紅獸石 / 紫獸石</td>
					<td>3%</td>
					<td>4.5%</td>
					<td>6%</td>
					<td>12.5%</td>
					<td colspan="6">15%</td>
					<td colspan="6">16.5%</td>
					<td colspan="3">16%</td>
				</tr>
				<tr>
					<td>蒼獸石 / 翠獸石</td>
					<td>7%</td>
					<td>10.5%</td>
					<td>14%</td>
					<td>16.5%</td>
					<td colspan="6">35%</td>
					<td colspan="6">38.5%</td>
					<td colspan="3">60.5%</td>
				</tr>
				<tr>
					<td>黃獸石</td>
					<td colspan="10"></td>
					<td colspan="9">5%</td>
				</tr>
				<tr>
					<td rowspan="5">將弗裂火山</td>
					<td>統率力</td>
					<td colspan="4">200</td>
					<td colspan="15">250</td>
				</tr>
				<tr>
					<td>宇宙石 / 備長炭 / 鋼製齒輪</td>
					<td colspan="4">略…</td>
					<td colspan="15"></td>
				</tr>
				<tr>
					<td>紅獸石 / 紫獸石</td>
					<td rowspan="3">4%</td>
					<td rowspan="3">6%</td>
					<td rowspan="3">8%</td>
					<td rowspan="3">9.5%</td>
					<td colspan="6" rowspan="2">19%</td>
					<td colspan="6" rowspan="2">18.7%</td>
					<td colspan="3">16.2%</td>
				</tr>
				<tr>
					<td>蒼獸石 / 翠獸石</td>
					<td colspan="3">16.3%</td>
				</tr>
				<tr>
					<td>黃獸石</td>
					<td colspan="6">24%</td>
					<td colspan="6">25.2%</td>
					<td colspan="3">35%</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<figure class="table">
		<table>
			<tbody>
				<tr>
					<td>
					</td>
					<td>
						7:00 ~ 11:00
					</td>
					<td>
						12:00 ~ 16:00
					</td>
					<td>
						19:00 ~ 23:00
					</td>
				</tr>
				<tr>
					<td>
						Mon
					</td>
					<td style="color:#558b2f;">密林</td>
					<td style="color:#ff8f00;">沙漠</td>
					<td style="color:#ef5350;">火山</td>
				</tr>
				<tr>
					<td>
						Tue</p>
					</td>
					<td style="color:#ef5350;">火山</td>
					<td style="color:#558b2f;">密林</td>
					<td style="color:#ff8f00;">沙漠</td>
				</tr>
				<tr>
					<td>
						Wed
					</td>
					<td style="color:#ff8f00;">沙漠</td>
					<td style="color:#ef5350;">火山</td>
					<td style="color:#558b2f;">密林</td>
				</tr>
				<tr>
					<td>
						Thu
					</td>
					<td style="color:#558b2f;">密林</td>
					<td style="color:#ff8f00;">沙漠</td>
					<td style="color:#ef5350;">火山</td>
				</tr>
				<tr>
					<td>
						Fri
					</td>
					<td>
						火山
					</td>
					<td style="color:#558b2f;">密林</td>
					<td style="color:#ff8f00;">沙漠</td>
				</tr>
				<tr>
					<td>
						Sat
					</td>
					<td style="color:#ff8f00;">沙漠</td>
					<td style="color:#ef5350;">火山</td>
					<td style="color:#558b2f;">密林</td>
				</tr>
				<tr>
					<td>
						Sun
					</td>
					<td style="color:#558b2f;">密林</td>
					<td style="color:#ff8f00;">沙漠</td>
					<td style="color:#ef5350;">火山</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>※甲普拉密林需要通過世界篇第3章解放，亞蜥比沙漠需要通過未來篇第1章解放，將弗裂火山需要通過未來篇第3章解放
		<br>※超獸討伐關卡過關獎勵是城堡素材、各種獸石中挑選一個掉落
		<br>※標示為平均期望值，不是實際掉落機率
		<br>※如有複數獎勵在同一格，則代表各自的機率，如在「紅獸石 / 紫獸石」標示 4% 代表紅獸石與紫獸石的期望值都是 4%
		<br>※將弗裂火山的素材掉落機率省略
		<br>※第 20 區是最終關，只會掉落一次的稀有券</p>


</body>

</html>
