{{#> base.html}}

{{#*inline "title"}}貓咪大戰爭 關卡表{{/inline}}

{{#*inline "color-theme"}}
	<meta name="color-scheme" content="light dark">
{{/inline}}

{{#*inline "og"}}{{/inline}}

{{#*inline "styles"}}
	<link rel="stylesheet" href="gh.css">
{{/inline}}

{{#*inline "pre-content"}}
<script type="text/javascript">
var _th = localStorage.getItem('theme');
if (_th == 'dark' || ((!_th) && window.matchMedia('(prefers-color-scheme: dark)').matches))
	document.documentElement.setAttribute("data-theme", "dark");
function toggleTheme() {
	const x = localStorage.getItem('theme');
	if (x == 'dark') {
		document.documentElement.setAttribute("data-theme", "light");
		localStorage.setItem('theme', 'light');
	} else {
		document.documentElement.setAttribute("data-theme", "dark");
		localStorage.setItem('theme', 'dark');
	}
}
</script>
{{/inline}}

{{#*inline "nav-bar"}}{{/inline}}

{{#*inline "content"}}
	<h1> 貓咪大戰爭 關卡表</h1>
	<h3>參考資料：<a href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=20534">【情報】貓咪大戰爭本家常駐&非常駐活動日程</a></h3>
	<h2>月份關卡</h2>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>一月</th>
				<th>二月</th>
				<th>三月</th>
				<th>四月</th>
				<th>五月</th>
				<th>六月</th>
				<th>七月</th>
				<th>八月</th>
				<th>九月</th>
				<th>十月</th>
				<th>十一月</th>
				<th>十二月</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>月份貓取得</th>
				<td><a href="stage.html?s=1-11">新年快樂？</a></td>
				<td><a href="stage.html?s=1-12">被召喚的福！</a></td>
				<td><a href="stage.html?s=1-13">人偶架上的戰士們</a></td>
				<td><a href="stage.html?s=1-26">春天來了!高校教師</a></td>
				<td><a href="stage.html?s=1-29">相思病戀歌</a></td>
				<td><a href="stage.html?s=1-30">禁斷之妻</a></td>
				<td><a href="stage.html?s=1-31">因為夏天喵！</a></td>
				<td><a href="stage.html?s=1-32">返鄉熱潮！</a></td>
				<td><a href="stage.html?s=1-36">在鎮上看到的超強老人</a></td>
				<td><a href="stage.html?s=1-38">秋天運動會！</a></td>
				<td><a href="stage.html?s=1-9">勞動感謝特別活動！</a></td>
				<td><a href="stage.html?s=1-10">聖誕節居然來了！</a></td>
			</tr>
			<tr>
				<td>月份貓開眼</td>
				<td><a href="stage.html?s=1-83">開眼成人貓來襲！</a></td>
				<td><a href="stage.html?s=1-84">開眼我是鬼來襲！</a></td>
				<td><a href="stage.html?s=1-85">開眼人偶貓咪來襲！</a></td>
				<td><a href="stage.html?s=1-86">開眼少女貓來襲！</a></td>
				<td><a href="stage.html?s=1-87">開眼至死不渝的戀情來襲！</a></td>
				<td><a href="stage.html?s=1-88">開眼新娘太太來襲！</a></td>
				<td><a href="stage.html?s=1-89">開眼女王的假期來襲！</a></td>
				<td><a href="stage.html?s=1-90">開眼幽魂吶吶來襲！</a></td>
				<td><a href="stage.html?s=1-91">開眼功夫貓來襲！</a></td>
				<td><a href="stage.html?s=1-92">開眼運動會貓來襲！</a></td>
				<td><a href="stage.html?s=1-93">開眼上班族貓來襲！</a></td>
				<td><a href="stage.html?s=1-94">開眼的馴鹿魚來襲！</a></td>
			</tr>
			<tr>
				<td>G券</td>
				<td><a href="stage.html?s=1-184">新年快樂了？</a></td>
				<td><a href="stage.html?s=1-186">再次被召喚的福！</a></td>
				<td><a href="stage.html?s=1-192">人偶架上的戰士們特別版</a></td>
				<td><a href="stage.html?s=1-194">新・春天來了!高校教師</a></td>
				<td><a href="stage.html?s=1-197">再一次的相思病戀歌</a></td>
				<td><a href="stage.html?s=1-165">續・禁斷之妻</a></td>
				<td><a href="stage.html?s=1-166">因為超級夏天喵！</a></td>
				<td><a href="stage.html?s=1-167">收假熱潮！</a></td>
				<td><a href="stage.html?s=1-168">在鎮上看到的超強老人2</a></td>
				<td><a href="stage.html?s=1-170">夜間運動會！</a></td>
				<td><a href="stage.html?s=1-171">工作方式大革命</a></td>
				<td><a href="stage.html?s=1-175">宇宙中聖誕節居然也來了！</a></td>
			</tr>
			<tr>
				<td>月間強襲</td>
				<td><a href="stage.html?s=11-32">1月強襲！</a></td>
				<td><a href="stage.html?s=11-39">2月強襲！</a></td>
				<td><a href="stage.html?s=11-43">3月強襲！</a></td>
				<td><a href="stage.html?s=11-46">4月強襲！</a></td>
				<td><a href="stage.html?s=11-50">5月強襲！</a></td>
				<td><a href="stage.html?s=11-15">6月強襲！</a></td>
				<td><a href="stage.html?s=11-17">7月強襲！</a></td>
				<td><a href="stage.html?s=11-21">8月強襲！</a></td>
				<td><a href="stage.html?s=11-23">9月強襲！</a></td>
				<td><a href="stage.html?s=11-25">10月強襲！</a></td>
				<td><a href="stage.html?s=11-28">11月強襲！</a></td>
				<td><a href="stage.html?s=11-30">12月強襲！</a></td>
			</tr>
			<tr>
				<td>續・月間強襲</td>
				<td><a href="stage.html?s=11-33">續・1月強襲</a></td>
				<td><a href="stage.html?s=11-40">續・2月強襲</a></td>
				<td><a href="stage.html?s=11-44">續・3月強襲</a></td>
				<td><a href="stage.html?s=11-47">續・4月強襲</a></td>
				<td><a href="stage.html?s=11-51">續・5月強襲</a></td>
				<td><a href="stage.html?s=11-16">續・6月強襲</a></td>
				<td><a href="stage.html?s=11-18">續・7月強襲</a></td>
				<td><a href="stage.html?s=11-22">續・8月強襲</a></td>
				<td><a href="stage.html?s=11-24">續・9月強襲</a></td>
				<td><a href="stage.html?s=11-26">續・10月強襲</a></td>
				<td><a href="stage.html?s=11-29">續・11月強襲</a></td>
				<td><a href="stage.html?s=11-31">續・12月強襲</a></td>
			</tr>
		</tbody>
	</table>

	<h2>招福轉蛋券</h2>
	<ul>
		<li><a href="stage.html?s=1-160">加油！入考大戰爭</a>（約2月開始）</li>
		<li><a href="stage.html?s=1-140">日進斗金 淘金夢</a>（約4月底開始）</li>
		<li><a href="stage.html?s=1-164">濕濕黏黏大進擊！</a>（約5月底開始）</li>
		<li><a href="stage.html?s=1-149">暑修課程</a>（約8月底開始）</li>
		<li><a href="stage.html?s=1-154">秋季白金週</a>（約10/16開始）</li>
		<li><a href="stage.html?s=1-174">文化祭美食戰爭</a>（約11/13月開始）</li>
		<li><a href="stage.html?s=1-125">貓咪雪祭</a>（約12月底開始）</li>
	</ul>

	<h2>道具關卡</h2>
	<table>
		<tbody>
			<tr>
				<td>全天開放</td>
				<td><a href="stage.html?s=1-0">星期一關卡</a></td>
				<td><a href="stage.html?s=1-1">星期二關卡</a></td>
				<td><a href="stage.html?s=1-2">星期三關卡</a></td>
				<td><a href="stage.html?s=1-3">星期四關卡</a></td>
				<td><a href="stage.html?s=1-4">星期五關卡</a></td>
			</tr>
			<tr>
				<td>獎勵</td>
				<td>50% 土豪貓 ×1</td>
				<td>100% 加速 ×1</td>
				<td>50% 洞悉先機 ×1</td>
				<td>50% 狙擊手 ×1</td>
				<td>100% 貓型電腦 ×1</td>
			</tr>
			<tr>
				<td>限時開放</td>
				<td><a href="stage.html?s=1-73">游擊星期一關卡</a></td>
				<td><a href="stage.html?s=1-74">游擊星期二關卡</a></td>
				<td><a href="stage.html?s=1-75">游擊星期三關卡</a></td>
				<td><a href="stage.html?s=1-76">游擊星期四關卡</a></td>
				<td><a href="stage.html?s=1-77">游擊星期五關卡</a></td>
			</tr>
			<tr>
				<td>獎勵</td>
				<td>100% 土豪貓 ×1</td>
				<td>100% 加速 ×2</td>
				<td>100% 洞悉先機 ×1</td>
				<td>100% 狙擊手 ×1</td>
				<td>100% 貓型電腦 ×2</td>
			</tr>
		</tbody>
	</table>
	<h2>貓薄荷關卡</h2>
	<table>
		<thead>
			<tr>
				<th>星期一</th>
				<th>星期二</th>
				<th>星期三</th>
				<th>星期四</th>
				<th>星期五</th>
				<th>周末限時開放</th>
				<th>每天限時開放</th>
				<th>每天限時開放</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-97">進化的綠色貓薄荷</a></td>
				<td><a href="stage.html?s=1-98">進化的紫色貓薄荷</a></td>
				<td><a href="stage.html?s=1-99">進化的紅色貓薄荷</a></td>
				<td><a href="stage.html?s=1-100">進化的藍色貓薄荷</a></td>
				<td><a href="stage.html?s=1-101">進化的黃色貓薄荷</a></td>
				<td><a href="stage.html?s=1-222">進化的彩虹貓薄荷</a></td>
				<td><a href="stage.html?s=1-162">進化的古代貓薄荷</a></td>
				<td><a href="stage.html?s=1-274">進化的惡貓薄荷</a></td>
			</tr>
		</tbody>
	</table>
	<h2>漩渦關卡</h2>
	<table>
		<thead>
			<tr>
				<th>星期一</th>
				<th colspan="2">星期二</th>
				<th>星期三</th>
				<th>星期四</th>
				<th>星期五</th>
				<th>星期五</th>
				<th colspan="2">星期六</th>
				<th colspan="2">星期日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>紅渦</td>
				<td>風渦</td>
				<td>屍渦</td>
				<td>黑渦</td>
				<td>異渦</td>
				<td>白渦</td>
				<td>魔渦</td>
				<td>天渦</td>
				<td>古渦</td>
				<td>鐵渦</td>
				<td>星渦</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-14">紅色突變</a></td>
				<td><a href="stage.html?s=1-96">緊急暴風警報</a></td>
				<td><a href="stage.html?s=1-122">滾死樂團</a></td>
				<td><a href="stage.html?s=1-15">黑暗天堂</a></td>
				<td><a href="stage.html?s=1-66">絕望異次元</a></td>
				<td><a href="stage.html?s=1-16">國士無雙</a></td>
				<td><a href="stage.html?s=1-259">大魔王</a></td>
				<td><a href="stage.html?s=1-39">天譴</a></td>
				<td><a href="stage.html?s=1-189">零號颱風</a></td>
				<td><a href="stage.html?s=1-43">鐵子的部屋</a></td>
				<td><a href="stage.html?s=1-157">絕望新次元</a></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-169">絕・紅色突變</a></td>
				<td><a href="stage.html?s=1-195">絕・緊急暴風警報</a></td>
				<td><a href="stage.html?s=1-198">絕・滾死樂團</a></td>
				<td><a href="stage.html?s=1-172">絕・黑暗天堂</a></td>
				<td><a href="stage.html?s=1-193">絕・絕望異次元</a></td>
				<td><a href="stage.html?s=1-176">絕・國士無雙</a></td>
				<td><a href="stage.html?s=1-342">絕・大魔王</a></td>
				<td><a href="stage.html?s=1-185">絕・天譴</a></td>
				<td><a href="stage.html?s=1-247">絕・零號颱風</a></td>
				<td><a href="stage.html?s=1-187">絕・鐵子的部屋</a></td>
				<td><a href="stage.html?s=1-203">絕・絕望新次元</a></td>
			</tr>
		</tbody>
	</table>
	<h2>城堡素材關卡</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-150">紅磚與宇宙石的洞窟</a></td>
				<td><a href="stage.html?s=1-151">備長炭與神秘骨頭的島</a></td>
				<td><a href="stage.html?s=1-152">羽毛與鋼製齒輪的海岬</a></td>
			</tr>
		</tbody>
	</table>
	<h2>雙渦關卡</h2>
	<table>
		<thead>
			<tr>
				<th>每月6、7、19、20日</th>
				<th>每月9、10、23、24日</th>
				<th>每月13、14、27、28日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-111">禍不單行</a></td>
				<td><a href="stage.html?s=1-114">超尖端科技</a></td>
				<td><a href="stage.html?s=1-112">神判日</a></td>
			</tr>
		</tbody>
	</table>

	<h2>極難關卡</h2>
	<table>
		<tbody>
			<tr>
				<td>極難關卡</td>
				<td><a href="stage.html?s=1-119">女帝飛來</a></td>
				<td><a href="stage.html?s=1-128">亡者肥普降臨</a></td>
				<td><a href="stage.html?s=1-158">吉娃娃伯爵降臨</a></td>
				<td><a href="stage.html?s=1-95">斷罪天使海蝶降臨</a></td>
				<td><a href="stage.html?s=1-177">春宵苦短，少女做夢吧！</a></td>
				<td><a href="stage.html?s=1-117">地獄門</a></td>
			</tr>
			<tr>
				<td>絕・極難</td>
				<td><a href="stage.html?s=1-201">絕・女帝飛來</a></td>
				<td><a href="stage.html?s=1-205">絕・亡者肥普降臨</a></td>
				<td><a href="stage.html?s=1-207">絕・吉娃娃伯爵降臨</a></td>
				<td><a href="stage.html?s=1-196">絕・斷罪天使海蝶降臨</a></td>
				<td><a href="stage.html?s=1-214">絕・春宵苦短，少女做夢吧！</a></td>
				<td><a href="stage.html?s=1-199">絕・地獄門</a></td>
			</tr>
			<tr>
				<th>掉落</th>
				<td><a href="unit.html?id=287">貓咪球兒</a></td>
				<td><a href="unit.html?id=324">冰壺貓</a></td>
				<td><a href="unit.html?id=382">玻璃貓</a></td>
				<td><a href="unit.html?id=260">賽格威貓</a></td>
				<td><a href="unit.html?id=442">帶子貓</a></td>
				<td><a href="unit.html?id=284">貓咪特急</a></td>
			</tr>
		</tbody>
	</table>
	<h2>超極難關卡</h2>
	<table>
		<tbody>
			<tr>
				<td>超極難關卡</td>
				<td><a href="stage.html?s=1-220">古王妃飛來</a></td>
				<td><a href="stage.html?s=1-219">聖者波普降臨</a></td>
				<td><a href="stage.html?s=1-229">綺羅星汪汪降臨</a></td>
				<td><a href="stage.html?s=1-231">死靈妖精海蝶降臨</a></td>
				<td><a href="stage.html?s=1-232">第一次的差事</a></td>
				<td><a href="stage.html?s=1-272">誘惑的交響曲</a></td>
				<td><a href="stage.html?s=1-217">奈落門</a></td>
				<td><a href="stage.html?s=1-273">羅生門</a></td>
				<td><a href="stage.html?s=1-246">破滅的序曲</a></td>
				<td><a href="stage.html?s=1-215">藍色衝擊</a></td>
				<td><a href="stage.html?s=1-226">暗沼幽靈</a></td>
			</tr>
			<tr>
				<td>絕・超極難</td>
				<td><a href="stage.html?s=1-383">絕・古王妃飛來</a></td>
				<td><a href="stage.html?s=1-381">絕・聖者波普降臨</a></td>
				<td><a href="stage.html?s=1-338">絕・綺羅星汪汪降臨</a></td>
				<td>無</td>
				<td><a href="stage.html?s=1-375">絕・第一次的差事</a></td>
				<td>無</td>
				<td><a href="stage.html?s=1-296">絕・奈落門</a></td>
				<td>無</td>
				<td>無</td>
				<td>無</td>
				<td><a href="stage.html?s=1-243">絕・暗沼幽靈</a></td>
			</tr>
			<tr>
				<td>掉落</td>
				<td><a href="unit.html?id=527">史萊姆貓</a></td>
				<td><a href="unit.html?id=528">哥薩克貓</a></td>
				<td><a href="unit.html?id=539">英式橄欖球貓</a></td>
				<td><a href="unit.html?id=545">幻影貓</a></td>
				<td><a href="unit.html?id=553">麵包師傅貓</a></td>
				<td><a href="unit.html?id=623">魔笛貓</a></td>
				<td><a href="unit.html?id=521">蛇髮貓杜莎</a></td>
				<td><a href="unit.html?id=630">書道貓</a></td>
				<td><a href="unit.html?id=581">岩貓</a></td>
				<td><a href="unit.html?id=507">超人貓</a></td>
				<td><a href="unit.html?id=531">熊熊貓咪</a></td>
			</tr>
		</tbody>
	</table>
	<h2>神難（大降臨）關卡</h2>
	<table>
		<thead>
			<tr>
				<th>每月3、4、17、18日</th>
				<th>每月13、14、27、28日</th>
				<th>每月16日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-340">大魔王貓彈大降臨</a></td>
				<td><a href="stage.html?s=1-348">三途沼澤之王大降臨</a></td>
				<td><a href="stage.html?s=1-376">極惡家族大亂鬥</a></td>
			</tr>
			<tr>
				<td><a href="unit.html?id=708">噴射貓</a></td>
				<td><a href="unit.html?id=718">玉蜀黍貓</a></td>
				<td>稀有轉蛋券x3</td>
			</tr>
		</tbody>
	</table>
	<h2>狂亂關卡</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-17">狂亂貓咪降臨</a></td>
				<td><a href="stage.html?s=1-18">狂亂坦克貓降臨</a></td>
				<td><a href="stage.html?s=1-19">狂亂戰鬥貓降臨</a></td>
				<td><a href="stage.html?s=1-20">狂亂噁心貓降臨</a></td>
				<td><a href="stage.html?s=1-21">狂亂牛貓降臨</a></td>
				<td><a href="stage.html?s=1-22">狂亂鳥貓降臨</a></td>
				<td><a href="stage.html?s=1-23">狂亂魚貓降臨</a></td>
				<td><a href="stage.html?s=1-24">狂亂蜥蜴貓降臨</a></td>
				<td><a href="stage.html?s=1-25">狂亂巨神貓降臨</a></td>
				<td><a href="stage.html?s=1-161">狂亂萌貓降臨</a></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-102">大狂亂貓咪降臨</a></td>
				<td><a href="stage.html?s=1-103">大狂亂坦克貓降臨</a></td>
				<td><a href="stage.html?s=1-104">大狂亂戰鬥貓降臨</a></td>
				<td><a href="stage.html?s=1-105">大狂亂噁心貓降臨</a></td>
				<td><a href="stage.html?s=1-106">大狂亂牛貓降臨</a></td>
				<td><a href="stage.html?s=1-107">大狂亂鳥貓降臨</a></td>
				<td><a href="stage.html?s=1-108">大狂亂魚貓降臨</a></td>
				<td><a href="stage.html?s=1-109">大狂亂蜥蜴貓降臨</a></td>
				<td><a href="stage.html?s=1-110">大狂亂巨神貓降臨</a></td>
				<td>無</td>
			</tr>
			<tr>
				<td><a href="unit.html?id=91">狂亂貓</a>（狂小）</td>
				<td><a href="unit.html?id=92">狂亂坦克貓</a>（狂牆）</td>
				<td><a href="unit.html?id=93">狂亂戰鬥貓</a>（狂戰）</td>
				<td><a href="unit.html?id=94">狂亂噁心貓</a>（狂腿）</td>
				<td><a href="unit.html?id=95">狂亂牛貓</a>（狂牛）</td>
				<td><a href="unit.html?id=96">狂亂鳥貓</a>（狂鳥）</td>
				<td><a href="unit.html?id=97">狂亂魚貓</a>（狂島）</td>
				<td><a href="unit.html?id=98">狂亂蜥蜴貓</a>（狂龍）</td>
				<td><a href="unit.html?id=99">狂亂巨神貓</a>（狂巨）</td>
				<td><a href="unit.html?id=418">狂亂萌貓</a>（狂萌）</td>
			</tr>
		</tbody>
	</table>
	<p><a href="stage.html?s=1-208">狂亂家族大亂鬥</a></p>
	<h2>小小貓開眼關卡</h2>
	<table>
		<thead>
			<tr>
				<th>每月2日</th>
				<th>每月5日</th>
				<th>每月8日</th>
				<th>每月11日</th>
				<th>每月14日</th>
				<th>每月17日</th>
				<th>每月20日</th>
				<th>每月23日</th>
				<th>每月26日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-130">開眼小小貓來襲！</a></td>
				<td><a href="stage.html?s=1-131">開眼小小坦克貓來襲！</a></td>
				<td><a href="stage.html?s=1-132">開眼小小戰鬥貓來襲！</a></td>
				<td><a href="stage.html?s=1-133">開眼小小噁心貓來襲！</a></td>
				<td><a href="stage.html?s=1-134">開眼小小牛貓來襲！</a></td>
				<td><a href="stage.html?s=1-135">開眼小小鳥貓來襲！</a></td>
				<td><a href="stage.html?s=1-136">開眼小小魚貓來襲！</a></td>
				<td><a href="stage.html?s=1-137">開眼小小蜥蜴貓來襲！</a></td>
				<td><a href="stage.html?s=1-138">開眼小小巨神貓來襲！</a></td>
			</tr>
			<tr>
				<td><a href="unit.html?id=209">小小摩西根貓</a></td>
				<td><a href="unit.html?id=210">小小橡皮貓</a></td>
				<td><a href="unit.html?id=211">小小暗黑貓</a></td>
				<td><a href="unit.html?id=245">小小筋肉美腿貓</a></td>
				<td><a href="unit.html?id=246">小小獅子貓</a></td>
				<td><a href="unit.html?id=247">小小天空之貓</a></td>
				<td><a href="unit.html?id=311">小小島貓</a></td>
				<td><a href="unit.html?id=312">小小龍王貓</a></td>
				<td><a href="unit.html?id=313">小小賈拉米貓</a></td>
			</tr>
		</tbody>
	</table>
	<p><a href="stage.html?s=1-339">小小貓大試煉</a></p>
	<h2>EX貓開眼關卡</h2>
	<table>
		<thead>
			<tr>
				<th>每月2日</th>
				<th>每月4日</th>
				<th>每月6日</th>
				<th>每月8日</th>
				<th>每月10日</th>
				<th>每月12日</th>
				<th>每月14日</th>
				<th>每月16日</th>
				<th>每月18日</th>
				<th>每月20日</th>
				<th>每月22日</th>
				<th>每月24日</th>
				<th>每月26日</th>
				<th>每月28日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-49">開眼女王貓來襲！</a></td>
				<td><a href="stage.html?s=1-51">開眼三角褲貓來襲！</a></td>
				<td><a href="stage.html?s=1-46">開眼功夫貓來襲！</a></td>
				<td><a href="stage.html?s=1-48">開眼緊縛貓來襲！</a></td>
				<td><a href="stage.html?s=1-54">開眼殭屍貓來襲！</a></td>
				<td><a href="stage.html?s=1-57">開眼狂歡貓來襲！</a></td>
				<td><a href="stage.html?s=1-55">開眼武士貓來襲！</a></td>
				<td><a href="stage.html?s=1-50">開眼箱貓來襲！</a></td>
				<td><a href="stage.html?s=1-53">開眼忍者貓來襲！</a></td>
				<td><a href="stage.html?s=1-47">開眼Mr.來襲！</a></td>
				<td><a href="stage.html?s=1-52">開眼輪輪貓來襲！</a></td>
				<td><a href="stage.html?s=1-58">開眼短裙貓來襲！</a></td>
				<td><a href="stage.html?s=1-56">開眼相撲貓來襲！</a></td>
				<td><a href="stage.html?s=1-45">開眼女優貓來襲！</a></td>
			</tr>
			<tr>
				<td><a href="unit.html?id=13">暗黑姊</a></td>
				<td><a href="unit.html?id=15">害羞貓</a></td>
				<td><a href="unit.html?id=10">舞者貓</a></td>
				<td><a href="unit.html?id=12">極上緊縛貓</a></td>
				<td><a href="unit.html?id=19">骷髏貓</a></td>
				<td><a href="unit.html?id=22">ＡＭＩＧＯ貓</a></td>
				<td><a href="unit.html?id=20">西點師傅</a></td>
				<td><a href="unit.html?id=14">重機C・A・T</a></td>
				<td><a href="unit.html?id=18">飛天忍者貓</a></td>
				<td><a href="unit.html?id=11">Hyper Mr.</a></td>
				<td><a href="unit.html?id=17">單輪車貓</a></td>
				<td><a href="unit.html?id=23">兜襠布貓</a></td>
				<td><a href="unit.html?id=21">貓飯糰</a></td>
				<td><a href="unit.html?id=9">猛男貓</a></td>
			</tr>
		</tbody>
	</table>
	<h2>洗腦貓開眼關卡</h2>
	<table>
		<thead>
			<tr>
				<th>每月1日（繁中版:3）</th>
				<th>每月4日（繁中版:6）</th>
				<th>每月7日（繁中版:9）</th>
				<th>每月10日（繁中版:12）</th>
				<th>每月13日（繁中版:15）</th>
				<th>每月16日（繁中版:18）</th>
				<th>每月19日（繁中版:21）</th>
				<th>每月22日（繁中版:24）</th>
				<th>每月25日（繁中版:27）</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-350">極惡貓咪降臨</a></td>
				<td><a href="stage.html?s=1-351">極惡坦克貓降臨</a></td>
				<td><a href="stage.html?s=1-352">極惡戰鬥貓降臨</a></td>
				<td><a href="stage.html?s=1-353">極惡噁心貓降臨</a></td>
				<td><a href="stage.html?s=1-354">極惡牛貓降臨</a></td>
				<td><a href="stage.html?s=1-355">極惡鳥貓降臨</a></td>
				<td><a href="stage.html?s=1-356">極惡魚貓降臨</a></td>
				<td><a href="stage.html?s=1-357">極惡蜥蜴貓降臨</a></td>
				<td><a href="stage.html?s=1-358">極惡巨神貓降臨</a></td>
			</tr>
			<tr>
				<td><a href="unit.html?id=629">遭洗腦的摩西根貓</a></td>
				<td><a href="unit.html?id=636">遭洗腦的橡皮貓</a></td>
				<td><a href="unit.html?id=645">遭洗腦的暗黑貓</a></td>
				<td><a href="unit.html?id=654">遭洗腦的筋肉美腿貓</a></td>
				<td><a href="unit.html?id=662">遭洗腦的獅子貓</a></td>
				<td><a href="unit.html?id=667">遭洗腦的天空之貓</a></td>
				<td><a href="unit.html?id=684">遭洗腦的島貓</a></td>
				<td><a href="unit.html?id=688">遭洗腦的龍王貓</a></td>
				<td><a href="unit.html?id=694">遭洗腦的賈拉米貓</a></td>
			</tr>
		</tbody>
	</table>

	<p><a href="stage.html?s=1-376">極惡家族大亂鬥</a></p>

	<h2>貓咪券關卡</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-6">貓咪券★機會！</a></td>
				<td><a href="stage.html?s=1-7">逆襲的河馬將</a></td>
				<td><a href="stage.html?s=1-78">逆襲的臉君</a></td>
			</tr>
			<tr>
				<td>30% 銀券 ×1</td>
				<td>100% 銀券 ×1</td>
				<td>30% 銀券×3，70% 銀券×3</td>
			</tr>
		</tbody>
	</table>
	<h2>經驗值關卡</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-59">超級游擊經驗值喵！</a></td>
				<td><a href="stage.html?s=1-27">週末關卡</a></td>
				<td><a href="stage.html?s=1-124">終極游擊經驗值喵！</a></td>
				<td><a href="stage.html?s=1-155">超終極游擊經驗值喵！</a></td>
				<td><a href="stage.html?s=1-319">超終極惡游擊經驗值喵！</a></td>
				<td><a href="stage.html?s=11-49">月間活動全明星 眾星雲集大感謝祭！</a></td>
			</tr>
			<tr>
				<td>72萬</td>
				<td>126萬</td>
				<td>210萬</td>
				<td>307萬</td>
				<td>461萬</td>
				<td>全10關，共3000萬（不需保雷、洞悉先機）</td>
			</tr>
		</tbody>
	</table>
	<p>※各關都是消耗500統帥力，經驗值以尾關開寶物雷達及洞悉先機(1.5倍)計算</p>
	<p>※推薦打「超終極游擊經驗值喵！」、「超終極惡游擊經驗值喵！」兩關，或靠傳說關卡、真傳說關卡獲取XP</p>
	<p>※解月間任務可打「週末關卡」的第一關或<a href="stage.html?s=10-11">使用一個喵力達A</a></p>
	<h2>超生命體強襲</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=11-20">巨大生物強襲</a></td>
				<td><a href="stage.html?s=11-27">巨象黑藏強襲</a></td>
				<td><a href="stage.html?s=11-34">巨蛾蛾蛾強襲</a></td>
				<td><a href="stage.html?s=11-35">巨大河馬星人強襲</a></td>
				<td><a href="stage.html?s=11-37">特大號大天使強襲</a></td>
				<td><a href="stage.html?s=11-38">巨大企鵝大哥Z強襲</a></td>
				<td><a href="stage.html?s=11-61">巨大三惡魔強襲</a></td>
				<td><a href="stage.html?s=11-65">大型陶器埴輪巨犬強襲</a></td>
			</tr>
			<tr>
				<td>本能玉【紅】</td>
				<td>本能玉【黑】</td>
				<td>本能玉【浮】</td>
				<td>本能玉【異星】</td>
				<td>本能玉【天】</td>
				<td>本能玉【不死】</td>
				<td>本能玉【惡魔】</td>
				<td>本能玉【古】</td>
			</tr>
		</tbody>
	</table>
	<h2>貓咪塔</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=6-0">風雲貓咪塔</a></td>
				<td><a href="stage.html?s=6-6">異界貓咪塔</a></td>
				<td><a href="stage.html?s=6-1">喵別塔【紅】</a></td>
				<td><a href="stage.html?s=6-2">喵別塔【黑】</a></td>
				<td><a href="stage.html?s=6-3">喵別塔【天】</a></td>
				<td><a href="stage.html?s=6-4">喵別塔【異】</a></td>
				<td><a href="stage.html?s=6-5">喵別塔【死】</a></td>
				<td><a href="stage.html?s=6-7">喵別塔【無】</a></td>
				<td><a href="stage.html?s=6-8">喵別塔【惡】</a></td>
				<td><a href="stage.html?s=6-9">喵別塔【古】</a></td>
			</tr>
		</tbody>
	</table>
	<h2>周年活動/降臨祭等</h2>
	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=1-173">大逆襲的鋼鐵熊</a></td>
				<td><a href="stage.html?s=1-118">貓薄荷挑戰</a></td>
				<td><a href="stage.html?s=1-69">極難祭！</a></td>
				<td><a href="stage.html?s=1-120">極難祭2！</a></td>
				<td><a href="stage.html?s=1-190">極難祭3！</a></td>
				<td></td>
				<td><a href="stage.html?s=1-182">活動全明星 超級豪華大禮</a></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-33">月間活動全明星 特別紀念！</a></td>
				<td><a href="stage.html?s=1-34">月間活動全明星 超強紀念！</a></td>
				<td><a href="stage.html?s=1-35">月間活動全明星 無敵紀念！</a></td>
				<td><a href="stage.html?s=1-70">月間活動全明星 絕佳紀念！</a></td>
				<td><a href="stage.html?s=1-79">活動全明星關卡 卓越紀念！</a></td>
				<td><a href="stage.html?s=1-146">活動全明星 偉大紀念！</a></td>
				<td><a href="stage.html?s=11-49">月間活動全明星 眾星雲集大感謝祭！</a></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-287">黑夜襲擊之戰</a></td>
				<td><a href="stage.html?s=1-289">烈火之亂</a></td>
				<td><a href="stage.html?s=1-336">殭屍古堡</a></td>
				<td><a href="stage.html?s=1-349">機械反抗軍</a></td>
				<td><a href="stage.html?s=11-53">決鬥大挑戰</a></td>
				<td><a href="stage.html?s=11-54">雙人鬪技大挑戰</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-251">天使與般若</a></td>
				<td><a href="stage.html?s=1-252">女帝與亡者</a></td>
				<td><a href="stage.html?s=1-253">伯爵與乙女</a></td>
				<td><a href="stage.html?s=1-305">亡者與河豚</a></td>
				<td><a href="stage.html?s=1-306">女帝與少女</a></td>
				<td><a href="stage.html?s=1-307">伯爵與天使</a></td>
				<td><a href="stage.html?s=1-377">阿龜與小孩</a></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-378">王子與死靈</a></td>
				<td><a href="stage.html?s=1-379">蜜江與聖者</a></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=1-234">大亂鬪 春季特別活動</a></td>
				<td><a href="stage.html?s=1-235">大亂鬪 夏季特別活動</a></td>
				<td><a href="stage.html?s=1-236">大亂鬪 秋季特別活動</a></td>
				<td><a href="stage.html?s=1-237">大亂鬪 冬季特別活動</a></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<h2>惡魔系列關卡</h2>
	<ul>
		<li><a href="stage.html?s=1-255">魔法書暗示的場所</a> → <a href="stage.html?s=1-257">解放的貓咪</a></li>
		<li><a href="stage.html?s=1-256">異界的僕人</a> → <a href="stage.html?s=1-258">解放的坦克貓</a></li>
		<li><a href="stage.html?s=1-265">惡魔園</a> → <a href="stage.html?s=1-266">解放的戰鬥貓</a></li>
	</ul>
	<p>上面三關都通關後出現 <a href="stage.html?s=1-268">解放的貓咪們</a>，打完後解鎖以下關卡：女王的研究報告（5章，掉落各式資源）、女王的挖掘調查（5章，掉落遠古的蛋）、<a href="stage.html?s=3-14">魔界篇</a>、<a href="stage.html?s=9-38">真傳奇關卡 第39章 - 大災難的開始</a>、<a href="stage.html?s=1-272">誘惑的交響曲</a>、 <a href="stage.html?s=1-273">羅生門</a>、
		<a href="stage.html?s=1-350">極惡貓咪降臨</a>等關卡</p>
	<table>
		<tbody>
			<tr>
				<td>女王的研究報告</td>
				<td><a href="stage.html?s=1-269">女王的研究報告1</a></td>
				<td><a href="stage.html?s=1-270">女王的研究報告2</a></td>
				<td><a href="stage.html?s=1-271">女王的研究報告3</a></td>
				<td><a href="stage.html?s=1-275">女王的研究報告4</a></td>
				<td><a href="stage.html?s=1-276">女王的研究報告5</a></td>
			</tr>
			<tr>
				<td>女王的挖掘調查</td>
				<td><a href="stage.html?s=1-277">女王的挖掘調查1</a>掉落<a href="unit.html?id=656">埴輪貓</a></td>
				<td><a href="stage.html?s=1-278">女王的挖掘調查2</a>掉落<a href="unit.html?id=669">仙人掌貓</a></td>
				<td><a href="stage.html?s=1-279">女王的挖掘調查3</a>掉落<a href="unit.html?id=685">小鴨車車貓</a></td>
				<td><a href="stage.html?s=1-280">女王的挖掘調查4</a>掉落<a href="unit.html?id=700">殺手貓</a></td>
				<td><a href="stage.html?s=1-281">女王的挖掘調查5</a>掉落<a href="unit.html?id=720">惡魔熊熊貓</a></td>
			</tr>
		</tbody>
	</table>
	<h2>挖掘地圖/超獸討伐/獸石關卡</h2>

	<table>
		<tbody>
			<tr>
				<td rowspan="3">粗劣</td>
				<td><a href="stage.html?s=12-0">道具古戰場</a></td>
				<td>隨機一種戰鬥道具x2</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-1">維他命溪谷</a></td>
				<td>隨機一種喵力達x1</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-3">精神與時間的小屋</a></td>
				<td>必定50萬XP</td>
			</tr>
			<tr>
				<td rowspan="3">普通</td>
				<td><a href="stage.html?s=12-7">維他命火山</a></td>
				<td>隨機一種喵力達x2</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-4">精神與時間的洞窟</a></td>
				<td>必定100萬XP</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-2">貓咪券★獵人</a></td>
				<td>63%貓咪券x1
					<br>27%貓咪券x2
					<br>10%貓咪券x3</td>
			</tr>
			<tr>
				<td rowspan="3">最棒</td>
				<td><a href="stage.html?s=12-6">貓眼洞窟</a></td>
				<td>35%貓眼石【EX】
					<br>27%貓眼石【稀有】x1
					<br>27%貓眼石【激稀有】x1
					<br>10%貓眼石【超激稀有】x1
					<br>1%貓眼石【傳說】x1</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-5">精神與時間的迷宮</a></td>
				<td>必定200萬XP</td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-8">貓咪券★獵人G</a></td>
				<td>63%貓咪券x2
					<br>27%貓咪券x3
					<br>10%貓咪券x4</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td><a href="stage.html?s=14-0">甲普拉密林</a></td>
				<td><a href="stage.html?s=14-1">亞蜥比沙漠</a></td>
				<td><a href="stage.html?s=14-2">將弗裂火山</a></td>
				<td><a href="stage.html?s=1-326">進化的彩虹獸石</a></td>
			</tr>
			<tr>
				<td><a href="stage.html?s=12-60">獵人的地圖Ⅰ</a></td>
				<td><a href="stage.html?s=12-61">獵人的地圖Ⅱ</a></td>
				<td><a href="stage.html?s=12-62">獵人的地圖Ⅲ</a></td>
				<td><a href="stage.html?s=12-66">獵人的地圖Ⅳ</a></td>
			</tr>
		</tbody>
	</table>
	<h2>本能玉地圖</h2>
	<table>
		<tbody>
			<tr>
				<td>粗劣</td>
				<td><a href="stage.html?s=12-33">紅色本能的起源</a></td>
				<td><a href="stage.html?s=12-12">飄浮本能的起源</a></td>
				<td><a href="stage.html?s=12-15">黑色本能的起源</a></td>
				<td><a href="stage.html?s=12-18">神聖本能的起源</a></td>
				<td><a href="stage.html?s=12-21">蒼藍本能的起源</a></td>
				<td><a href="stage.html?s=12-24">腐朽本能的起源</a></td>
				<td><a href="stage.html?s=12-27">強硬本能的起源</a></td>
				<td><a href="stage.html?s=12-63">惡意本能的起源</a></td>
				<td><a href="stage.html?s=12-67">古代本能的起源</a></td>
			</tr>
			<tr>
				<td>普通</td>
				<td><a href="stage.html?s=12-34">紅色本能的頂點</a>
					<td><a href="stage.html?s=12-13">飄浮本能的頂點</a>
						<td><a href="stage.html?s=12-16">黑色本能的頂點</a>
							<td><a href="stage.html?s=12-19">神聖本能的頂點</a>
								<td><a href="stage.html?s=12-22">蒼藍本能的頂點</a>
									<td><a href="stage.html?s=12-25">腐朽本能的頂點</a>
										<td><a href="stage.html?s=12-28">強硬本能的頂點</a>
											<td><a href="stage.html?s=12-64">惡意本能的頂點</a>
												<td><a href="stage.html?s=12-68">古代本能的頂點</a></td>
			</tr>
			<tr>
				<td>最棒</td>
				<td><a href="stage.html?s=12-35">紅色本能的秘境</a></td>
				<td><a href="stage.html?s=12-14">飄浮本能的秘境</a></td>
				<td><a href="stage.html?s=12-17">黑色本能的秘境</a></td>
				<td><a href="stage.html?s=12-20">神聖本能的秘境</a></td>
				<td><a href="stage.html?s=12-23">蒼藍本能的秘境</a></td>
				<td><a href="stage.html?s=12-26">腐朽本能的秘境</a></td>
				<td><a href="stage.html?s=12-29">強硬本能的秘境</a></td>
				<td><a href="stage.html?s=12-65">惡意本能的秘境</a></td>
				<td><a href="stage.html?s=12-69">古代本能的秘境</a></td>
			</tr>
		</tbody>
	</table>

	<h2>節慶活動資訊</h2>
	<p>通常於12月最後1週開始</p>
	<ul>
		<li><a href="stage.html?s=1-125">貓咪雪祭</a></li>
	</ul>
	<h2>日本“大學入學共通考試”活動</h2>
	<p>通常於1月/2月開始</p>
	<ul>
		<li><a href="stage.html?s=1-160">加油！入考大戰爭</a></li>
	</ul>
	<h2>農曆新年活動</h2>
	<p>通常在1月／2月開始</p>
	<ul>
		<li><a href="stage.html?s=11-41">貓咪歡慶佳節～過年篇～</a></li>
	</ul>
	<h2>情人節活動</h2>
	<p>通常於2/14左右開始</p>
	<ul>
		<li><a href="stage.html?s=1-297">我們的情人節戰爭</a></li>
		<li><a href="stage.html?s=11-45">強襲！人情巧克力軍團</a></li>
		<li><a href="stage.html?s=1-290">後輩送的本命巧克力</a></li>
		<li><a href="stage.html?s=1-291">前輩送的本命巧克力</a></li>
		<li><a href="stage.html?s=1-292">青梅竹馬送的本命巧克力</a></li>
	</ul>
	<h2>殺意貓活動</h2>
	<p>日文版通常於2/22左右開始（其他版本可能要到8/8才開始）</p>
	<ul>
		<li><a href="stage.html?s=11-64">貓咪們的大逆襲</a></li>
	</ul>
	<h2>白色情人節活動</h2>
	<p>通常於3/14左右開始</p>
	<ul>
		<li><a href="stage.html?s=11-48">Season1～學園生活～</a></li>
		<li><a href="stage.html?s=1-298">Season2～心動時分文化祭～</a></li>
		<li><a href="stage.html?s=1-299">Season3～校外教學</a></li>
		<li><a href="stage.html?s=1-303">Season4～畢業之日</a></li>
		<li><a href="stage.html?s=1-329">After Story～畢業之日～</a></li>
	</ul>
	<p>以下活動分三周的周末舉行，只能出擊<a href="/gacha/Heartbeat_Catcademy.html">心動時分貓咪學園</a>限定角色（包含期間限定課金角色<a href="https://battlecatsinfo.github.io/unit.html?id=735">校長貓</a>），所以提高+值（親密度）來通過以下關卡</p>
	<ul>
		<li><a href="stage.html?s=1-300">Weekend～告白～（第一周）</a></li>
		<li><a href="stage.html?s=1-330">Weekend～再次告白～（第一周）</a></li>
		<li><a href="stage.html?s=1-301">Weekend～告白～（第二周）</a></li>
		<li><a href="stage.html?s=1-331">Weekend～再次告白～（第二周）</a></li>
		<li><a href="stage.html?s=1-302">Weekend～告白～（第三周）</a></li>
		<li><a href="stage.html?s=1-332">Weekend～再次告白～（第三周）</a></li>
	</ul>
	<h2>復活節活動</h2>
	<p>通常於復活節當天（3月/4月）開始</p>
	<ul>
		<li><a href="stage.html?s=1-129">神秘復活節</a></li>
		<li><a href="stage.html?s=1-337">開眼彩蛋貓來襲！</a></li>
		<li><a href="stage.html?s=11-14">復活節強襲！</a></li>
	</ul>
	<h2>日本黃金週活動</h2>
	<p>通常於4月月底/5月月初開始</p>
	<ul>
		<li><a href="stage.html?s=1-140">日進斗金 淘金夢</a></li>
	</ul>
	<h2>梅雨季節活動</h2>
	<p>通常於5月/6月開始</p>
	<ul>
		<li><a href="stage.html?s=1-164">濕濕黏黏大進擊！</a></li>
	</ul>
	<h2>六月新娘活動</h2>
	<p>通常於6月/7月開始</p>
	<ul>
		<li><a href="stage.html?s=11-52">#01「惡魔婚宴會場」</a></li>
		<li><a href="stage.html?s=1-343">#02「恐怖婚宴」</a></li>
		<li><a href="stage.html?s=1-308">#03「13號星期？」</a></li>
		<li><a href="stage.html?s=1-309">#04「貓鳴村」</a></li>
		<li><a href="stage.html?s=1-372">週末蜜月第一週</a></li>
		<li><a href="stage.html?s=1-373">週末蜜月第二週</a></li>
		<li><a href="stage.html?s=1-374">週末蜜月最後一週</a></li>
	</ul>
	<h2>貓咪的暑假</h2>
	<p>通常於8月/9月開始</p>
	<ul>
		<li><a href="stage.html?s=11-19">貓咪的暑假</a></li>
		<li><a href="stage.html?s=1-380">夏夜回家路</a></li>
		<li><a href="stage.html?s=1-315">蟲蟲王者相撲 預賽</a></li>
		<li><a href="stage.html?s=1-316">蟲蟲王者相撲 半準決賽</a></li>
		<li><a href="stage.html?s=1-317">蟲蟲王者相撲 準決賽</a></li>
		<li><a href="stage.html?s=1-318">蟲蟲王者相撲 決賽</a></li>
		<li><a href="stage.html?s=1-115">心動夏日祭典</a></li>
		<li><a href="stage.html?s=1-149">暑修課程</a></li>
		<li><a href="stage.html?s=1-344">暑假的最後趕作業</a></li>
	</ul>
	<h2>貓咪的暑假生存季</h2>
	<p>接續貓咪的暑假開始</p>
	<ul>
		<li><a href="stage.html?s=11-67">ねこのなつやすみ サバイバル</a></li>
	</ul>
	<p>另外「貓咪刮刮樂」與「活下去！曼波魚！」合作活動通常也在這時候舉行</p>
	<ul>
		<li><a href="stage.html?s=2-88">活下去！曼波魚！</a></li>
		<li><a href="stage.html?s=2-89">3億條的夥伴都死掉了</a></li>
		<li><a href="stage.html?s=13-13">歌后曼波魚崎A・Y・U 強襲！</a></li>
	</ul>
	<h2>日本白金週活動</h2>
	<p>通常於9月/10月開始</p>
	<ul>
		<li><a href="stage.html?s=1-154">秋季白金週</a></li>
	</ul>
	<h2>萬聖節活動</h2>
	<p>通常於10月月底開始</p>
	<ul>
		<li><a href="stage.html?s=1-320">#01 甜點爭奪戰</a></li>
		<li><a href="stage.html?s=11-56">#02 萬聖節百鬼夜行</a></li>
		<li><a href="stage.html?s=1-321">#03 超恐怖惡作劇</a></li>
	</ul>
	<h2>日本文化祭活動</h2>
	<p>通常於11月開始</p>
	<ul>
		<li><a href="stage.html?s=1-174">文化祭美食戰爭</a></li>
	</ul>
	<h2>熱血運動會</h2>
	<p>日版通常於10月開始，台版於通常於12月開始</p>
	<ul>
		<li><a href="stage.html?s=1-260">熱血！滾大球比賽</a></li>
		<li><a href="stage.html?s=1-261">熱血！障礙物競走</a></li>
		<li><a href="stage.html?s=1-262">熱血！兩人三腳賽 低學年</a></li>
		<li><a href="stage.html?s=1-263">熱血！兩人三腳賽 中學年</a></li>
		<li><a href="stage.html?s=1-264">熱血！兩人三腳賽 高學年</a></li>
		<li><a href="stage.html?s=1-359">熱血！大隊接力</a></li>
	</ul>
	<h2>聖誕節活動</h2>
	<p>通常於12月開始</p>
	<ul>
		<li><a href="stage.html?s=1-325">第一晚 辛勞的聖誕貓咪</a></li>
		<li><a href="stage.html?s=11-58">第二晚 平安夜裡送禮物</a></li>
		<li><a href="stage.html?s=1-364">第三晚 聖誕禮物二次投遞</a></li>
	</ul>

	<h2>排行賽會議</h2>

	<table>
		<ul>
			<li><a href="stage.html?s=7-20">排行賽會場【外傳】 - 紅天使大會</a></li>
			<li><a href="stage.html?s=7-21">排行賽會場【外傳】 - 黑星人大會</a></li>
			<li><a href="stage.html?s=7-22">排行賽會場【外傳】 - 不死鳥大會</a></li>
			<li><a href="stage.html?s=7-11">排行賽會場 - 吸血伯爵大賽</a></li>
			<li><a href="stage.html?s=7-12">排行賽會場 - 天空舞蹈大賽</a></li>
			<li><a href="stage.html?s=7-13">排行賽會場 - 宇宙亡者大賽</a></li>
		</ul>
	</table>

	<h2>公主踢騎士Sweets</h2>
	<ul>
		<li><a href="stage.html?s=2-1">超魅惑公主</a></li>
		<li><a href="stage.html?s=2-2">飛踢公主關卡</a></li>
		<li><a href="stage.html?s=2-80">飛踢王國的教導</a></li>
	</ul>
	<h2>梅露可物語</h2>
	<ul>
		<li><a href="stage.html?s=2-8">對決！梅露可物語</a></li>
		<li><a href="stage.html?s=2-86">神秘的梅露可物語</a></li>
		<li><a href="stage.html?s=2-7">地獄級梅露可物語</a></li>
		<li><a href="stage.html?s=2-85">梅露可物語大反擊</a></li>
		<li><a href="stage.html?s=2-18">開眼的癒術士來襲！</a></li>
		<li><a href="stage.html?s=2-46">開眼的梅露可來襲！</a></li>
		<li><a href="stage.html?s=2-47">開眼的推推來襲！</a></li>
	</ul>
	<h2>活下去！曼波魚！</h2>
	<ul>
		<li><a href="stage.html?s=2-88">活下去！曼波魚！</a></li>
		<li><a href="stage.html?s=2-89">3億條的夥伴都死掉了</a></li>
		<li><a href="stage.html?s=13-13">歌后曼波魚崎A・Y・U 強襲！</a></li>
	</ul>
	<h2>消滅都市</h2>
	<ul>
		<li><a href="stage.html?s=2-166">消滅都市～失落的世界～</a></li>
		<li><a href="stage.html?s=2-168">失去世界</a></li>
		<li><a href="stage.html?s=2-169">魂體之都</a></li>
		<li><a href="stage.html?s=2-170">天上世界</a></li>
		<li><a href="stage.html?s=2-167">開眼的拓也與小雪</a></li>
		<li><a href="stage.html?s=2-204">開眼的紅髮小雪貓來襲！</a></li>
		<li><a href="stage.html?s=13-0">梅西耶 強襲！</a></li>
	</ul>
	<h2>越南大戰DEFENSE</h2>
	<ul>
		<li><a href="stage.html?s=2-21">METAL SLUG DEFENSE 越南大戰</a></li>
		<li><a href="stage.html?s=2-22">METAL SLUG DEFENSE 超級越南大戰</a></li>
		<li><a href="stage.html?s=13-15">強襲！メタルスラッグ</a></li>
	</ul>
	<h2>魔法少女小圓</h2>
	<ul>
		<li><a href="stage.html?s=2-173">成為魔法少女吧！</a></li>
		<li><a href="stage.html?s=2-174">續・成為魔法少女吧！</a></li>
		<li><a href="stage.html?s=2-175">魔女的結界～玫瑰園的魔女～</a></li>
		<li><a href="stage.html?s=2-176">魔女的結界～零食的魔女～</a></li>
		<li><a href="stage.html?s=2-177">魔女的結界～箱的魔女～</a></li>
		<li><a href="stage.html?s=2-178">胡桃鉗魔女</a></li>
		<li><a href="stage.html?s=13-9">魔女之夜</a></li>
	</ul>
	<h2>Crash Fever</h2>
	<ul>
		<li><a href="stage.html?s=2-41">ALICE的入口</a></li>
		<li><a href="stage.html?s=2-42">月夜古城</a></li>
		<li><a href="stage.html?s=2-82">女王失控</a></li>
	</ul>
	<h2>劇場版 Fate/stay night</h2>
	<ul>
		<li><a href="stage.html?s=2-52">聖杯戰爭的緣起</a></li>
		<li><a href="stage.html?s=2-194">激鬥！Saber來襲！</a></li>
		<li><a href="stage.html?s=2-195">激鬥！Lancer來襲！</a></li>
		<li><a href="stage.html?s=2-196">激鬥！Archer來襲！</a></li>
		<li><a href="stage.html?s=2-197">激鬥！Rider來襲！</a></li>
		<li><a href="stage.html?s=2-198">大激鬥！Gilgamesh來襲！</a></li>
		<li><a href="stage.html?s=2-87">超激鬥！Saber Alter來襲！</a></li>
		<li><a href="stage.html?s=13-14">Servant強襲！</a></li>
	</ul>
	<h2>實況野球</h2>
	<ul>
		<li><a href="stage.html?s=2-58">實況野球高校 2年級的夏天</a></li>
		<li><a href="stage.html?s=2-59">來自沒問題博士的戰帖</a></li>
		<li><a href="stage.html?s=2-60">約會戰 貓塚花凜</a></li>
		<li><a href="stage.html?s=2-61">約會戰 紺野美崎</a></li>
		<li><a href="stage.html?s=2-62">約會戰 虹谷彩理</a></li>
		<li><a href="stage.html?s=2-63">約會戰 片桐戀</a></li>
	</ul>
	<h2>新世紀福音戰士</h2>
	<ul>
		<li><a href="stage.html?s=2-65">出擊！EVANGELION</a></li>
		<li><a href="stage.html?s=2-66">決戰！屋島作戰</a></li>
		<li><a href="stage.html?s=2-205">第9使徒，來襲</a></li>
		<li><a href="stage.html?s=2-206">第10使徒，來襲</a></li>
		<li><a href="stage.html?s=2-207">EVA第13號機，來襲</a></li>
		<li><a href="stage.html?s=2-208">最終決戰　EVA第13號機</a></li>
		<li><a href="stage.html?s=2-209">再見了，所有的貓咪。</a></li>
		<li><a href="stage.html?s=13-7">使徒強襲</a></li>
	</ul>
	<h2>聖魔大戰</h2>
	<ul>
		<li><a href="stage.html?s=2-92">聖魔大戰勃發！</a></li>
		<li><a href="stage.html?s=2-93">聖魔大戰巧克力</a></li>
		<li><a href="stage.html?s=2-94">對決！魔幻原型</a></li>
		<li><a href="stage.html?s=2-95">覺醒！大和爆神</a></li>
		<li><a href="stage.html?s=13-2">惡魔軍 強襲 !</a></li>
		<li><a href="stage.html?s=13-3">天使軍 強襲 !</a></li>
	</ul>
	<h2>快打旋風</h2>
	<ul>
		<li><a href="stage.html?s=2-135">快打旋風EASY</a></li>
		<li><a href="stage.html?s=2-136">快打旋風NORMAL</a></li>
		<li><a href="stage.html?s=2-137">快打旋風HARD</a></li>
		<li><a href="stage.html?s=2-138">New Challenger</a></li>
		<li><a href="stage.html?s=2-139">New Challenger</a></li>
		<li><a href="stage.html?s=2-140">New Challenger</a></li>
		<li><a href="stage.html?s=2-141">New Challenger</a></li>
		<li><a href="stage.html?s=2-142">New Challenger</a></li>
		<li><a href="stage.html?s=2-143">New Challenger</a></li>
		<li><a href="stage.html?s=2-144">New Challenger</a></li>
		<li><a href="stage.html?s=2-145">New Challenger</a></li>
		<li><a href="stage.html?s=2-146">New Challenger</a></li>
		<li><a href="stage.html?s=2-147">New Challenger</a></li>
		<li><a href="stage.html?s=2-148">New Challenger</a></li>
		<li><a href="stage.html?s=2-149">New Challenger</a></li>
		<li><a href="stage.html?s=2-150">New Challenger</a></li>
		<li><a href="stage.html?s=2-151">New Challenger</a></li>
		<li><a href="stage.html?s=2-152">New Challenger</a></li>
		<li><a href="stage.html?s=2-153">New Challenger</a></li>
		<li><a href="stage.html?s=2-154">New Challenger</a></li>
		<li><a href="stage.html?s=2-155">New Challenger</a></li>
		<li><a href="stage.html?s=2-156">New Challenger</a></li>
		<li><a href="stage.html?s=2-157">New Challenger</a></li>
		<li><a href="stage.html?s=2-158">New Challenger</a></li>
		<li><a href="stage.html?s=2-159">New Challenger</a></li>
		<li><a href="stage.html?s=2-160">New Challenger</a></li>
		<li><a href="stage.html?s=2-161">New Challenger</a></li>
		<li><a href="stage.html?s=2-189">New Challenger</a></li>
		<li><a href="stage.html?s=2-190">New Challenger</a></li>
		<li><a href="stage.html?s=2-191">New Challenger</a></li>
		<li><a href="stage.html?s=2-192">New Challenger</a></li>
		<li><a href="stage.html?s=2-162">New Challenger</a></li>
	</ul>
	<h2>初音未來</h2>
	<ul>
		<li><a href="stage.html?s=2-126">初音未來</a></li>
		<li><a href="stage.html?s=2-127">MIKU EXPO</a></li>
		<li><a href="stage.html?s=2-128">MIKU CHERRY</a></li>
		<li><a href="stage.html?s=2-134">初音未來的誕生日！</a></li>
		<li><a href="stage.html?s=2-163">SNOW MIKU</a></li>
		<li><a href="stage.html?s=13-5">強襲！電子歌姬</a></li>
		<li><a href="stage.html?s=2-210">週末演唱會 第1天</a></li>
		<li><a href="stage.html?s=2-211">週末演唱會 第2天</a></li>
	</ul>
	<h2>亂馬1/2</h2>
	<ul>
		<li><a href="stage.html?s=2-164">波亂！天道道場</a></li>
		<li><a href="stage.html?s=2-165">傳說的咒泉鄉</a></li>
		<li><a href="stage.html?s=13-12">強襲！「亂馬１/２」</a></li>
	</ul>
	<h2>謎之兔</h2>
	<ul>
		<li><a href="stage.html?s=2-40">バースデープレゼント！</a></li>
	</ul>
	<h2>城與龍</h2>
	<ul>
		<li><a href="stage.html?s=2-24">城與龍</a></li>
		<li><a href="stage.html?s=2-26">固若金湯的城與龍</a></li>
		<li><a href="stage.html?s=2-78">城與龍 VS 城與龍</a></li>
		<li><a href="stage.html?s=2-25">開眼的城與龍</a></li>
		<li><a href="stage.html?s=13-11">強襲！城とドラゴン</a></li>
	</ul>
	<h2>熱血高校</h2>
	<ul>
		<li><a href="stage.html?s=1-260">熱血！滾大球比賽</a></li>
		<li><a href="stage.html?s=1-261">熱血！障礙物競走</a></li>
		<li><a href="stage.html?s=1-262">熱血！兩人三腳賽 低學年</a></li>
		<li><a href="stage.html?s=1-263">熱血！兩人三腳賽 中學年</a></li>
		<li><a href="stage.html?s=1-264">熱血！兩人三腳賽 高學年</a></li>
		<li><a href="stage.html?s=1-359">熱血！大隊接力</a></li>
	</ul>
	<h2>高雄捷運x麻吉貓</h2>
	<ul>
		<li><a href="stage.html?s=2-103">高雄捷運 紅線</a></li>
		<li><a href="stage.html?s=2-104">高雄捷運 橘線</a></li>
		<li><a href="stage.html?s=2-183">高雄捷運 紅線</a></li>
	</ul>
	<h2>Hikakin </h2>
	<ul>
		<li><a href="stage.html?s=2-83">飛踢王國的教導</a></li>
		<li><a href="stage.html?s=2-84">飛踢王國的教導</a></li>
	</ul>
	<h2>哥吉拉</h2>
	<ul>
		<li><a href="stage.html?s=2-171">決戰！巨大生物哥吉拉</a></li>
		<li><a href="stage.html?s=2-172">哥吉拉對貓咪</a></li>
	</ul>
	<h2>戽斗星球</h2>
	<ul>
		<li><a href="stage.html?s=2-105">戽斗星球</a></li>
		<li><a href="stage.html?s=7-10">排行賽會場</a></li>
	</ul>
	<h2>賤萌熊</h2>
	<ul>
		<li><a href="stage.html?s=2-79">賤萌地激烈擺動白熊</a></li>
	</ul>
	<h2>巧克力</h2>
	<ul>
		<li><a href="stage.html?s=2-51">貓奴大王</a></li>
		<li><a href="stage.html?s=2-101">開眼巧克力來襲！</a></li>
	</ul>
	<h2>蛋黃哥</h2>
	<ul>
		<li><a href="stage.html?s=2-49">軟爛中</a></li>
		<li><a href="stage.html?s=2-50">反正遲早都會被吃</a></li>
		<li><a href="stage.html?s=2-76">哥現在很忙</a></li>
		<li><a href="stage.html?s=2-77">開眼蛋黃貓來襲！</a></li>
	</ul>
	<h2>NEO菇菇栽培</h2>
	<ul>
		<li><a href="stage.html?s=2-29">來自菇菇的戰帖</a></li>
	</ul>
	<h2>魔物獵人大狩獵</h2>
	<ul>
		<li><a href="stage.html?s=2-19">バースデープレゼント！</a></li>
		<li><a href="stage.html?s=2-20">バースデープレゼント！</a></li>
	</ul>
	<h2>龍族撲克</h2>
	<ul>
		<li><a href="stage.html?s=2-5">バースデープレゼント！</a></li>
	</ul>
	<h2>小林幸子（歌謠貓）</h2>
	<ul>
		<li><a href="stage.html?s=2-6">大魔王降臨！？</a></li>
		<li><a href="stage.html?s=2-37">開眼的歌謠貓來襲！</a></li>
	</ul>
	<h2>龍戰聯盟</h2>
	<ul>
		<li><a href="stage.html?s=2-9">バースデープレゼント！</a></li>
	</ul>
	<h2>氣志團</h2>
	<ul>
		<li><a href="stage.html?s=2-10">バースデープレゼント！</a></li>
	</ul>
	<h2>極道大戰爭</h2>
	<ul>
		<li><a href="stage.html?s=2-16">バースデープレゼント！</a></li>
	</ul>
	<h2>貓咪破壞者</h2>
	<ul>
		<li><a href="stage.html?s=2-36">バースデープレゼント！</a></li>
	</ul>
	<h2>PIKO太郎</h2>
	<ul>
		<li><a href="stage.html?s=2-38">PIKO太郎</a></li>
	</ul>
	<h2>三原慧悟</h2>
	<ul>
		<li><a href="stage.html?s=2-39">追逐夢想男偶像</a></li>
		<li><a href="stage.html?s=2-90">開眼三原慧悟來襲！</a></li>
	</ul>
	<h2>謎之兔</h2>
	<ul>
		<li><a href="stage.html?s=2-40">バースデープレゼント！</a></li>
	</ul>
	<h2>新．日本英雄宇宙</h2>
	<ul>
		<li><a href="stage.html?s=2-199">救出！にゃんこ仮面ライダー</a></li>
		<li><a href="stage.html?s=2-200">救出！ゴジラにゃんこ</a></li>
		<li><a href="stage.html?s=2-201">救出！エヴァンゲリオンにゃんこ</a></li>
		<li><a href="stage.html?s=2-202">救出！ウルトラマンにゃんこ</a></li>
		<li><a href="stage.html?s=2-203">シン・にゃんこ・ヒーローズ</a></li>
	</ul>
	<h2>日清UFO拉麵</h2>
	<ul>
		<li><a href="stage.html?s=2-133">U.F.O.襲来！</a></li>
	</ul>
	<h2>像素英雄</h2>
	<ul>
		<li><a href="stage.html?s=2-106">シャクレルプラネット</a></li>
	</ul>
	<h2>Google</h2>
	<ul>
		<li><a href="stage.html?s=2-3">來自初期的使者</a></li>
		<li><a href="stage.html?s=2-12">開眼Droid來襲！</a></li>
	</ul>
	<h2>境界觸發者</h2>
	<ul>
		<li><a href="stage.html?s=2-186">對決！玉狛第2的隊長</a></li>
		<li><a href="stage.html?s=2-187">對決！玉狛第2的王牌</a></li>
		<li><a href="stage.html?s=2-188">VS訓練用莫爾默德</a></li>
	</ul>
	<h2>神魔之塔</h2>
	<ul>
		<li><a href="stage.html?s=2-214">以諾時代</a></li>
		<li><a href="stage.html?s=2-215">對決！瘋頭！</a></li>
		<li><a href="stage.html?s=13-16">強襲！神魔之塔</a></li>
	</ul>
	<h2>神劍闖江湖</h2>
	<ul>
		<li><a href="stage.html?s=2-216">神劍闖江湖</a></li>
		<li><a href="stage.html?s=2-217">劍心・緋村拔刀齋</a></li>
		<li><a href="stage.html?s=2-218">從事打手的男人・相樂左之助</a></li>
		<li><a href="stage.html?s=2-219">顯露敵意的狼・齋藤一</a></li>
		<li><a href="stage.html?s=13-17">強襲！頭子・四乃森蒼紫</a></li>
		<li><a href="stage.html?s=7-27">明治剣客浪漫大会</a></li>
	</ul>
{{/inline}}

{{/base.html}}
