{{#> base.html}}

{{#*inline "title"}}關卡資訊{{/inline}}

{{#*inline "description"}}
	<meta name="description" content="關卡資訊 | 貓咪大戰爭中文資訊網站">
{{/inline}}

{{#*inline "og"}}
	{{~> @partial-block}}
	<meta property="og:title" content="關卡資訊">
	<meta property="og:description" content="查詢關卡詳細資訊">
	<meta property="og:image" content="https://i.imgur.com/uzobngO.png">
{{/inline}}

{{#*inline "styles-inline"}}
	<style>
body { 
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: max(1.1vw, 8px);
	vertical-align:middle;
	line-height: initial;
}
select {
	text-overflow: ellipsis;
	border: 1px solid #dde;
	font-size: 1.2em;
	border-radius: 4px;
	padding: .25em .6em;
	flex: 1;
	margin: 0.7vh 0.3vw;
}
th { font-weight: normal; }
.Co {
	margin-top: 2vh;
	margin-bottom: 2vh;
}
.Co td {
	padding: 0.5em;
	border: 1px solid #575757;
	vertical-align: middle;
}
.noPad td {
	padding: 0;
}
#lines td {
	padding: 0.3em;
}
div.An {
	animation-name: An;
	animation-duration: 0.7s
}
@keyframes An { 
	from { opacity:0; } 
	to { opacity:1; }
}
a.res {
	display: block;
	margin: 20px 10px;
	text-decoration: none;
}
a.res::visited {
	color: initial;
}
a.res span { color: #ff634e; }
{{{nav-style}}}
.w3-table td:first-child, .w3-table th:first-child { padding-left: initial; }
span.boss {
	color: #ff5722;
}
a img {
	max-width: 2em;
	height: auto;
}
a.L {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 100%;
}
thead td {
	background-color: #9d9a834d !important;
}
[data-theme='dark'] thead td {
	background-color: #7171714d !important;
}
[data-theme='dark'] ::placeholder {
	color: #ccc;
}
input, input button {
	background-color: #cfcfcf40 !important;
}
.w {
	color: #f23c14 !important;
}
.I {
	color: #795548 !important;
}
.W {
	color: #094e6f !important;
}
[data-theme='dark'] .W {
	color: #f0c030 !important;
}
[data-theme='dark'] .w {
	color: #f23c14 !important;
}
[data-theme='dark'] .I {
	color: #30f098 !important;
}
.M {
	max-width: 90vw;
	margin: auto;
	margin-top: 10vh;
	background-color: #fff;
	position: relative;
	padding: 1em;
	border-radius: 0.5em;
	outline: 0;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	color: #efefef;
}
[data-theme='dark'] .M {
	background-color: #474747 !important;
}
.M	* {
	background-color: transparent !important;
}
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #0000008a;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2;
}
.S {
	width: max(6vw, 6vh);
	height: auto;
	cursor: pointer;
}
.V {
	border-bottom: 1px dashed black;
}
[data-theme='dark'] .V {
	border-bottom: 1px dashed white;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.a {
	margin: 2px 12px;
	cursor: pointer;
}
.A {
	color: #904000;
	text-decoration: underline;
}
[data-theme='dark'] .A {
	color: #50fa7b;
}
	</style>
{{/inline}}

{{#*inline "content"}}
	<div>
		<div style="display:flex;width:100%;">
			<select id="M1"></select>
			<select id="M2"></select>
			<select id="M3"></select>
		</div>
		<form id="form" role="search" style="width: 100%;position: relative;" action>
			<input type="search" autocomplete="off" name="q" placeholder="搜尋關卡名稱" aria-label="搜尋關卡名稱" class="w3-input" style="margin-left: 1em;margin-top: .1em;padding: 0.4em 1em;width: 92%;border-radius: 4px;font-size: 1.2em;">
			<svg title="篩選" id="fs" style="position: absolute;top: 0.5em;right: 2vw;height: 1.5em;width: 1.5em;fill: var(--color);cursor: pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
			</svg>
		</form>
		<div style="position: absolute;left: calc(50% - 60px);top: 60%;z-index: 2;text-align: center;width: 120px;height: 120px;">載入中...</div>
		<div id="loader" style="position: absolute;left: 50%;top: 50%;z-index: 1;width: 120px;height: 120px;margin: -76px 0 0 -76px;border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;animation: spin 2s linear infinite;"></div>
		<div id="main" style="dicsplay: none;position: relative;" class="An">
			<svg title="上一關" id="prev" style="position: absolute;top: 2vh;height: 1.5em;width: 1.5em;fill: var(--color);cursor: pointer;left: 5vw;" viewBox="0 0 512 512">
				<path d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3V256v41.7L459.5 440.6zM256 352V256 128 96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V352z"
				/>
			</svg>

			<svg title="下一關" style="position: absolute;top: 2vh;height: 1.5em;width: 1.5em;fill: var(--color);cursor: pointer;right: 5vw;" viewBox="0 0 512 512">
				<path d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3V256v41.7L52.5 440.6zM256 352V256 128 96c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29V352z"
				/>
			</svg>

			<div class="modal" id="filter">
				<div class="M">

				</div>
			</div>

			<table class="w3-table w3-centered Co">
				<tbody>
					<tr>
						<th colspan="6" id="st-name"></th>
					</tr>
					<tr>
						<th colspan="6" id="st-name2"></th>
					</tr>
				</tbody>
			</table>
			<table class="w3-table w3-centered Co">
				<tbody>
					<tr id="st-1">
						<td>消費統率力</td>
						<td></td>
						<td>敵方上限</td>
						<td></td>
						<td>背景長度</td>
						<td></td>
					</tr>
					<tr id="st-2">
						<td>敵城體力</td>
						<td></td>
						<td>最低再生產</td>
						<td></td>
						<td>背景</td>
						<td></td>
					</tr>
					<tr id="st-3">
						<td>經驗值</td>
						<td></td>
						<td>顯示條件</td>
						<td></td>
						<td>解放條件</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table class="w3-table w3-centered Co noPad">
				<thead>
					<tr>
						<td>過關獎勵</td>
						<td style="width: 3em;"></td>
						<td>機率</td>
						<td>上限</td>
					</tr>
				</thead>
				<tbody id="rewards"></tbody>
			</table>
			<table class="w3-table w3-centered Co noPad">
				<thead>
					<tr>
						<td>掉落素材</td>
						<td style="width: 3em;">
							<td id="mM">機率</td>
					</tr>
				</thead>
				<tbody id="drops"></tbody>
			</table>
			<table class="w3-table w3-centered Co noPad">
				<thead>
					<tr>
						<td>時間獎勵</td>
						<td style="width: 3em;"></td>
						<td>數量</td>
						<td>時間</td>
					</tr>
				</thead>
				<tbody id="times"></tbody>
			</table>
			<div id="ex-stages" style="width: 100% !important;margin: 0 auto !important;text-align: center !important;">
			</div>
			<table class="w3-table w3-centered Co">
				<thead>
					<tr>
						<td>敵人</td>
						<td>圖示</td>
						<td>倍率</td>
						<td>數量</td>
						<td>塔連動</td>
						<td>初登場</td>
						<td>再登場</td>
						<td>貓魂召喚數</td>
					</tr>
				</thead>
				<tbody id="lines"></tbody>
			</table>
		</div>
		<div style="display: none;" id="search-result"></div>
	</div>
	<script src="stage.js"></script>
{{/inline}}

{{/base.html}}
