<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="utf-8">
	<title>金寶與關卡對照表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:site_name" content="battlecatsinfo.github.io">
	<meta property="og:title" content="金寶與關卡對照表">
	<meta property="og:description" content="世界篇、未來篇、宇宙篇的寶物和關卡對照表">
{{{favicon}}}
	<link rel="stylesheet" type="text/css" href="w3.css">
	<style>
body {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.w3-table td:first-child,
.w3-table th:first-child {
	padding-left: 0;
}
.w3-table td,
.w3-table th {
	text-align: center;
}
.w3-table {
	margin-bottom: 5em;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.3em;
	text-align: center;
}
img[loading="lazy"] {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding: 1em;
	height: auto;
}
.w3-striped tbody tr:nth-child(odd) td,
th {
	background-color: #d3d3d3;
}
[data-theme="dark"] th,
[data-theme="dark"] td {
	background-color: var(--bg) !important;
}
{{{nav-style}}}
</style>
</head>
<body style="font-size: max(6px,1vw);margin: 0;padding: 0;">{{{nav-bar}}}<h1 style="font-size: 2em;line-height: 4;">金寶與關卡對照表</h1>

<div>※本篇已收錄至<a href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=20591" target="_blank">【情報】貓咪大戰爭寶物關卡與效果一覽</a>中，寶物效果也整理在文章中※</div>

<h2>提神飲料 - 九州の男らしさ  - Energy Drink - 강력 영양드링크</h2><div style="font-style:italic;text-align:center;">戰鬥中工作狂貓的金錢生產量大幅提高中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/UdzzhdI.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-0">台灣</a></td><td>鳳梨酥</td>
<td>長崎県</td><td>カステラ</td>
<td>Korea</td><td>Kimchi</td>
<td>한국</td><td>김치</td>
</tr><tr><td><a href="/stage.html?s=3-9-1">香港</a></td><td>龜苓膏</td>
<td>佐賀県</td><td>ムツゴロウ</td>
<td>Mongolia</td><td>Portable Tent</td>
<td>몽골</td><td>이동식 텐트</td>
</tr><tr><td><a href="/stage.html?s=3-9-2">泰國</a></td><td>長頸族銅環</td>
<td>鹿児島県</td><td>さつまいも</td>
<td>China</td><td>Shark Fin</td>
<td>중국</td><td>상어 지느러미</td>
</tr><tr><td><a href="/stage.html?s=3-9-3">中國</a></td><td>高級魚翅</td>
<td>熊本県</td><td>馬刺し</td>
<td>Thailand</td><td>Collar of the Gilded</td>
<td>태국</td><td>금목걸이</td>
</tr><tr><td><a href="/stage.html?s=3-9-4">蒙古</a></td><td>移動式蒙古包</td>
<td>宮崎県</td><td>マンゴー</td>
<td>Cambodia</td><td>Smiles of Children</td>
<td>캄보디아</td><td>아이의 웃는 얼굴</td>
</tr><tr><td><a href="/stage.html?s=3-9-5">韓國</a></td><td>韓國泡菜</td>
<td>大分県</td><td>焼酎</td>
<td>Philippines</td><td>Banana</td>
<td>필리핀</td><td>바나나</td>
</tr><tr><td><a href="/stage.html?s=3-9-6">日本</a></td><td>武士頭</td>
<td>福岡県</td><td>明太子</td>
<td>Japan</td><td>Topknot</td>
<td>일본</td><td>에도의 상투</td>
</tr>
</table>

<h2>巨大金庫 - 四国のうまいもん  - Giant Safe - 거대 금고</h2><div style="font-style:italic;text-align:center;">戰鬥中工作狂貓的錢包容量大幅提高中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/UzwDHaI.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-7">澳大利亞</a></td><td>迪吉里杜管</td>
<td>高知県</td><td>カツオ</td>
<td>Australia</td><td>Didgeridoo</td>
<td>호주</td><td>디저리두</td>
</tr><tr><td><a href="/stage.html?s=3-9-8">新加坡</a></td><td>魚尾獅</td>
<td>愛媛県</td><td>みかん</td>
<td>Singapore</td><td>Merlion</td>
<td>싱가포르</td><td>멀라이언</td>
</tr><tr><td><a href="/stage.html?s=3-9-9">馬爾地夫</a></td><td>熱帶果汁</td>
<td>徳島県</td><td>すだち</td>
<td>Maldives</td><td>Tropical Juice</td>
<td>몰디브</td><td>트로피컬 주스</td>
</tr><tr><td><a href="/stage.html?s=3-9-10">印度</a></td><td>咖哩</td>
<td>香川県</td><td>うどん</td>
<td>India</td><td>Curry</td>
<td>인도</td><td>카레</td>
</tr>
</table>

<h2>時間縮短鐘 - 中国の伝統  - Relativity Clock - 시간단축 시계</h2><div style="font-style:italic;text-align:center;">戰鬥中角色的生產速度加快中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/LfX8jlm.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-11">尼泊爾</a></td><td>信仰心</td>
<td>山口県</td><td>フグ</td>
<td>Nepal</td><td>Devotion</td>
<td>네팔</td><td>신앙심</td>
</tr><tr><td><a href="/stage.html?s=3-9-12">杜拜</a></td><td>渡假勝地</td>
<td>広島県</td><td>お好み焼き</td>
<td>Dubai</td><td>Resort Property</td>
<td>두바이</td><td>리조트지</td>
</tr><tr><td><a href="/stage.html?s=3-9-13">沙烏地阿拉伯</a></td><td>石油</td>
<td>島根県</td><td>出雲そば</td>
<td>Saudi Arabia</td><td>Oil</td>
<td>사우디아라비아</td><td>석유</td>
</tr><tr><td><a href="/stage.html?s=3-9-14">肯亞</a></td><td>馬賽人之心</td>
<td>岡山県</td><td>桃</td>
<td>Kenya</td><td>Seal of Masai</td>
<td>케냐</td><td>마사이의 증거</td>
</tr><tr><td><a href="/stage.html?s=3-9-15">馬達加斯加</a></td><td>指猴</td>
<td>鳥取県</td><td>梨</td>
<td>Madagascar</td><td>Aye aye</td>
<td>마다가스카르</td><td>다람쥐원숭이</td>
</tr>
</table>

<h2>賢者之石 - 関西のノリ  - Philosopher's Stone - 현자의 돌</h2><div style="font-style:italic;text-align:center;">過關時的經驗值增加中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/wYteap6.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-16">南非</a></td><td>嗚嗚祖拉</td>
<td>兵庫県</td><td>明石焼き</td>
<td>South Africa</td><td>Vuvuzela</td>
<td>남아프리카</td><td>부부젤라</td>
</tr><tr><td><a href="/stage.html?s=3-9-17">迦納</a></td><td>可可亞</td>
<td>和歌山県</td><td>梅干し</td>
<td>Ghana</td><td>Cacao</td>
<td>가나</td><td>카카오</td>
</tr><tr><td><a href="/stage.html?s=3-9-18">撒哈拉沙漠</a></td><td>光滑的沙</td>
<td>大阪府</td><td>たこやき</td>
<td>Sahara</td><td>Silky Sand</td>
<td>사하라사막</td><td>보들보들 모래</td>
</tr><tr><td><a href="/stage.html?s=3-9-19">埃及</a></td><td>象形文字</td>
<td>京都府</td><td>漬物</td>
<td>Egypt</td><td>Hieroglyph</td>
<td>이집트</td><td>히에로글리프</td>
</tr><tr><td><a href="/stage.html?s=3-9-20">土耳其</a></td><td>絨毛地毯</td>
<td>奈良県</td><td>鹿</td>
<td>Turkey</td><td>Rug</td>
<td>터키</td><td>융단</td>
</tr><tr><td><a href="/stage.html?s=3-9-21">俄羅斯</a></td><td>伏特加</td>
<td>三重県</td><td>牛</td>
<td>Russia</td><td>Vodka</td>
<td>러시아</td><td>보드카</td>
</tr><tr><td><a href="/stage.html?s=3-9-22">希臘</a></td><td>宙斯指甲的汙垢</td>
<td>滋賀県</td><td>フナ</td>
<td>Greece</td><td>Zeus Nail Clippings</td>
<td>그리스</td><td>제우스의 손톱 때</td>
</tr>
</table>

<h2>銅牆鐵壁 - 北陸の豪邸  - Smart Material Wall - New 메트리얼 월</h2><div style="font-style:italic;text-align:center;">城堡的體力大幅提高中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/8yLf7oJ.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-23">義大利</a></td><td>披薩</td>
<td>福井県</td><td>メガネ</td>
<td>Italy</td><td>Pizza</td>
<td>이탈리아</td><td>피자</td>
</tr><tr><td><a href="/stage.html?s=3-9-24">摩納哥</a></td><td>遊艇</td>
<td>石川県</td><td>寿司</td>
<td>Monaco</td><td>Cruiser</td>
<td>모나코</td><td>크루저</td>
</tr><tr><td><a href="/stage.html?s=3-9-25">西班牙</a></td><td>啤酒</td>
<td>愛知県</td><td>ホタルイカ</td>
<td>Germany</td><td>Beer</td>
<td>스페인</td><td>맥주</td>
</tr>
</table>

<h2>無敵收銀機 - 東海のがめつさ  - Super Register - 슈퍼 레지스터</h2><div style="font-style:italic;text-align:center;">每次打倒敵人時能得到的金錢正在增加中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/lMwknJB.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-26">法國</a></td><td>法國麵包</td>
<td>岐阜県</td><td>工芸品</td>
<td>France</td><td>French Bread</td>
<td>프랑스</td><td>프라이팬</td>
</tr><tr><td><a href="/stage.html?s=3-9-27">德國</a></td><td>熱情</td>
<td>富山県</td><td>みそ</td>
<td>Spain</td><td>Passion</td>
<td>독일</td><td>정열</td>
</tr><tr><td><a href="/stage.html?s=3-9-28">丹麥</a></td><td>童話故事</td>
<td>静岡県</td><td>お茶</td>
<td>Denmark</td><td>Folktales</td>
<td>덴마크</td><td>동화</td>
</tr>
</table>

<h2>傳說的貓之盾 - 甲信越の雪景色  - Legendary Cat Shield - 전설의 냥코실드</h2><div style="font-style:italic;text-align:center;">角色的體力超大幅提高中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/994kW0b.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-29">挪威</a></td><td>高額稅金</td>
<td>山梨県</td><td>ほうとう</td>
<td>Norway</td><td>Income Tax</td>
<td>노르웨이</td><td>높은 세금</td>
</tr><tr><td><a href="/stage.html?s=3-9-30">英國</a></td><td>炸魚薯條</td>
<td>長野県</td><td>信州そば</td>
<td>United Kingdom</td><td>Fish and Chips</td>
<td>영국</td><td>피쉬＆칩스</td>
</tr><tr><td><a href="/stage.html?s=3-9-31">格陵蘭島</a></td><td>聖誕老人的鬍子</td>
<td>新潟県</td><td>お米</td>
<td>Greenland</td><td>Santa's Beard</td>
<td>그린란드</td><td>산타클로스의 수염</td>
</tr>
</table>

<h2>傳說的貓咪神劍 - 関東のカリスマ  - Legendary Cat Sword - 전설의 냥코소드</h2><div style="font-style:italic;text-align:center;">角色的攻擊力超大幅增強中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/lUETmUd.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-32">加拿大</a></td><td>楓糖</td>
<td>神奈川県</td><td>干物</td>
<td>Canada</td><td>Maple Syrup</td>
<td>케나다</td><td>메이플 시럽</td>
</tr><tr><td><a href="/stage.html?s=3-9-33">紐約</a></td><td>音樂劇</td>
<td>千葉県</td><td>落花生</td>
<td>New York</td><td>Musical</td>
<td>뉴욕</td><td>뮤지컬</td>
</tr><tr><td><a href="/stage.html?s=3-9-34">百慕達</a></td><td>黑盒子</td>
<td>東京都</td><td>もんじゃ</td>
<td>Bermuda</td><td>Flight Recorder</td>
<td>버뮤다</td><td>블랙박스</td>
</tr><tr><td><a href="/stage.html?s=3-9-35">牙買加</a></td><td>牙買加鋼鼓</td>
<td>埼玉県</td><td>せんべい</td>
<td>Jamaica</td><td>Steel Beans</td>
<td>자메이카</td><td>스틸 드럼</td>
</tr><tr><td><a href="/stage.html?s=3-9-36">哥倫比亞</a></td><td>咖啡豆</td>
<td>群馬県</td><td>こんにゃく</td>
<td>Colombia</td><td>Coffee Beans</td>
<td>콜롬비아</td><td>커피콩</td>
</tr><tr><td><a href="/stage.html?s=3-9-37">巴西</a></td><td>嘉年華服裝</td>
<td>栃木県</td><td>餃子</td>
<td>Brazil</td><td>Carnival Costumes</td>
<td>브라질</td><td>카니발 의상</td>
</tr><tr><td><a href="/stage.html?s=3-9-38">阿根廷</a></td><td>牛肉</td>
<td>茨城県</td><td>納豆</td>
<td>Argentina</td><td>Beef</td>
<td>아르헨티나</td><td>쇠고기</td>
</tr>
</table>

<h2>新能源核心 - 東北の魂  - Energy Core - 신 에너지 코어</h2><div style="font-style:italic;text-align:center;">貓咪砲的攻擊力加強中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/MvBRKSO.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-39">馬丘比丘</a></td><td>印加帝國紡織物</td>
<td>福島県</td><td>喜多方ラーメン</td>
<td>Machu Picchu</td><td>Inca Textiles</td>
<td>마추픽추</td><td>잉카의 직물</td>
</tr><tr><td><a href="/stage.html?s=3-9-40">復活島</a></td><td>迷你摩艾石像</td>
<td>宮城県</td><td>タン</td>
<td>Easter Island</td><td>Mini Moai Statue</td>
<td>이스터섬</td><td>미니 모아이상</td>
</tr><tr><td><a href="/stage.html?s=3-9-41">墨西哥</a></td><td>仙人掌</td>
<td>山形県</td><td>さくらんぼ</td>
<td>Mexico</td><td>Cactus</td>
<td>멕시코</td><td>선인장</td>
</tr><tr><td><a href="/stage.html?s=3-9-42">美國太空總署</a></td><td>太空食物</td>
<td>岩手県</td><td>わんこそば</td>
<td>NASA</td><td>Space Rations</td>
<td>NASA</td><td>우주식량</td>
</tr><tr><td><a href="/stage.html?s=3-9-43">拉斯維加斯</a></td><td>吃角子老虎機</td>
<td>秋田県</td><td>きりたんぽ</td>
<td>Las Vegas</td><td>Slot Machine</td>
<td>라스베가스</td><td>슬롯머신</td>
</tr><tr><td><a href="/stage.html?s=3-9-44">好萊塢</a></td><td>好萊塢女星的頭髮</td>
<td>青森県</td><td>りんご</td>
<td>Hollywood</td><td>Actress Hair</td>
<td>할리우드</td><td>여배우의 머리카락</td>
</tr>
</table>

<h2>超強渦輪機 - 北海道のデカさ  - Turbo Machine - 터보머신</h2><div style="font-style:italic;text-align:center;">貓咪砲的充電速度加快中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/5HNtmbw.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-45">阿拉斯加</a></td><td>高級毛皮</td>
<td>北海道</td><td>牛乳</td>
<td>Alaska</td><td>Fur</td>
<td>알레스카</td><td>모피</td>
</tr>
</table>

<h2>經營聖經 - 南国の風  - Management Bible - 매니지먼트의 성서</h2><div style="font-style:italic;text-align:center;">統率力的最大值提高中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/furxkhA.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-9-46">夏威夷</a></td><td>夏威夷豆</td>
<td>沖縄県</td><td>泡盛</td>
<td>Hawaii</td><td>Macadamia Nuts</td>
<td>하와이</td><td>마카다미아넛</td>
</tr><tr><td><a href="/stage.html?s=3-9-47">月球</a></td><td>月亮</td>
<td>西表島</td><td>猫の心</td>
<td>Moon</td><td>Moon</td>
<td>달</td><td>달</td>
</tr>
</table>

<h2>藍水晶 - ブルークリスタル  - Aqua Crystal - 블루 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(沒星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/iS6xQr0.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-0">日本</a></td><td>3C產品</td>
<td>日本</td><td>ちょんまげ</td>
<td>Japan</td><td>Home Electronics</td>
<td>일본</td><td>가전제품</td>
</tr><tr><td><a href="/stage.html?s=3-3-4">蒙古</a></td><td>蒙古老馬</td>
<td>ロシア</td><td>ウォッカ</td>
<td>Russia</td><td>Piroshki</td>
<td>러시아</td><td>피로시키</td>
</tr><tr><td><a href="/stage.html?s=3-3-7">英國</a></td><td>雙層紅巴士</td>
<td>デンマーク</td><td>童話</td>
<td>Denmark</td><td>Hamlet</td>
<td>덴마크</td><td>햄릿</td>
</tr><tr><td><a href="/stage.html?s=3-3-10">法國</a></td><td>法國紅酒</td>
<td>スペイン</td><td>情熱</td>
<td>Spain</td><td>Flamenco Dance</td>
<td>스페인</td><td>플라멩고</td>
</tr><tr><td><a href="/stage.html?s=3-3-13">義大利</a></td><td>義大利麵</td>
<td>ギリシャ</td><td>ゼウスの爪垢</td>
<td>Greece</td><td>Marble Pillar</td>
<td>그리스</td><td>고대 유적</td>
</tr><tr><td><a href="/stage.html?s=3-3-16">杜拜</a></td><td>摩天大樓</td>
<td>インド</td><td>カレー</td>
<td>India</td><td>Maharajah Throne</td>
<td>인도</td><td>마하라자</td>
</tr><tr><td><a href="/stage.html?s=3-3-19">泰國</a></td><td>泰式按摩</td>
<td>カンボジア</td><td>子供達の笑顔</td>
<td>Cambodia</td><td>Apsara Crown</td>
<td>캄보디아</td><td>압사라 댄스</td>
</tr><tr><td><a href="/stage.html?s=3-3-22">澳大利亞</a></td><td>無尾熊</td>
<td>オーストラリア</td><td>ディジュリドゥ</td>
<td>Australia</td><td>Drop Bear</td>
<td>호주</td><td>코알라</td>
</tr>
</table>

<h2>紅水晶 - レッドクリスタル  - Plasma Crystal - 레드 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(沒星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/g2ETk6P.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-24">馬達加斯加</a></td><td>自然保護區</td>
<td>マダガスカル</td><td>アイアイ</td>
<td>Madagascar</td><td>Nature Preserve</td>
<td>마다가스카르</td><td>자연보호구역</td>
</tr><tr><td><a href="/stage.html?s=3-3-27">埃及</a></td><td>木乃伊</td>
<td>エジプト</td><td>ヒエログリフ</td>
<td>Egypt</td><td>Mummy Wrappings</td>
<td>이집트</td><td>미이라</td>
</tr><tr><td><a href="/stage.html?s=3-3-30">南非</a></td><td>手工蠟燭</td>
<td>南アフリカ</td><td>ブブゼラ</td>
<td>South Africa</td><td>Swazi Candle</td>
<td>남아프리카</td><td>스와지캔들</td>
</tr><tr><td><a href="/stage.html?s=3-3-33">馬丘比丘</a></td><td>拴日石</td>
<td>マチュピチュ</td><td>インカの織物</td>
<td>Machu Picchu</td><td>Inti Watana</td>
<td>마추픽추</td><td>해시계</td>
</tr><tr><td><a href="/stage.html?s=3-3-36">墨西哥</a></td><td>闊邊帽</td>
<td>メキシコ</td><td>サボテン</td>
<td>Mexico</td><td>Sombrero</td>
<td>멕시코</td><td>솜브레로</td>
</tr><tr><td><a href="/stage.html?s=3-3-39">阿拉斯加</a></td><td>狗拉雪橇</td>
<td>アラスカ</td><td>毛皮</td>
<td>Alaska</td><td>Dogsled</td>
<td>알레스카</td><td>개 썰매</td>
</tr><tr><td><a href="/stage.html?s=3-3-42">紐約</a></td><td>美式熱狗攤</td>
<td>ニューヨーク</td><td>ミュージカル</td>
<td>New York</td><td>Hotdog Cart</td>
<td>뉴욕</td><td>베이글</td>
</tr><tr><td><a href="/stage.html?s=3-3-45">巴西</a></td><td>足球</td>
<td>ブラジル</td><td>カーニバルの衣装</td>
<td>Brazil</td><td>Futbol</td>
<td>브라질</td><td>축구공</td>
</tr>
</table>

<h2>古代石版 - 古代の石版  - Ancient Tablet - 고대의 석판</h2><div style="font-style:italic;text-align:center;">城堡體力大幅提升中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/3ewsbRx.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-1">韓國</a></td><td>高麗人蔘</td>
<td>韓国</td><td>キムチ</td>
<td>Korea</td><td>Ginseng Root</td>
<td>한국</td><td>고려인삼</td>
</tr><tr><td><a href="/stage.html?s=3-3-2">台灣</a></td><td>珍珠奶茶</td>
<td>中国</td><td>フカヒレ</td>
<td>China</td><td>Panda Cub</td>
<td>중국</td><td>팬더</td>
</tr><tr><td><a href="/stage.html?s=3-3-3">中國</a></td><td>大熊貓</td>
<td>モンゴル</td><td>移動式テント</td>
<td>Mongolia</td><td>Mongol Horse</td>
<td>몽골</td><td>몽고말</td>
</tr>
</table>

<h2>未知的力量 - 未知なる力  - Mysterious Force - 미지의 힘</h2><div style="font-style:italic;text-align:center;">貓咪砲的充電速度大幅提升中！(有上限)</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/rkSmuaN.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-23">深淵的大渦</a></td><td>海洋深層水</td>
<td>深淵の大渦</td><td>海洋深層水</td>
<td>The Great Abyss</td><td>Deep Sea Water</td>
<td>심해의 소용돌이</td><td>해양심층수</td>
</tr>
</table>

<h2>宇宙能量 - 宇宙エネルギー  - Cosmic Energy - 우주의 에너지</h2><div style="font-style:italic;text-align:center;">貓咪砲的攻擊力大幅提升中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/z2W4qUv.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-5">俄羅斯</a></td><td>俄羅斯餡餅</td>
<td>ノルウェー</td><td>高い税金</td>
<td>Norway</td><td>Viking Boat</td>
<td>노르웨이</td><td>바이킹</td>
</tr><tr><td><a href="/stage.html?s=3-3-6">挪威</a></td><td>維京船</td>
<td>イギリス</td><td>フィッシュ＆チップス</td>
<td>United Kingdom</td><td>Double Decker Bus</td>
<td>영국</td><td>더블데커</td>
</tr><tr><td><a href="/stage.html?s=3-3-8">丹麥</a></td><td>哈姆雷特</td>
<td>ドイツ</td><td>ビール</td>
<td>Germany</td><td>Bratwurst</td>
<td>독일</td><td>소세지</td>
</tr><tr><td><a href="/stage.html?s=3-3-9">德國</a></td><td>德國香腸</td>
<td>フランス</td><td>フランスパン</td>
<td>France</td><td>Chardonnay</td>
<td>프랑스</td><td>와인</td>
</tr><tr><td><a href="/stage.html?s=3-3-11">西班牙</a></td><td>佛朗明哥舞</td>
<td>モナコ</td><td>クルーザー</td>
<td>Monako</td><td>Formula One Car</td>
<td>모나코</td><td>F1</td>
</tr>
</table>

<h2>暗黑果實 - 暗黒の果実  - Void Fruit - 암흑의 과실</h2><div style="font-style:italic;text-align:center;">對黑色敵人發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/0ca65aa.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-28">撒哈拉沙漠</a></td><td>綠洲</td>
<td>サハラ</td><td>サラサラの砂</td>
<td>Sahara</td><td>Oasis</td>
<td>사하라사막</td><td>오아시스</td>
</tr><tr><td><a href="/stage.html?s=3-3-29">迦納</a></td><td>快活之音</td>
<td>ガーナ</td><td>カカオ</td>
<td>Ghana</td><td>Highlife Band</td>
<td>가나 공화국</td><td>하이라이프</td>
</tr><tr><td><a href="/stage.html?s=3-3-31">阿根廷</a></td><td>瑪黛茶</td>
<td>アルゼンチン</td><td>牛肉</td>
<td>Argentina</td><td>Mate</td>
<td>아르헨티나</td><td>마테차</td>
</tr><tr><td><a href="/stage.html?s=3-3-32">復活島</a></td><td>摩艾石像</td>
<td>イースター島</td><td>ミニモアイ像</td>
<td>Easter Island</td><td>Moai Mold</td>
<td>이스터섬</td><td>모아이상의 몸통</td>
</tr>
</table>

<h2>紅血果實 - 紅血の果実  - Blood Fruit - 홍혈의 과실</h2><div style="font-style:italic;text-align:center;">對紅色敵人發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/DEiu2Fp.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-20">香港</a></td><td>殭屍</td>
<td>フィリピン</td><td>バナナ</td>
<td>Philippines</td><td>Balut</td>
<td>필리핀</td><td>발롯</td>
</tr><tr><td><a href="/stage.html?s=3-3-21">新加坡</a></td><td>娘惹雜貨</td>
<td>シンガポール</td><td>マーライオン</td>
<td>Singapore</td><td>Peranakan Bowl</td>
<td>싱가포르</td><td>카야잼</td>
</tr><tr><td><a href="/stage.html?s=3-3-25">肯亞</a></td><td>好眼力</td>
<td>ケニア</td><td>マサイの証</td>
<td>Kenya</td><td>Running Shoes</td>
<td>케냐</td><td>시력</td>
</tr><tr><td><a href="/stage.html?s=3-3-26">沙烏地阿拉伯</a></td><td>賽駱駝</td>
<td>サウジアラビア</td><td>石油</td>
<td>Saudi Arabia</td><td>Racing Camel</td>
<td>사우디아라비아</td><td>낙타 레이스</td>
</tr>
</table>

<h2>飛翔果實 - 飛翔の果実  - Sky Fruit - 비상의 과실</h2><div style="font-style:italic;text-align:center;">對飄浮敵人發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/LuSvY7u.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-34">哥倫比亞</a></td><td>綠翡翠</td>
<td>コロンビア</td><td>コーヒー豆</td>
<td>Colombia</td><td>Bag of Emeralds</td>
<td>콜롬비아</td><td>에메랄드</td>
</tr><tr><td><a href="/stage.html?s=3-3-35">牙買加</a></td><td>雷鬼</td>
<td>ジャマイカ</td><td>スティールドラム</td>
<td>Jamaica</td><td>Dreadlocks</td>
<td>자메이카</td><td>레게</td>
</tr><tr><td><a href="/stage.html?s=3-3-37">好萊塢</a></td><td>奧斯卡小金人</td>
<td>ハリウッド</td><td>女優の髪の毛</td>
<td>Hollywood</td><td>Oscar Statue</td>
<td>할리우드</td><td>아카데미 상</td>
</tr><tr><td><a href="/stage.html?s=3-3-38">拉斯維加斯</a></td><td>彩色籌碼</td>
<td>ラスベガス</td><td>スロットマシン</td>
<td>Las Vegas</td><td>Poker Chips</td>
<td>라스베가스</td><td>포커칩</td>
</tr>
</table>

<h2>天界果實 - 天界の果実  - Heaven's Fruit - 천계의 과실</h2><div style="font-style:italic;text-align:center;">對天使敵人發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/xVzaGvE.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-40">加拿大</a></td><td>魁北克普丁</td>
<td>カナダ</td><td>メープルシロップ</td>
<td>Canada</td><td>Poutine</td>
<td>캐나다</td><td>푸틴</td>
</tr><tr><td><a href="/stage.html?s=3-3-41">格陵蘭島</a></td><td>海洋獨木舟</td>
<td>グリーンランド</td><td>サンタのヒゲ</td>
<td>Greenland</td><td>Sea Kayak</td>
<td>그린란드</td><td>카약</td>
</tr><tr><td><a href="/stage.html?s=3-3-43">美國太空總署</a></td><td>太空人</td>
<td>NASA</td><td>宇宙食</td>
<td>NASA</td><td>Astronaut Helmet</td>
<td>NASA</td><td>우주비행사</td>
</tr><tr><td><a href="/stage.html?s=3-3-44">百慕達</a></td><td>颶風</td>
<td>バミューダ</td><td>フライトレコーダー</td>
<td>Bermuda</td><td>Hurricane Wind</td>
<td>버뮤다</td><td>허리케인</td>
</tr>
</table>

<h2>時光機 - タイムマシン  - Time Machine - 타임머신</h2><div style="font-style:italic;text-align:center;">統率力回復速度提升中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/qS95W21.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-12">摩納哥</a></td><td>F1賽車</td>
<td>イタリア</td><td>ピザ</td>
<td>Italy</td><td>Cannoli</td>
<td>이탈리아</td><td>파스타</td>
</tr><tr><td><a href="/stage.html?s=3-3-14">希臘</a></td><td>古代遺址</td>
<td>トルコ</td><td>じゅうたん</td>
<td>Turkey</td><td>Belly Dancer</td>
<td>터키</td><td>밸리 댄스</td>
</tr><tr><td><a href="/stage.html?s=3-3-15">土耳其</a></td><td>肚皮舞</td>
<td>ドバイ</td><td>リゾート地</td>
<td>Dubai</td><td>Skyscraper</td>
<td>두바이</td><td>초고층 빌딩</td>
</tr><tr><td><a href="/stage.html?s=3-3-17">印度</a></td><td>印度王子</td>
<td>ネパール</td><td>信仰心</td>
<td>Nepal</td><td>Prayer Flags</td>
<td>네팔</td><td>히말라야의 돌</td>
</tr><tr><td><a href="/stage.html?s=3-3-18">尼泊爾</a></td><td>五色旗</td>
<td>タイ</td><td>金ぴかの首輪</td>
<td>Thailand</td><td>Massage Handbook</td>
<td>태국</td><td>맛사지</td>
</tr>
</table>

<h2>未來科技 - 未来テクノロジー  - Future Tech - 미래의 테크놀로지</h2><div style="font-style:italic;text-align:center;">統率力最大值提升中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/1Xz3PlT.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-3-46">浮游大陸</a></td><td>浮游石</td>
<td>浮遊大陸</td><td>浮遊石</td>
<td>Floating Continent</td><td>Floating Rock</td>
<td>부유대륙</td><td>부유석</td>
</tr><tr><td><a href="/stage.html?s=3-3-47">月球</a></td><td>國旗</td>
<td>月</td><td>月</td>
<td>Moon</td><td>U.S. Flag</td>
<td>달</td><td>국기</td>
</tr>
</table>

<h2>綠水晶 - グリーンクリスタル  - Stellar Garnet - 그린 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(有星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/qPvW5id.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-0">地球</a></td><td>人類</td>
<td>地球</td><td>人類</td>
<td>Earth</td><td>Humanity</td>
<td>지구</td><td>인류</td>
</tr><tr><td><a href="/stage.html?s=3-6-1">火星</a></td><td>火星人</td>
<td>火星</td><td>火星人</td>
<td>Mars</td><td>Martian Ruins</td>
<td>화성</td><td>화성인</td>
</tr><tr><td><a href="/stage.html?s=3-6-2">木星</a></td><td>氣體</td>
<td>木星</td><td>気体</td>
<td>Jupiter</td><td>Gasses</td>
<td>목성</td><td>기체</td>
</tr><tr><td><a href="/stage.html?s=3-6-3">土星</a></td><td>神秘圓環</td>
<td>土星</td><td>謎の輪</td>
<td>Saturn</td><td>Mystery Rings</td>
<td>토성</td><td>수수께끼의 고리</td>
</tr><tr><td><a href="/stage.html?s=3-6-4">金星</a></td><td>金光閃閃的石頭</td>
<td>金星</td><td>金ぴかの石</td>
<td>Venus</td><td>Gilded Stone</td>
<td>금성</td><td>빛나는 돌</td>
</tr>
</table>

<h2>黃水晶 - イエロークリスタル  - Phoebe Beryl - 옐로우 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(有星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/cWxbtf6.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-9">海衛一</a></td><td>孝服</td>
<td>トリトン</td><td>喪服</td>
<td>Triton</td><td>Nitrogen</td>
<td>트리톤</td><td>상복</td>
</tr><tr><td><a href="/stage.html?s=3-6-10">冥王星</a></td><td>黑黑的東西</td>
<td>プルートゥ</td><td>黒い物体</td>
<td>Pluto</td><td>Darkness</td>
<td>명왕성</td><td>검은 물체</td>
</tr><tr><td><a href="/stage.html?s=3-6-11">紅色長方形星雲</a></td><td>長方形</td>
<td>赤い長方形星雲</td><td>長方形</td>
<td>Red Rectangle</td><td>Geometry</td>
<td>붉은사각형 성운</td><td>사각형</td>
</tr><tr><td><a href="/stage.html?s=3-6-12">愛斯基摩星雲</a></td><td>愛斯基摩人</td>
<td>エスキモー星雲</td><td>エスキモー</td>
<td>Eskimo Nebula</td><td>Parka</td>
<td>에스키모 성운</td><td>에스키모</td>
</tr><tr><td><a href="/stage.html?s=3-6-13">貓眼星雲</a></td><td>貓眼</td>
<td>キャッツアイ星雲</td><td>猫の目</td>
<td>Catseye Nebula</td><td>Glint</td>
<td>캣츠아이 성운</td><td>캣츠아이</td>
</tr>
</table>

<h2>橙水晶 - オレンジクリスタル  - Lunar Citrine - 오렌지 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(有星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/QhVDd0N.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-18">老人星</a></td><td>船底</td>
<td>カノープス</td><td>竜骨</td>
<td>Canopus</td><td>Keel</td>
<td>카노푸스</td><td>용골</td>
</tr><tr><td><a href="/stage.html?s=3-6-19">織女星</a></td><td>豎琴</td>
<td>ベガ</td><td>琴</td>
<td>Vega</td><td>Zither</td>
<td>직녀성</td><td>거문고</td>
</tr><tr><td><a href="/stage.html?s=3-6-20">畢宿五</a></td><td>金牛</td>
<td>アルデバラン</td><td>牡牛</td>
<td>Aldebaran</td><td>Bull</td>
<td>알데바란</td><td>황소</td>
</tr><tr><td><a href="/stage.html?s=3-6-21">參宿四</a></td><td>獵戶</td>
<td>ベテルギウス</td><td>オリオン</td>
<td>Betelgeuse</td><td>Orion's Belt</td>
<td>베텔게우스</td><td>오리온</td>
</tr><tr><td><a href="/stage.html?s=3-6-22">天津四</a></td><td>天鵝</td>
<td>デネブ</td><td>白鳥</td>
<td>Deneb</td><td>Swan</td>
<td>디네프</td><td>백조</td>
</tr>
</table>

<h2>青水晶 - ライトブルークリスタル  - Ganymede Topaz - 라이트블루 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(有星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/qqxJ3Ya.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-27">布達拉星</a></td><td>類人類</td>
<td>ブータラ星</td><td>ヒューマノイド</td>
<td>Buutara</td><td>Humanoids</td>
<td>부타라 성운</td><td>휴머노이드</td>
</tr><tr><td><a href="/stage.html?s=3-6-28">摩斯坎達克</a></td><td>希望</td>
<td>モスカンダグ</td><td>希望</td>
<td>Moskandag</td><td>Hope</td>
<td>모스칸다그</td><td>희망</td>
</tr><tr><td><a href="/stage.html?s=3-6-29">水果星</a></td><td>偶像</td>
<td>コロン星</td><td>アイドル</td>
<td>Corona</td><td>Pop Idol</td>
<td>코론별</td><td>아이돌</td>
</tr><tr><td><a href="/stage.html?s=3-6-30">炒麵星</a></td><td>英雄</td>
<td>ヤキソパーン</td><td>ヒーロー</td>
<td>Soba IV</td><td>Tangy Sauce</td>
<td>매운매운떡뽀끼</td><td>영웅</td>
</tr><tr><td><a href="/stage.html?s=3-6-31">梅乾星</a></td><td>腌製食品</td>
<td>ウメ星</td><td>漬物</td>
<td>Plumpit</td><td>Pickled Veggies</td>
<td>다진마늘성</td><td>절임</td>
</tr>
</table>

<h2>紫水晶 - パープルクリスタル  - Callisto Amethyst - 퍼플 크리스탈</h2><div style="font-style:italic;text-align:center;">對異星戰士(有星星)發動大幅力量中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/WWUKQFX.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-36">亞掛哈姆</a></td><td>太空船</td>
<td>アグハムム</td><td>宇宙船</td>
<td>Aguham</td><td>Spaceship</td>
<td>우그하문</td><td>우주선</td>
</tr><tr><td><a href="/stage.html?s=3-6-37">所門羅</a></td><td>星星糖</td>
<td>ソモロン</td><td>金平糖</td>
<td>Somolon</td><td>Confetti</td>
<td>솔로몬</td><td>별사탕</td>
</tr><tr><td><a href="/stage.html?s=3-6-38">阿巴．布亞</a></td><td>香菇</td>
<td>アバ・ブア</td><td>キノコ</td>
<td>Ababwa</td><td>Mushrooms</td>
<td>아바·부아</td><td>버섯</td>
</tr><tr><td><a href="/stage.html?s=3-6-39">泰坦</a></td><td>臉</td>
<td>ティターン</td><td>顔面</td>
<td>Titan</td><td>Ominous Face</td>
<td>티탄</td><td>얼굴</td>
</tr><tr><td><a href="/stage.html?s=3-6-40">暈死星</a></td><td>原力</td>
<td>デススタン</td><td>フォース</td>
<td>Skelling</td><td>The Force</td>
<td>데스스턴</td><td>포스</td>
</tr>
</table>

<h2>鋼鐵果實 - 鋼鉄の果実  - Titanium Fruit - 강철의 과실</h2><div style="font-style:italic;text-align:center;">對鋼鐵敵人發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/ZPQvGy0.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-5">水星</a></td><td>水</td>
<td>水星</td><td>水</td>
<td>Mercury</td><td>Water</td>
<td>수성</td><td>물</td>
</tr><tr><td><a href="/stage.html?s=3-6-6">太陽</a></td><td>黑點</td>
<td>太陽</td><td>黒点</td>
<td>Sun</td><td>Sunspot</td>
<td>태양</td><td>흑점</td>
</tr><tr><td><a href="/stage.html?s=3-6-7">天王星</a></td><td>紫色時鐘</td>
<td>ウラヌス</td><td>紫色の時計</td>
<td>Uranus</td><td>Purple Clock</td>
<td>천왕성</td><td>보라색의 시계</td>
</tr><tr><td><a href="/stage.html?s=3-6-8">海王星</a></td><td>海王證書</td>
<td>ネプチューン</td><td>海王の証</td>
<td>Neptune</td><td>Trident</td>
<td>해왕성</td><td>해왕의 증표</td>
</tr>
</table>

<h2>冥界果實 - 冥界の果実  - Antimatter Fruit - 명계의 과실</h2><div style="font-style:italic;text-align:center;">對不死生物發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/XI40lDF.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-14">蛋星雲</a></td><td>蛋</td>
<td>卵星雲</td><td>卵</td>
<td>Egg Nebula</td><td>Yolk</td>
<td>달걀 성운</td><td>알</td>
</tr><tr><td><a href="/stage.html?s=3-6-15">葫蘆星雲</a></td><td>葫蘆</td>
<td>ひょうたん星雲</td><td>ひょうたん</td>
<td>Calabash Nebula</td><td>Gourd</td>
<td>호리병박 성운</td><td>호리병</td>
</tr><tr><td><a href="/stage.html?s=3-6-16">牛郎星</a></td><td>鷹</td>
<td>アルタイル</td><td>鷲</td>
<td>Altair</td><td>Hawk</td>
<td>견우성</td><td>독수리</td>
</tr><tr><td><a href="/stage.html?s=3-6-17">天狼星</a></td><td>大狗</td>
<td>シリウス</td><td>大犬</td>
<td>Sirius</td><td>Big Dog</td>
<td>천랑성</td><td>큰개</td>
</tr>
</table>

<h2>異星果實 - 異星の果実  - Enigma Fruit - 외계의 과실</h2><div style="font-style:italic;text-align:center;">對異星戰士發動特殊能力效果中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/oi3jyWw.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-23">鼻涕蟲星</a></td><td>觸角</td>
<td>惑星スナック</td><td>触角</td>
<td>Cosmic Lounge</td><td>Antennae</td>
<td>혹성스낵</td><td>촉감</td>
</tr><tr><td><a href="/stage.html?s=3-6-24">打耳星</a></td><td>額頭</td>
<td>サイータ星</td><td>おでこ</td>
<td>Sighter's Star</td><td>Forehead</td>
<td>사이타 성운</td><td>이마</td>
</tr><tr><td><a href="/stage.html?s=3-6-25">戒王星</a></td><td>冷笑話</td>
<td>魁皇星</td><td>ダジャレ</td>
<td>Kaiou</td><td>Dad Jokes</td>
<td>콜르라성</td><td>익살</td>
</tr><tr><td><a href="/stage.html?s=3-6-26">大麥哲倫星雲</a></td><td>銀河</td>
<td>大マゼラン星雲</td><td>銀河</td>
<td>Magellanic</td><td>Milky Way</td>
<td>대마젤란 성운</td><td>은하</td>
</tr>
</table>

<h2>黑暗物質 - ダークマター  - Dark Matter - 다크 매터</h2><div style="font-style:italic;text-align:center;">統率力最大值提升中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/tk0O0vW.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-32">達拉拉拉</a></td><td>月球的石頭</td>
<td>ダラララ</td><td>月の石</td>
<td>Darararah</td><td>Moon Rocks</td>
<td>다라라라</td><td>달의 돌</td>
</tr><tr><td><a href="/stage.html?s=3-6-33">月背三</a></td><td>宇宙殖民地</td>
<td>マイドムリ</td><td>コロニー</td>
<td>Thanxbye</td><td>Space Colony</td>
<td>마이도무리</td><td>콜로니</td>
</tr><tr><td><a href="/stage.html?s=3-6-34">大軸基地</a></td><td>十字</td>
<td>メルトズ</td><td>十文字</td>
<td>Mertoz</td><td>Cross</td>
<td>멜토즈</td><td>십자</td>
</tr><tr><td><a href="/stage.html?s=3-6-35">魯神五號</a></td><td>娥眉月</td>
<td>ウラルー</td><td>三日月</td>
<td>Urura</td><td>Crescent Moon</td>
<td>우랄랄</td><td>초승달</td>
</tr>
</table>

<h2>微中子 - ニュートリノ  - Neutrino - 뉴트리노</h2><div style="font-style:italic;text-align:center;">過關時的經驗值增加中！</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/UuvVknT.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-41">人猿星</a></td><td>猿猴</td>
<td>ゴリラの惑星</td><td>猿</td>
<td>Gorigori</td><td>Monkey Gang</td>
<td>고릴라의 혹성</td><td>원숭이</td>
</tr><tr><td><a href="/stage.html?s=3-6-43">深紅星</a></td><td>史上最強的人</td>
<td>クリムゾン星</td><td>すごい男</td>
<td>Crimson Star</td><td>Cool Dude</td>
<td>크림존성</td><td>대단한 남자</td>
</tr><tr><td><a href="/stage.html?s=3-6-45">仙女座星系</a></td><td>神話</td>
<td>アンドロメダ</td><td>神話</td>
<td>Andromeda</td><td>Mythology</td>
<td>안드로메다</td><td>신화</td>
</tr><tr><td><a href="/stage.html?s=3-6-47">大霹靂</a></td><td>起源</td>
<td>ビッグバン</td><td>起源</td>
<td>The Big Bang</td><td>Origin</td>
<td>빅뱅</td><td>기원</td>
</tr>
</table>

<h2>神秘面具 - 謎のお面  - Mystery Mask - 수수께끼의 가면</h2><div style="font-style:italic;text-align:center;">在宇宙篇第1章最後一關發揮效果的神秘面具</div>
<img width="600" height="241" alt="treasure" loading="lazy" src="https://i.imgur.com/Yyv7bkD.png">
<table class="w3-table w3-striped w3-centered w3-border w3-bordered w3-hoverable">
<tr>
<th>台版關卡</th>
<th>寶物</th>
<th>日版關卡</th>
<th>寶物</th>
<th>國際版關卡</th>
<th>寶物</th>
<th>韓版關卡</th>
<th>寶物</th>
</tr>
<tr><td><a href="/stage.html?s=3-6-42">超博坦星</a></td><td>變形</td>
<td>チョイバトロン星</td><td>トランス</td>
<td>Broton</td><td>Transmission</td>
<td>쪼매바로톤성</td><td>변압기</td>
</tr><tr><td><a href="/stage.html?s=3-6-44">N77星雲</a></td><td>三分鐘</td>
<td>N77星雲</td><td>３分間</td>
<td>N77 Nebula</td><td>3 Minutes</td>
<td>N77 성운</td><td>3분간</td>
</tr><tr><td><a href="/stage.html?s=3-6-46">黑洞</a></td><td>時空</td>
<td>ブラックホール</td><td>時空</td>
<td>Black Hole</td><td>Spacetime</td>
<td>블랙홀</td><td>시공</td>
</tr>
</table>

</body>
</html>
