{{#> static.html}}

{{#*inline "title"}}金寶與關卡對照表{{/inline}}

{{#*inline "description"}}世界篇、未來篇、宇宙篇的寶物和關卡對照表{{/inline}}

{{#*inline "styles-inline"}}
	{{~> @partial-block}}
	<style>
	body {
		text-align: center;
	}
	img {
		display: block;
		margin: 1em auto;
		max-width: 100%;
	}
	h2 {
		margin-top: 2em;
	}
	</style>
{{/inline}}

{{#*inline "content"}}
<div class="E">
<div>※本篇已收錄至<a href="https://forum.gamer.com.tw/C.php?bsn=23772&snA=20591" target="_blank">【情報】貓咪大戰爭寶物關卡與效果一覽</a>中，寶物效果也整理在文章中※</div>

{{#with (loadJSON "treasure.json") as |treasures|}}
	{{#each treasures as |treasure|}}
	<h2>{{treasure.tw_name}} - {{treasure.jp_name}} - {{treasure.en_name}} - {{treasure.kr_name}}</h2>
	<div style="font-style:italic;text-align:center;">{{treasure.desc}}</div>
	<img width="600" height="241" alt="treasure" loading="lazy" src="{{treasure.img}}">
	<table>
		<tr>
			<th>台版關卡</th>
			<th>寶物</th>
			<th>日版關卡</th>
			<th>寶物</th>
			<th>國際版關卡</th>
			<th>寶物</th>
			<th>韓版關卡</th>
			<th>寶物</th>
		</tr>
		{{#each treasure.content as |item|}}
		<tr>
			<td><a href="/stage.html?s=3-{{item.[0]}}">{{item.[1]}}</a></td>
			<td>{{item.[2]}}</td>
			<td>{{item.[3]}}</td>
			<td>{{item.[4]}}</td>
			<td>{{item.[5]}}</td>
			<td>{{item.[6]}}</td>
			<td>{{item.[7]}}</td>
			<td>{{item.[8]}}</td>
		</tr>
		{{/each}}
	</table>
	{{/each}}
{{/with}}


</div>
{{/inline}}

{{/static.html}}
