html, body { height: 100%; width: 100%; margin: 0; }
p {
	text-align: center;
}
pre {
  white-space: normal;
  text-wrap: wrap;
  font-family: system-ui;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#loader-text {
  position: absolute;
  left: calc(50% - 60px);
  top: 60%;
  z-index: 2;
  text-align: center;
  width: 120px;
  height: 120px;
}
@media print {
  .no-print {
    display: none;
  }
}
.r-ribbon {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background: #4CAF50;
  box-shadow: 0 0 0 999px #4CAF50;
  clip-path: inset(0 -100%);
  transform-origin: 0 0;
  transform: translate(29.3%) rotate(45deg);
}
.fruit {
  background-color: white;
  border-radius: 5px;
}
table.fruit-table {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 10px solid #f1f1f1;
}
.w3-table td {
  padding: 7px 30px;
  border: #cfcfcf 1px solid;
}
table.tcost {
  width: initial;
  margin: 40px auto;
  margin-bottom: 50px;
}
.w3-table td:first-child { padding-left: initial; }
table.combo td {
  padding: 0px;
  border: none;
}
table.combo tr, table.combo td:first-child {
  border: #cfcfcf 1px solid;
}
table.combo p {
  padding: 5px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
tr.spec td {
  text-align: left;
  padding-left: 10px;
}
tr.spec p {
   text-align: left;
   padding-left: 5px;
}
