:root {
	--vbg: white;
	--bg: initial;
	--color: initial;
	--dcolor: black;
	--acolor: initial;
	--abg: initial;
	--ahover: #0b68b7;
	--avisited: initial;
	--tcolor: #f9f9f9;
	--aactive: initial;
	--bgd: #f1f1f1;
	--spans: #7fdbff;
	--liselect: #7fdbff;
}
[data-theme="dark"] {
	--vbg: #282a36;
	--bg: #282a36;
	--color: #f8f8f2;
	--dcolor: black;
	--acolor: #50fa7b;
	--abg: transparent;
	--ahover: #f1fa8c;
	--avisited: #6272a4;
	--tcolor: #44475a;
	--aactive: #8be9fd;
	--bgd: initial;
	--spans: #797270;
	--liselect: #638593;
}
body {
	color: var(--color);
	background-color: var(--bg);
}
input,
option,
select,
button {
	color: var(--color);
}
a,
a:visited {
	color: var(--acolor);
	background-color: var(--abg);
}
a:hover {
	color: var(--ahover);
}
[data-theme="dark"] td {
	background-color: var(--bg) !important;
}
