html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
p {
	text-align: center;
}
pre {
	white-space: normal;
	text-wrap: wrap;
	font-family: system-ui;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media print {
	.no-print {
		display: none;
	}
}
.r-ribbon {
	position: absolute;
	top: 1em;
	right: 1em;
	color: white !important;
	background: #4caf50 !important;
	box-shadow: 0 0 0 999px #4caf50;
	clip-path: inset(0 -100%);
	transform-origin: 0 0;
	transform: rotate(45deg);
}
.w3-table td {
	padding: 7px 30px;
	border: #cfcfcf 1px solid;
}
.fruit {
	margin: 0 auto;
	border-radius: 1em;
	padding: 0.5em;
	margin-bottom: 60px;
}
.fruit tr,
.fruit,
.fruit td {
	background-color: #f5f5f5 !important;
}
.dark .fruit tr,
.dark .fruit,
.dark .fruit td {
	background-color: inherit !important;
}
.fruit img {
	background-color: transparent !important;
}
.fruit p {
	background-color: transparent !important;
	margin-block-start: 0.2em;
	margin-block-end: 0.5em;
}
.fruit td {
	padding: 0;
}
.tcost {
	width: initial;
	margin: 40px auto;
	margin-bottom: 50px;
}
.tcost td {
	padding-left: 0.3em !important;
	padding-right: 0.3em !important;
}
.w3-table td:first-child {
	padding-left: initial;
}
.combo td {
	padding: 0px;
	border: none;
}
.combo tr,
.combo td:first-child {
	border: #cfcfcf 1px solid;
}
.combo p {
	padding: 5px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.An {
	position: relative;
	display: none;
	animation-name: An;
	animation-duration: 0.7s;
}
@keyframes An {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.w3-modal-content {
	background-color: var(--bg);
}
.plus-btn {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #d3d3d3;
	font-size: 24px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.plus-btn:hover {
	background-color: #c0c0c0;
}
.plus-btn:active {
	background-color: #a9a9a9;
}
.dark .plus-btn {
	background-color: #808080;
}
.dark .plus-btn:hover {
	background-color: #696969;
}
.dark .plus-btn:active {
	background-color: #505050;
}
