<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>關卡資訊</title>
	<meta name="description" content="關卡資訊 | 貓咪大戰爭中文資訊網站">
	<meta property="og:site_name" content="battlecatsinfo.github.io">
	<meta property="og:title" content="關卡資訊">
	<meta property="og:description" content="查詢關卡詳細資訊">
	<meta property="og:image" content="https://i.imgur.com/uzobngO.png">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	<link rel="stylesheet" type="text/css" href="/dracula.css">
	<link rel="stylesheet" type="text/css" href="w3.css">
</head>

<body>
	<style>
body { 
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: max(1.1vw, 8px);
	vertical-align:middle;
	line-height: initial;
}
select {
	text-overflow: ellipsis;
	border: 1px solid #dde;
	font-size: 1.2em;
	border-radius: 4px;
	padding: .25em .6em;
	flex: 1;
	margin: 0.7vh 0.3vw;
}
th { font-weight: normal; }
.Co {
	margin-top: 2vh;
	margin-bottom: 2vh;
}
.Co td {
	padding: 0.5em;
	border: 1px solid #575757;
	vertical-align: middle;
}
.noPad td {
	padding: 0;
}
#lines td {
	padding: 0.3em;
}
div.An {
	animation-name: An;
	animation-duration: 0.7s
}
@keyframes An { 
	from { opacity:0; } 
	to { opacity:1; }
}
a.res {
	display: block;
	margin: 20px 10px;
	text-decoration: none;
}
a.res::visited {
	color: initial;
}
a.res span { color: #ff634e; }
.w3-table td:first-child, .w3-table th:first-child { padding-left: initial; }
span.boss {
	color: #ff5722;
}
a img {
	max-width: 2em;
	height: auto;
}
a.L {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 100%;
}
thead td {
	background-color: #9d9a834d !important;
}
.dark thead td {
	background-color: #7171714d !important;
}
.dark ::placeholder {
	color: #ccc;
}
input, input button {
	background-color: #cfcfcf40 !important;
}
.w {
	color: #f23c14 !important;
}
.I {
	color: #795548 !important;
}
.W {
	color: #094e6f !important;
}
.dark .W {
	color: #f0c030 !important;
}
.dark .w {
	color: #f23c14 !important;
}
.dark .I {
	color: #30f098 !important;
}
.M {
	max-width: 90vw;
	margin: auto;
	margin-top: 10vh;
	background-color: #fff;
	position: relative;
	padding: 1em;
	border-radius: 0.5em;
	outline: 0;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	color: #efefef;
}
.dark .M {
	background-color: #474747 !important;
}
.M	* {
	background-color: transparent !important;
}
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #0000008a;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2;
}
.S {
	width: max(6vw, 6vh);
	height: auto;
	cursor: pointer;
}
.V {
	border-bottom: 1px dashed black;
}
.dark .V {
	border-bottom: 1px dashed white;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.a {
	margin: 2px 12px;
	cursor: pointer;
}
.A {
	color: #904000;
	text-decoration: underline;
}
.dark .A {
	color: #50fa7b;
}
.topnav {
	background-color: #333 !important;
	margin-block: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: max(1.5vw, 10px) !important;
}
.topnav > a {
	display: inline-block;
	color: #f2f2f2 !important;
	padding: 1vh 2vw;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
}
.topnav > a.active {
	background-color: #4caf50 !important;
}
.topnav > a:visited {
	text-decoration: none;
}
.topnav > a:hover {
	background-color: #009688 !important;
}
.topnav svg {
	background-color: inherit !important;
	height: 1.3em;
}
#site-search {
	display: none;
	background-color: transparent;
}
#site-search input {
	border: 1px solid rgba(0, 0, 0, 0.25) !important;
	border-radius: 25px;
	padding: 0.1em 0.2em;
	width: 175px;
	font-size: 17px;
	font-style: italic;
	color: black !important;
	background-color: white !important;
}
#search-btn {
	all: unset;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent !important;
}
#search-btn svg {
	width: 12px;
	height: 12px;
	fill: white;
}
@media (min-width: 800px) {
	#site-search {
		display: inline;
	}
	#site-search input {
		display: inline-block;
		width: 20vw;
	}
	#search-btn {
		position: relative;
		top: 3px;
		right: 30px;
	}
	#search-btn svg {
		height: 22px;
		width: 22px;
		fill: black;
	}
}
#site-s-result {
	background-color: white !important;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
}
#site-s-result > * {
	width: 100%;
	padding: 0.7em 2em;
	color: black !important;
	background-color: transparent !important;
}
#site-s-result > *:hover {
	background-color: #e7e7e7 !important;
	color: black !important;
}
	</style>

	<div class="topnav">
		<a href="/index.html">主頁</a>
		<a href="/search.html">貓咪</a>
		<a href="/esearch.html">敵人</a>
		<a href="/gachas.html">轉蛋</a>
		<a href="/stage.html" class="active">關卡</a>
		<a title="設定" href="/settings.html" style="float:right;">
			<svg viewBox="0 0 24 24">
			<path d="M20.1 9.2214C18.29 9.2214 17.55 7.9414 18.45 6.3714C18.97 5.4614 18.66 4.3014 17.75 3.7814L16.02 2.7914C15.23 2.3214 14.21 2.6014 13.74 3.3914L13.63 3.5814C12.73 5.1514 11.25 5.1514 10.34 3.5814L10.23 3.3914C9.78 2.6014 8.76 2.3214 7.97 2.7914L6.24 3.7814C5.33 4.3014 5.02 5.4714 5.54 6.3814C6.45 7.9414 5.71 9.2214 3.9 9.2214C2.86 9.2214 2 10.0714 2 11.1214V12.8814C2 13.9214 2.85 14.7814 3.9 14.7814C5.71 14.7814 6.45 16.0614 5.54 17.6314C5.02 18.5414 5.33 19.7014 6.24 20.2214L7.97 21.2114C8.76 21.6814 9.78 21.4014 10.25 20.6114L10.36 20.4214C11.26 18.8514 12.74 18.8514 13.65 20.4214L13.76 20.6114C14.23 21.4014 15.25 21.6814 16.04 21.2114L17.77 20.2214C18.68 19.7014 18.99 18.5314 18.47 17.6314C17.56 16.0614 18.3 14.7814 20.11 14.7814C21.15 14.7814 22.01 13.9314 22.01 12.8814V11.1214C22 10.0814 21.15 9.2214 20.1 9.2214ZM12 15.2514C10.21 15.2514 8.75 13.7914 8.75 12.0014C8.75 10.2114 10.21 8.7514 12 8.7514C13.79 8.7514 15.25 10.2114 15.25 12.0014C15.25 13.7914 13.79 15.2514 12 15.2514Z"
			fill="white" />
		</svg>
		</a>
		<a title="佈景主題" onclick="toggleTheme()" style="float:right;">
			<svg viewBox="0 0 24 24">
				<path fill="white" d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20 L12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z"></path>
			</svg>
		</a>
		<a style="position:relative;float:right;">
			<form id="site-search">
				<input autocomplete="off" type="text" placeholder="Search..." aria-label="search">
				<button type="submit" id="search-btn">
					<svg viewBox="0 0 50 50" width="50px" height="50px">
						<path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z" />
					</svg>
				</button>
			</form>
			<div style="position: relative;" class="w3-card">
				<div id="site-s-result" hidden>
					<div data-search="/search.html">搜尋貓咪</div>
					<div data-search="/esearch.html">搜尋敵人</div>
					<div data-search="/stage.html">搜尋關卡</div>
				</div>
			</div>
		</a>
	</div>

	<script src="/dracula.js"></script>

	<div>
		<div style="display:flex;width:100%;">
			<select id="M1">
				{{#each M1}}
				
				{{/each}}
			</select>
			<select id="M2"></select>
			<select id="M3"></select>
		</div>
		<form id="form" role="search" style="width: 100%;position: relative;" action>
			<input type="search" autocomplete="off" name="q" placeholder="搜尋關卡名稱" aria-label="搜尋關卡名稱" class="w3-input" style="margin-left: 1em;margin-top: .1em;padding: 0.4em 1em;width: 92%;border-radius: 4px;font-size: 1.2em;">
			{{#if filter}}
			<svg title="篩選" id="fs" style="position: absolute;top: 0.5em;right: 2vw;height: 1.5em;width: 1.5em;fill: var(--color);cursor: pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z" />
			</svg>
			{{/if}}
		</form>
		<div style="position: absolute;left: calc(50% - 60px);top: 60%;z-index: 2;text-align: center;width: 120px;height: 120px;">載入中...</div>
		<div id="loader" style="position: absolute;left: 50%;top: 50%;z-index: 1;width: 120px;height: 120px;margin: -76px 0 0 -76px;border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;animation: spin 2s linear infinite;"></div>
		<div id="main" style="dicsplay: none;position: relative;" class="An">
			<svg title="上一關" id="prev" style="position: absolute;top: 2vh;height: 1.5em;width: 1.5em;fill: var(--color);cursor: pointer;left: 5vw;" viewBox="0 0 512 512">
				<path d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3V256v41.7L459.5 440.6zM256 352V256 128 96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V352z"
				/>
			</svg>

			<svg title="下一關" style="position: absolute;top: 2vh;height: 1.5em;width: 1.5em;fill: var(--color);cursor: pointer;right: 5vw;" viewBox="0 0 512 512">
				<path d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3V256v41.7L52.5 440.6zM256 352V256 128 96c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29V352z"
				/>
			</svg>

			{{#if filter}}
			<div class="modal" id="filter">
				<div class="M">

				</div>
			</div>
			{{/if}}

			<table class="w3-table w3-centered Co">
				<tbody>
					<tr>
						<th colspan="6" id="st-name"></th>
					</tr>
					<tr>
						<th colspan="6" id="st-name2"></th>
					</tr>
				</tbody>
			</table>
			<table class="w3-table w3-centered Co">
				<tbody>
					<tr id="st-1">
						<td>消費統率力</td>
						<td></td>
						<td>敵方上限</td>
						<td></td>
						<td>背景長度</td>
						<td></td>
					</tr>
					<tr id="st-2">
						<td>敵城體力</td>
						<td></td>
						<td>最低再生產</td>
						<td></td>
						<td>背景</td>
						<td></td>
					</tr>
					<tr id="st-3">
						<td>經驗值</td>
						<td></td>
						<td>顯示條件</td>
						<td></td>
						<td>解放條件</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table class="w3-table w3-centered Co noPad">
				<thead>
					<tr>
						<td>過關獎勵</td>
						<td style="width: 3em;"></td>
						<td>機率</td>
						<td>上限</td>
					</tr>
				</thead>
				<tbody id="rewards"></tbody>
			</table>
			<table class="w3-table w3-centered Co noPad">
				<thead>
					<tr>
						<td>掉落素材</td>
						<td style="width: 3em;">
							<td id="mM">機率</td>
					</tr>
				</thead>
				<tbody id="drops"></tbody>
			</table>
			<table class="w3-table w3-centered Co noPad">
				<thead>
					<tr>
						<td>時間獎勵</td>
						<td style="width: 3em;"></td>
						<td>數量</td>
						<td>時間</td>
					</tr>
				</thead>
				<tbody id="times"></tbody>
			</table>
			<div id="ex-stages" style="width: 100% !important;margin: 0 auto !important;text-align: center !important;">
			</div>
			<table class="w3-table w3-centered Co">
				<thead>
					<tr>
						<td>敵人</td>
						<td>圖示</td>
						<td>倍率</td>
						<td>數量</td>
						<td>塔連動</td>
						<td>初登場</td>
						<td>再登場</td>
						<td>貓魂召喚數</td>
					</tr>
				</thead>
				<tbody id="lines"></tbody>
			</table>
		</div>
		<div style="display: none;" id="search-result"></div>
	</div>

	<script src="{{{stagejs}}}"></script>

</body>

</html>
