{{#var "title"}}{{#> title}}{{/title}}{{/var~}}
{{#var "description"}}{{#> description}}{{/description}}{{/var~}}
<!DOCTYPE html>
<html{{#> html-attrs}} lang="zh-Hant" dir="ltr"{{/html-attrs}}>
<head>
	<meta charset="utf-8">
	{{#> viewport}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{/viewport}}
	{{#if title}}
	<title>{{title}}</title>
	{{/if}}
	{{#if description}}
	<meta name="description" content="{{description}}">
	{{/if}}
	<meta property="og:site_name" content="battlecatsinfo.github.io">
	{{#> og}}
	{{#if title}}
	<meta property="og:title" content="{{title}}">
	{{/if}}
	{{#if description}}
	<meta property="og:description" content="{{description}}">
	{{/if}}
	{{/og}}
	{{#> favicon}}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	{{/favicon}}
	{{#> styles}}
	{{/styles}}
	{{#> styles-inline}}
	{{/styles-inline}}
	{{#*inline "scripts"}}
	<script src="/common.js"></script>
	{{/inline}}
	{{#> scripts-inline}}
	{{/scripts-inline}}
</head>
<body{{#> body-attrs}}{{/body-attrs}}>
	{{#> nav-bar}}
	<!--nav-bar-->
	{{#> nav-bar-styles}}
	<style>
	.topnav {
		background-color: #333 !important;
		margin-block: 0;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: max(1.5vw, 10px) !important;
	}
	.topnav > a {
		display: inline-block;
		color: #f2f2f2 !important;
		padding: 1vh 2vw;
		text-decoration: none;
		cursor: pointer;
		vertical-align: middle;
	}
	.topnav > a.active {
		background-color: #4caf50 !important;
	}
	.topnav > a:visited {
		text-decoration: none;
	}
	.topnav > a:hover {
		background-color: #009688 !important;
	}
	.topnav svg {
		background-color: inherit !important;
		height: 1.3em;
	}
	{{#> nav-bar-styles-search}}
	#site-search {
		display: none;
		background-color: transparent;
	}
	#site-search input {
		border: 1px solid rgba(0, 0, 0, 0.25) !important;
		border-radius: 25px;
		padding: 0.1em 0.2em;
		width: 175px;
		font-size: 17px;
		font-style: italic;
		color: black !important;
		background-color: white !important;
	}
	#search-btn {
		all: unset;
		vertical-align: middle;
		cursor: pointer;
		background-color: transparent !important;
	}
	#search-btn svg {
		width: 12px;
		height: 12px;
		fill: white;
	}
	@media (min-width: 800px) {
		#site-search {
			display: inline;
		}
		#site-search input {
			display: inline-block;
			width: 20vw;
		}
		#search-btn {
			position: relative;
			top: 3px;
			right: 30px;
		}
		#search-btn svg {
			height: 22px;
			width: 22px;
			fill: black;
		}
	}
	#site-s-result {
		background-color: white !important;
		position: absolute;
		z-index: 10;
		left: 0;
		top: 0;
	}
	#site-s-result > * {
		width: 100%;
		padding: 0.7em 2em;
		color: black !important;
		background-color: transparent !important;
	}
	#site-s-result > *:hover {
		background-color: #e7e7e7 !important;
		color: black !important;
	}
	{{/nav-bar-styles-search}}
	</style>
	{{/nav-bar-styles}}
	{{#*inline "nav-bar-content"}}
	<div class="topnav">
		<a href="/index.html" data-i18n="nav.home" {{#if (op nav_bar_active "===" "index")}} class="active"{{/if}}>主頁</a>
		<a href="/search.html" data-i18n="nav.cats" {{#if (op nav_bar_active "===" "cat")}} class="active"{{/if}}>貓咪</a>
		<a href="/esearch.html" data-i18n="nav.enemies" {{#if (op nav_bar_active "===" "enemy")}} class="active"{{/if}}>敵人</a>
		<a href="/gachas.html" data-i18n="nav.gacha" {{#if (op nav_bar_active "===" "gacha")}} class="active"{{/if}}>轉蛋</a>
		<a href="/stage.html" data-i18n="nav.stages" {{#if (op nav_bar_active "===" "stage")}} class="active"{{/if}}>關卡</a>
		<a href="/schedule.html" data-i18n="nav.schedule" {{#if (op nav_bar_active "===" "schedule")}} class="active"{{/if}}>日程</a>
		{{#*inline "nav-bar-content-language"}}
		<select id="language-select" style="float:right;display:inline-block;">
			<option value="zh" data-i18n="lang.zh">中文</option>
			<option value="en" data-i18n="lang.en">English</option>
			<option value="ja" data-i18n="lang.ja">日本語</option>
		</select>
		{{/inline}}
		{{#*inline "nav-bar-content-settings"}}
		<a title="設定" href="/settings.html" style="float:right;" data-i18n-attrs="title:settings.title">
			<svg viewBox="0 0 24 24">
				<path d="M20.1 9.2214C18.29 9.2214 17.55 7.9414 18.45 6.3714C18.97 5.4614 18.66 4.3014 17.75 3.7814L16.02 2.7914C15.23 2.3214 14.21 2.6014 13.74 3.3914L13.63 3.5814C12.73 5.1514 11.25 5.1514 10.34 3.5814L10.23 3.3914C9.78 2.6014 8.76 2.3214 7.97 2.7914L6.24 3.7814C5.33 4.3014 5.02 5.4714 5.54 6.3814C6.45 7.9414 5.71 9.2214 3.9 9.2214C2.86 9.2214 2 10.0714 2 11.1214V12.8814C2 13.9214 2.85 14.7814 3.9 14.7814C5.71 14.7814 6.45 16.0614 5.54 17.6314C5.02 18.5414 5.33 19.7014 6.24 20.2214L7.97 21.2114C8.76 21.6814 9.78 21.4014 10.25 20.6114L10.36 20.4214C11.26 18.8514 12.74 18.8514 13.65 20.4214L13.76 20.6114C14.23 21.4014 15.25 21.6814 16.04 21.2114L17.77 20.2214C18.68 19.7014 18.99 18.5314 18.47 17.6314C17.56 16.0614 18.3 14.7814 20.11 14.7814C21.15 14.7814 22.01 13.9314 22.01 12.8814V11.1214C22 10.0814 21.15 9.2214 20.1 9.2214ZM12 15.2514C10.21 15.2514 8.75 13.7914 8.75 12.0014C8.75 10.2114 10.21 8.7514 12 8.7514C13.79 8.7514 15.25 10.2114 15.25 12.0014C15.25 13.7914 13.79 15.2514 12 15.2514Z" fill="white" />
			</svg>
		</a>
		{{/inline}}
		{{#*inline "nav-bar-content-theme"}}
		<a title="佈景主題" style="float:right;" data-i18n-attrs="title:theme.title">
			<svg viewBox="0 0 24 24">
				<path fill="white" d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20 L12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z" />
			</svg>
		</a>
		{{/inline}}
		{{#*inline "nav-bar-content-search"}}
		<a style="position:relative;float:right;">
			<form id="site-search">
				<input autocomplete="off" type="text" placeholder="Search..." aria-label="search">
				<button type="submit" id="search-btn">
					<svg viewBox="0 0 50 50" width="50px" height="50px">
						<path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z" />
					</svg>
				</button>
			</form>
			<div style="position: relative;" class="w3-card">
				<div id="site-s-result" hidden>
					<div data-search="/search.html" data-i18n="search.cats">搜尋貓咪</div>
					<div data-search="/esearch.html" data-i18n="search.enemies">搜尋敵人</div>
					<div data-search="/stage.html" data-i18n="search.stages">搜尋關卡</div>
				</div>
			</div>
		</a>
		{{/inline}}
	</div>
	{{/inline}}
	{{#> nav-bar-scripts}}
	<script src="/navbar.js"></script>
	{{/nav-bar-scripts}}
	<!--/nav-bar-->
	{{/nav-bar}}
	{{#> content}}
	{{/content}}
</body>
</html>
