{{#> base.html}}

{{#*inline "styles"}}
	{{#> styles}}
	<link rel="stylesheet" href="/gh.css">
	{{/styles}}
{{/inline}}

{{#*inline "nav-bar"}}{{/inline}}

{{#*inline "content"}}
	<h1 id="title"><a class="anchor" href="#title"><span class="octicon octicon-link"></span></a>{{#> title}}{{/title}}</h1>
{{#> content}}
{{/content}}
{{/inline}}

{{/base.html}}
