{{#> base.html}}

{{#*inline "styles-inline"}}
	{{#> styles-inline}}
	<style>
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	::-webkit-scrollbar-thumb {
		background: #888;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.3em;
	}
	:root {
		--bg: #fff;
		--color: black;
		--ac: #4d64ff;
	}
	:root.dark {
		--bg: #141414;
		--color: #f8f8f2;
		--ac: #7c8eff;
	}
	input {
		font: inherit;
		margin: 0;
		text-align: left;
	}
	body {
		color: var(--color);
		background-color: var(--bg);
		padding: 0;
		margin: 0;
		font-family: system-ui;
	}
	.main-content {
		width: 65%;
		margin: 0 auto;
	}
	@media only screen and (max-width: 1100px) {
		.main-content {
		width: 80%;
		}
	}
	@media only screen and (max-width: 768px) {
		.main-content {
		width: 96%;
		}
	}
	a,
	a:visited,
	a:hover,
	a:active {
		color: var(--ac) !important;
		text-decoration: none;
		cursor: pointer;
	}
	a:hover {
		text-decoration: underline;
	}
	th,
	td {
		border: 1px solid #ccc;
		padding: 0.5em;
	}
	table {
		text-align: center;
		display: block;
		overflow: auto;
		width: max-content;
		max-width: 100%;
		white-space: nowrap;
		border-collapse: collapse;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	blockquote {
		border-left-style: solid;
		border-left-width: 0.2em;
		border-left-color: rgb(204, 204, 204);
		margin: 1.5em 0;
		padding-left: 1.5em;
		line-height: 2.4em;
	}
	thead th {
    	background-color: #cfcfcf;
	    border: 1px solid #b2b2b2;
	}
	tbody th {
		font-weight: normal;
		background-color: #e2e2e2;
	}
	:root.dark thead th {
		background-color: #2f2f2f !important;
	}
	:root.dark tbody th {
		background-color: #2f2f2f !important;
	}
	.pink-tbl thead th {
		background-color: #f1cac8;
	}
	.pink-tbl tbody th {
		background-color: #f5dddc;
	}
	.blue-tbl thead th {
		background-color: #c4ccff;
	}
	.blue-tbl tbody th {
		background-color: #d7ddff;
	}
	.green-tbl thead th {
		background-color: #c4e0c6;
	}
	.green-tbl tbody th {
		background-color: #d2e7d3;
	}
	.icon {
		vertical-align: middle;
		height: 1.5em;
		width: auto;
	}
	.icon-l {
		vertical-align: middle;
		height: 2.5em;
		width: auto;
	}
	</style>
	{{/styles-inline}}
{{/inline}}

{{#*inline "content"}}
	<h1 style="text-align:center;">
		{{#> title}}{{/title}}
		{{#> version}}
		<div style="font-size:0.6em;">Ver {{lookup (loadJSON "config.json") "japan"}}</div>
		{{/version}}
	</h1>
{{#> content}}
{{/content}}
{{/inline}}

{{/base.html}}
